<?php $this->layout()->setVariable('heading', 'Add Prize'); ?>
<?php
include_once(__DIR__ . '/partial/edittoolbar.phtml');
?>
<div class="clear">&nbsp;</div>
<?php echo $this->flashMessenger(); ?>
<div id="view-content">
    <div class="col-sm-12">
        <script>
            var baseurl = '<?php echo BASE_URL; ?>';
            $(document).ready(function() {

                $(".reset_schedule").click(function() {

                    $(".reset_schedule").text("Please wait..");
                    $.ajax({
                        url: baseurl + "/admin/prize/getschedule",
                        dataType: 'json',
                        data: {
                        },
                        type: 'post',
                        success: function(resp) {
                            var schedule = resp;
                            $("#schedule").val(JSON.stringify(schedule));
                            $('#editor').jsonEditor(schedule, {change: printJSON});
                            $('.appender').addClass('hidden');
                            alert("Tạo lịch thành công! Để hoàn tất, bạn phải nhấn APPLY hoặc SAVE AND LIST")
                            $(".reset_schedule").text("Init Schedule");
                        }
                    });

                })
            })
        </script>
        <div id="editor" class="json-editor"></div>
        <div>&nbsp;</div>
        <div class="pull-right">
            <button class="btn btn-success reset_schedule" value="Reset Schedule">Init Schedule</button>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div>&nbsp;</div>
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formMessenger()->showMessage($form);
        ?>

        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Title <span class="asterisk">*</span></label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('title')); ?>
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-2 control-label" for="">Description</label>
                <div class="col-sm-10">
                    <?php echo $this->formTextarea($form->get('description')); ?>
                </div>
            </div>
            
             <div class="form-group">
                <label class="col-sm-2 control-label" for="">Quantity</label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('quantity')); ?>
                </div>
            </div>
           <div class="form-group">
                <label class="col-sm-2 control-label" for="">Remaining</label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('remaining')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Schedule</label>
                <div class="col-sm-10">
                    <?php echo $this->formTextarea($form->get('schedule')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">From Date</label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('from_date')); ?>
                </div>
            </div>
           <div class="form-group">
                <label class="col-sm-2 control-label" for="">To Date</label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('to_date')); ?>
                </div>
            </div>
            
             <div class="form-group">
                <label class="col-sm-2 control-label" for="">Location</label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('include_location')); ?>
                </div>
            </div>
           <div class="form-group">
                <label class="col-sm-2 control-label" for="">Exclude Location</label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('exclude_location')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Limit</label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('limit')); ?>
                </div>
            </div>
           


        </div>
        <input type="hidden" name="callaction" id="callaction" value=""/>
        <?php echo $this->formHidden($form->get('id')); ?>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
