<?php $this->layout()->setVariable('heading', 'Manage Prize'); ?>
<?php include_once(__DIR__ . '/partial/indextoolbar.phtml'); ?>
<div class="clear"></div>
<?php echo $this->flashMessenger(); ?>
<div id="view-content">
    <div class="col-sm-12">
        <div class="table-primary">
            <form method="post" action="">
                <?php include_once(__DIR__ . '/partial/filter.phtml'); ?>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="tableColumnCheck"><input type="checkbox" value="1" id="checkall" class="checkall"/></th>
                            <th><?php echo $this->layoutHelper()->header('id', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('title', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('quantity', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('remaining', $state); ?></th>
                            <th>Today remain</th>
                            <th><?php echo $this->layoutHelper()->header('from_date', $state, 'From Date'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('to_date', $state, 'To Date'); ?></th>
                            <th>Limit of 1 user</th>
                            <th>Probability</th>
<!--                        <th>Location</th>
                           <th>Exclude Location</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        $probability = 0;
                        $count = 0;
                        foreach ($items as $item) :
                            ?>
                            <tr>
                                <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $item['id']; ?>"/></td>
                                <td><a href="<?php echo $this->url('prizeadmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $item['id']; ?></a></td>
                                <td><a href="<?php echo $this->url('prizeadmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $this->escapeHtml($item['title']); ?></a></td>
                                <td><?php echo $this->escapeHtml($item['quantity']); ?></td>
                                <td><?php echo $this->escapeHtml($item['remaining']); ?></td>
                                <td><?php echo $this->escapeHtml($item['real_quantity_per_day']); ?></td>
                                <td><?php echo $this->escapeHtml($item['from_date']); ?></td>
                                <td><?php echo $this->escapeHtml($item['to_date']); ?></td>       
                                <td>
                                    <?php
                                    if ($item['limit'])
                                        echo $item['limit'];
                                    else
                                        echo "Unlimited";
                                    ?>
                                </td>  
                                <td>
                                    <?php
                                    $probabilityToday = $this->escapeHtml($item['probability_today']);
                                    echo $probabilityToday;
                                    if ($probabilityToday <> "0%") {
                                        $probability += $probabilityToday;
                                        $count++;
                                    }
                                    ?>
                                </td>
        <!--                    <td><?php //echo $this->escapeHtml($item['include_location']);            ?></td>
                                <td><?php //echo $this->escapeHtml($item['exclude_location']);            ?></td>-->
                            </tr>
                            <?php
                        endforeach;
                        $probability = round($probability / $count);
                        ?>
                    </tbody>
                </table>
                <div class="view-win" style="text-align: center; margin-bottom: 20px;">
                    <h1>
                        Average probability
                    </h1>
                    <h3 style="font-size:50px;"><?php echo $probability; ?>%</h3>
                </div>
                <div class="pagination-container">
                    <?php
                    //echo $paging->getPagingLink();
                    //echo $paging->getPagingInfo();
                    ?>
                </div>
                <input type="hidden" name="callaction" id="callaction" value=""/>
                <input type="hidden" name="choose[]" value=""/>
                <input type="hidden" name="filter_order" id="filter_order" value="<?php echo $filter_order; ?>"/>
                <input type="hidden" name="filter_order_Dir" id="filter_order_Dir" value="<?php echo $filter_order_Dir; ?>"/>
            </form>
        </div>
    </div>
</div>