<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tạo mới tài liệu</h4><br/>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Tiêu đề <span class="asterisk">*</span></label>
                    <div class="col-sm-10">
                        <?php echo $this->formInput($form->get('title')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Tiêu đề phụ</label>
                    <div class="col-sm-10">
                        <?php echo $this->formInput($form->get('subtitle')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Slug <span class="asterisk">*</span></label>
                    <div class="col-sm-10">
                        <?php echo $this->formInput($form->get('slug')); ?>
                    </div>
                </div>

                 <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Danh Mục</label>
                    <div class="col-sm-10">
                        <?php echo $this->formSelect($form->get('category')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Mô Tả Ngắn</label>
                    <div class="col-sm-10">
                        <?php echo $this->formTextarea($form->get('intro')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Nội dung</label>
                    <div class="col-sm-10">
                        <?php echo $this->formTextarea($form->get('body')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label mb-2" for="">Tải lên đề trắc nghiệm (PDF) <span id="pdf-lable" class="badge badge-info badge-pill"><?php echo $data['files']; ?></span></label>
                    <div class="col-sm-10">
                        <?php echo $this->formhidden($form->get('files')); ?>
                        <input type="file" accept=".pdf" id="quiz-pdf">
                        <button type="button" onclick="uploadPDF();" class="btn waves-effect waves-light btn-primary">Tải lên</button>
                        <div id="pdf-status">
                            
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Giới Hạn</label>
                    <div class="col-sm-10">
                        <?php echo $this->formSelect($form->get('featured')); ?>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Status</label>
                    <div class="col-sm-10">
                        <?php echo $this->formSelect($form->get('status')); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function uploadPDF() {
        var formData = new FormData();
        var pdfFile = $('#quiz-pdf')[0].files[0];
        if (pdfFile != undefined) {
            formData.append('pdffile', pdfFile);
        } else {
            alert('Vui lòng chọn file để tải lên');
        }

        $.ajax({
            url: baseurl + '/api/save-pdf-file',
            type: 'post',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.status) {
                    $('#pdf-status').html('<span class="badge badge-success badge-pill">Tải lên thành công</span>');
                    $('#pdf-lable').html(res.filename);
                    $('#files').val(res.filename);
                } else {
                    $('#pdf-status').html('<span class="badge badge-danger badge-pill">Tải lên thất bại</span>');
                }
            }
        });

        console.log(formData);
    }

    function uploadResultPDF() {
        var formData = new FormData();
        var pdfFile = $('#quiz-pdf-results')[0].files[0];
        if (pdfFile != undefined) {
            formData.append('pdffile', pdfFile);
        } else {
            alert('Vui lòng chọn file để tải lên');
        }

        $.ajax({
            url: baseurl + '/api/save-pdf-file',
            type: 'post',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.status) {
                    $('#pdf-results-status').html('<span class="badge badge-success badge-pill">Tải lên thành công</span>');
                    $('#pdf-results-lable').html(res.filename);
                    $('#files_result').val(res.filename);
                } else {
                    $('#pdf-results-status').html('<span class="badge badge-danger badge-pill">Tải lên thất bại</span>');
                }
            }
        });

        console.log(formData);
    }
</script>
