
<?php
$user = $this->user();
?>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th class="tableColumnCheck"><input type="checkbox" value="1" id="checkall" class="checkall"/></th>
            <th><?php echo $this->layoutHelper()->header('id', $state); ?></th>
            <th><?php echo $this->layoutHelper()->header('tiêu đề', $state); ?></th>
            <th><?php echo $this->layoutHelper()->header('mô tả ngắn', $state); ?></th>
            <th><?php echo $this->layoutHelper()->header('số điểm', $state); ?></th>
            <th><?php echo $this->layoutHelper()->header('bắt đầu', $state); ?></th>
            <th><?php echo $this->layoutHelper()->header('kết thúc', $state); ?></th>
            <th><?php echo $this->layoutHelper()->header('ngày tạo', $state); ?></th>
            <th><?php echo $this->layoutHelper()->header('trạng thái', $state); ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($items as $item) : ?>
            <tr>
                <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $item['id']; ?>"/></td>
                <td><a href="<?php echo $this->url('postadmin', array('action' => 'edit', 'id' => $item['id'])) . '?type=' . $type; ?>"><?php echo $item['id']; ?></a></td>
                <td><a href="<?php echo $this->url('postadmin', array('action' => 'edit', 'id' => $item['id'])) . '?type=' . $type; ?>"><?php echo $this->escapeHtml($item['title']); ?></a></td>              
                <td><?php echo $this->escapeHtml($item['intro']); ?></td>
                <td><?php echo $item['score']; ?></td>
                <td><?php echo $item['inventory']; ?></td>
                <td><?php echo $this->layoutHelper()->dateString($item['start_date']) ?></td>
                <td><?php echo $this->layoutHelper()->dateString($item['end_date']) ?></td>
                <td><?php echo $this->layoutHelper()->dateString($item['created']) ?></td>
                <td><?php echo $this->layoutHelper()->publishString($item['status']); ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
