/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.5;
  background: #FFF;
}

a {
  color: #1672c2;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  margin-bottom: 0;
}

p {
  color: #555555;
}
p:last-child {
  margin-bottom: 0px;
}

input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.page-header {
  margin: 0;
  padding: 0;
  border: none;
}

/* header
 -----------------------------------------------------*/
/* footer
 -----------------------------------------------------*/
/* who i am
 -----------------------------------------------------*/
.wrapper {
  max-width: 1450px;
  margin: 0 auto;
}

.ctn-inner {
  margin: 0 auto;
  width: 93%;
}

.block-four-col {
  margin-bottom: 100px;
}
.block-four-col .item {
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  text-align: center;
  padding: 30px 8%;
}
.block-four-col .item .ico-clock {
  width: 14%;
  margin: 0px 0px 25px;
  max-width: 40px;
}
.block-four-col .item h3 {
  color: #555555;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0px 15px;
}

@media screen and (max-width: 767px) {
  .block-four-col {
    margin-bottom: 30px;
  }
  .block-four-col .item {
    margin-bottom: 10px;
  }
  .block-four-col .item .ico-clock {
    margin-bottom: 30px;
  }
  .block-four-col .item h3 {
    margin-bottom: 20px;
  }
}
/* module css 01
 -----------------------------------------------------*/
.page-header {
  border-top: 5px solid #1672c2;
  padding-top: 7px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.page-header .logo-header {
  float: left;
  padding-top: 13px;
}
.page-header .logo-header a {
  display: inline-block;
}
.page-header .right-header {
  float: right;
}
.page-header .right-header .top-header {
  height: 40px;
  position: relative;
}
.page-header .right-header .top-header:after {
  content: "";
  width: 150%;
  height: 1px;
  display: block;
  background: #eeeeee;
  position: absolute;
  left: -50%;
  bottom: 0px;
}
.page-header .right-header .top-header .search {
  margin-right: 20px;
  float: right;
  position: relative;
  width: 50%;
}
.page-header .right-header .top-header .search input[type=search] {
  border-radius: 3px;
  width: 100%;
  padding: 5px 12%;
  border: 1px solid #f3f3f3;
}
.page-header .right-header .top-header .search input[type=search]::-webkit-input-placeholder {
  color: #bcbcbc;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.page-header .right-header .top-header .search input[type=search]::-moz-placeholder {
  color: #bcbcbc;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.page-header .right-header .top-header .search input[type=search]:-ms-input-placeholder {
  color: #bcbcbc;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.page-header .right-header .top-header .search input[type=search]::placeholder {
  color: #bcbcbc;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.page-header .right-header .top-header .search input[type=button] {
  background: url(../images/ico-search.png) no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 4%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #9d9d9d;
  border: none;
}
.page-header .right-header .top-header .language {
  float: right;
  margin-top: 5px;
}
.page-header .right-header .top-header .language .md-hidden {
  margin-top: 5px;
}
.page-header .right-header .top-header .language .description {
  float: none;
  margin: 0px;
}
.page-header .right-header .top-header .language .menu.transition.visible {
  padding: 5px 10px;
  left: -10px;
  width: 120%;
}
.page-header .right-header .top-header .language .item.select-lang.active.selected {
  background: none;
}
.page-header .right-header .top-header .language img {
  margin-right: 5px;
  margin-bottom: 3px;
}
.page-header .right-header .top-header .language .select-lang {
  padding: 0px !important;
}
.page-header .right-header .top-header .language .select-lang:hover {
  background: none;
}
.page-header .right-header .top-header .language .select-lang.other {
  margin-bottom: 5px;
}
.page-header .right-header .nav-bar {
  height: 75px;
  line-height: 75px;
}
.page-header .right-header .nav-bar ul li {
  float: left;
}
.page-header .right-header .nav-bar ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.page-header .right-header .nav-bar ul li a:hover {
  color: #e60112;
}
.page-header .right-header .nav-bar ul li a:last-child {
  padding-right: 0px;
}
.page-header .right-header .nav-bar ul li.active a {
  color: #e60112;
}
.page-header .toggle-menu {
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
  cursor: pointer;
}
.page-header .toggle-menu span {
  display: block;
  margin-bottom: 4px;
  width: 30px;
  height: 4px;
  background: #060606;
}
.page-header .toggle-menu span:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 1199px) {
  .page-header .right-header .top-header:after {
    width: 125%;
    left: -25%;
  }
}
@media screen and (max-width: 991px) {
  .page-header .right-header .top-header:after {
    width: 100%;
    left: 0%;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
  }
  .page-header .logo-header {
    float: none;
    padding-top: 0px;
    text-align: center;
    padding-bottom: 15px;
  }
  .page-header .right-header .top-header {
    height: auto;
    position: static;
  }
  .page-header .right-header .top-header:after {
    display: none;
  }
  .page-header .right-header .top-header .search {
    display: none;
  }
  .page-header .right-header .top-header .language {
    margin: 0;
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .page-header .right-header .nav-bar {
    display: none;
  }
  .page-header .toggle-menu {
    display: inline-block;
  }
}
.header-mobile {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: fixed;
  background: #FFF;
  width: 90%;
  min-height: 100vh;
  z-index: 9999;
  top: 0px;
  left: -110%;
}
.header-mobile .top-header-mb {
  position: relative;
  padding: 0 5%;
  padding-top: 20px;
  margin-bottom: 20px;
}
.header-mobile .top-header-mb .md-close {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.header-mobile .search {
  padding: 10px 5%;
  position: relative;
  background: #f2f2f2;
  width: 100%;
}
.header-mobile .search input[type=search] {
  border-radius: 3px;
  width: 100%;
  padding: 5px 8%;
  border: 1px solid #f3f3f3;
}
.header-mobile .search input[type=search]::-webkit-input-placeholder {
  color: #bcbcbc;
}
.header-mobile .search input[type=search]::-moz-placeholder {
  color: #bcbcbc;
}
.header-mobile .search input[type=search]:-ms-input-placeholder {
  color: #bcbcbc;
}
.header-mobile .search input[type=search]::placeholder {
  color: #bcbcbc;
}
.header-mobile .search input[type=button] {
  background: url(../images/ico-search.png) no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #9d9d9d;
  border: none;
}
.header-mobile .nav-bar-mb {
  padding: 0 5%;
}
.header-mobile .nav-bar-mb ul li {
  width: 100%;
}
.header-mobile .nav-bar-mb ul li a {
  padding: 15px 0px;
  display: block;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.header-mobile .nav-bar-mb ul li a:hover {
  color: #e60112;
}
.header-mobile .nav-bar-mb ul li a:last-child {
  padding-right: 0px;
}
.header-mobile .nav-bar-mb ul li.active a {
  color: #e60112;
}
.header-mobile .bg-mobile {
  position: absolute;
  top: 0px;
  right: -12%;
  width: 12%;
  min-height: 100vh;
  background: #000;
  opacity: 0.5;
}

.slider-banner {
  margin-bottom: 50px;
}
.slider-banner .item {
  position: relative;
}
.slider-banner .item img {
  width: 100%;
  height: auto;
}
.slider-banner .item .content {
  position: absolute;
  left: 3.5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30%;
}
.slider-banner .item .content h3 {
  color: #1672c2;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.slider-banner .owl-nav {
  display: none;
}
.slider-banner .owl-dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider-banner .owl-dots .owl-dot span {
  background: #FFF;
}
.slider-banner .owl-dots .owl-dot:focus {
  outline: none;
}
.slider-banner .owl-dots .owl-dot.active span {
  background: #1678cd;
}

.about-us {
  margin-bottom: 70px;
}
.about-us .content .right-content {
  width: 47.8%;
  float: right;
  margin-right: 3.5%;
}
.about-us .content .left-content {
  width: 48.7%;
  float: right;
}
.about-us .content .left-content img {
  width: 100%;
  height: auto;
}

.our-project {
  margin-bottom: 70px;
}
.our-project .content {
  margin-bottom: 20px;
}
.our-project .slider-our-project {
  position: relative;
}
.our-project .slider-our-project .owl-dots {
  display: none;
}
.our-project .slider-our-project .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 2%;
}
.our-project .slider-our-project .owl-nav .owl-prev:hover {
  background: none;
}
.our-project .slider-our-project .owl-nav .owl-prev:focus {
  outline: none;
}
.our-project .slider-our-project .owl-nav .owl-prev span {
  background: url(../images/slider-our-project-prev.png) no-repeat;
  display: block;
  width: 18px;
  height: 30px;
  text-indent: -9999px;
}
.our-project .slider-our-project .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 2%;
}
.our-project .slider-our-project .owl-nav .owl-next:hover {
  background: none;
}
.our-project .slider-our-project .owl-nav .owl-next:focus {
  outline: none;
}
.our-project .slider-our-project .owl-nav .owl-next span {
  background: url(../images/slider-our-project-next.png) no-repeat;
  display: block;
  width: 18px;
  height: 30px;
  text-indent: -9999px;
}
.our-project .slider-our-project .slider-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.our-project .slider-our-project .slider-content h3 {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.our-project .slider-our-project .slider-content p {
  color: #FFF;
}
.our-project .slider-our-project .slider-content .read-more a {
  color: #FFF;
  border: 1px solid #FFF;
}

.news-event {
  margin-bottom: 70px;
}
.news-event .slider-news {
  position: relative;
  margin-bottom: 20px;
}
.news-event .slider-news .slider-content {
  width: 63%;
  position: absolute;
  left: 4%;
  bottom: 10%;
}
.news-event .slider-news .slider-content h3 {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.news-event .slider-news .slider-content p {
  color: #FFF;
}
.news-event .slider-news .slider-content .day-post img {
  width: 2.5%;
  margin-top: 6px;
  margin-right: 5px;
}
.news-event .slider-news .owl-dots {
  display: none;
}
.news-event .slider-news .owl-nav {
  margin: 0;
}
.news-event .slider-news .owl-nav .owl-prev {
  position: absolute;
  top: -40px;
  right: 40px;
}
.news-event .slider-news .owl-nav .owl-prev:hover {
  background: none;
}
.news-event .slider-news .owl-nav .owl-prev:focus {
  outline: none;
}
.news-event .slider-news .owl-nav .owl-prev span {
  background: url(../images/slider-new-event-prev.png) no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
.news-event .slider-news .owl-nav .owl-prev.disabled span {
  background: url(../images/slider-new-event-prev.jpg) no-repeat;
}
.news-event .slider-news .owl-nav .owl-next {
  position: absolute;
  top: -40px;
  right: 0%;
}
.news-event .slider-news .owl-nav .owl-next:hover {
  background: none;
}
.news-event .slider-news .owl-nav .owl-next:focus {
  outline: none;
}
.news-event .slider-news .owl-nav .owl-next span {
  background: url(../images/slider-new-event-next.png) no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
.news-event .slider-news .owl-nav .owl-next.disabled span {
  background: url(../images/slider-new-event-next.jpg) no-repeat;
}
.news-event .news .title-hot-news {
  margin-bottom: 10px;
}
.news-event .news .title-hot-news img {
  margin-bottom: 6px;
}
.news-event .news .related-news {
  margin-bottom: 10px;
}
.news-event .news .related-news a {
  float: right;
}
.news-event .news .list-news a {
  color: #555;
}
.news-event .news .list-news a img {
  width: 100%;
  height: auto;
}
.news-event .news .list-news .list-news-content {
  padding: 5px 10px 10px 10px;
  border: 1px solid #dadada;
}
.news-event .news .list-news .list-news-content .day-post {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.news-event .event .title-through {
  margin-bottom: 30px;
}
.news-event .event .search {
  position: relative;
}
.news-event .event .search input[type=search] {
  border-radius: 3px;
  width: 100%;
  padding: 10px 10%;
  border: 1px solid #f3f3f3;
}
.news-event .event .search input[type=search]::-webkit-input-placeholder {
  color: #bcbcbc;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.news-event .event .search input[type=search]::-moz-placeholder {
  color: #bcbcbc;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.news-event .event .search input[type=search]:-ms-input-placeholder {
  color: #bcbcbc;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.news-event .event .search input[type=search]::placeholder {
  color: #bcbcbc;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.news-event .event .search input[type=button] {
  background: url(../images/ico-search.png) no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 4%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #9d9d9d;
  border: none;
}
.news-event .event .list-event {
  border-bottom: 1px solid #efefef;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.news-event .event .list-event::-webkit-scrollbar {
  width: 6px;
}
.news-event .event .list-event::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1678cd;
}
.news-event .event .list-event::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #e8e8e8;
}
.news-event .event .list-event .list-sub {
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}
.news-event .event .list-event .list-sub .thumb-event {
  float: left;
  margin-right: 10px;
  width: 33%;
}
.news-event .event .list-event .list-sub .thumb-event img {
  width: 100%;
  height: auto;
}
.news-event .event .list-event .list-sub .content-list-event {
  padding-right: 5px;
  overflow: hidden;
  margin-top: -5px;
}
.news-event .event .list-event .list-sub .content-list-event a {
  font-size: 14px;
  color: #555555;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.news-event .event .list-event .list-sub .content-list-event .day-post span {
  color: #555555;
  font-family: "Roboto Slab", serif;
}
.news-event strong {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .our-project .slider-our-project .slider-content p {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .news-event .event .list-event .list-sub .content-list-event a {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .slider-banner .item .content {
    margin-left: 0;
    width: 100%;
    padding: 0 10%;
  }

  .about-us .content .right-content {
    width: 100%;
    margin: 0;
  }
  .about-us .content .right-content p {
    margin-bottom: 0;
  }
  .about-us .content .left-content {
    width: 100%;
    margin-bottom: 10px;
  }

  .news-event .slider-news .slider-content {
    margin-top: 10px;
    position: static;
    width: 100%;
  }
  .news-event .slider-news .slider-content h3 {
    color: #1b1b1b;
  }
  .news-event .slider-news .slider-content p {
    color: #1b1b1b;
    margin-bottom: 5px;
  }
  .news-event .slider-news .slider-content .day-post img {
    margin-top: 3px;
  }
  .news-event .news {
    margin-bottom: 30px;
  }
  .news-event .event .title-through {
    margin-bottom: 20px;
  }
  .news-event .event .list-event {
    height: 700px !important;
  }
  .news-event .event .list-event .thumb-event {
    max-width: 120px;
  }
  .news-event .event .search {
    margin-bottom: 5px;
  }
}
.whoiam .about-us {
  padding-top: 60px;
}

.leader-team {
  margin-bottom: 70px;
}
.leader-team .intro {
  margin-bottom: 30px;
}
.leader-team .content .item {
  text-align: center;
}
.leader-team .content .item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555555;
}
.leader-team .content .item p {
  color: #1672c2;
}
.leader-team .content .item img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.talk-about-us {
  margin-bottom: 100px;
}
.talk-about-us .title-through {
  margin-bottom: 50px;
}
.talk-about-us .content .slider-talk .item {
  padding: 0 10%;
  text-align: center;
}
.talk-about-us .content .slider-talk .item img {
  width: 2.5%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.talk-about-us .content .slider-talk .item p {
  margin-bottom: 30px;
}
.talk-about-us .content .slider-talk .item span {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.talk-about-us .content .slider-talk .owl-nav {
  display: none;
}
.talk-about-us .content .slider-talk .owl-dots {
  margin-top: 30px;
}
.talk-about-us .content .slider-talk .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
}
.talk-about-us .content .slider-talk .owl-dots .owl-dot span {
  background: #e2e2e2;
}
.talk-about-us .content .slider-talk .owl-dots .owl-dot:focus {
  outline: none;
}
.talk-about-us .content .slider-talk .owl-dots .owl-dot.active span {
  background: #1678cd;
}

.sponsor {
  margin-bottom: 120px;
}
.sponsor .title-through {
  margin-bottom: 50px;
}
.sponsor .content ul li {
  float: left;
  width: 19%;
  margin-right: 1.2%;
  margin-bottom: 12px;
}
.sponsor .content ul li:nth-child(5), .sponsor .content ul li:nth-child(10) {
  margin-right: 0%;
}
.sponsor .content ul li a {
  display: inline-block;
}
.sponsor .content ul li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .whoiam .about-us {
    padding-top: 30px;
  }

  .leader-team {
    margin-bottom: 30px;
  }
  .leader-team .content .item {
    padding: 0 5%;
    margin-bottom: 50px;
  }

  .talk-about-us {
    margin-bottom: 30px;
  }
  .talk-about-us .content .slider-talk .item {
    padding: 0;
  }
  .talk-about-us .content .slider-talk .item img {
    width: 6.7%;
  }

  .sponsor {
    margin-bottom: 30px;
  }
  .sponsor .content ul li {
    width: 32.5%;
  }
  .sponsor .content ul li:nth-child(5), .sponsor .content ul li:nth-child(10) {
    margin-right: 1.2%;
  }
  .sponsor .content ul li:nth-child(3), .sponsor .content ul li:nth-child(6), .sponsor .content ul li:nth-child(9) {
    margin-right: 0px;
  }
}
.whatdowedo .our-project {
  padding-top: 50px;
}

.highlight {
  margin-bottom: 50px;
}
.highlight .ctn-inner {
  position: relative;
}
.highlight .select-highlight {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -5px;
}
.highlight .select-highlight .bg-select {
  width: 230px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #FFF;
}
.highlight .select-highlight .ui.dropdown.selection {
  text-align: center;
  border-radius: 10px;
  min-width: 190px;
  border: 1px solid #555555;
}
.highlight .select-highlight .ui.dropdown.selection .item {
  text-align: center;
  background: #FFF;
}
.highlight .select-highlight .ui.dropdown.selection .menu.transition {
  border: 1px solid #555;
}
.highlight .select-highlight .dropdown.icon {
  background: url(../images/ico-select.png) no-repeat;
  width: 16px !important;
  height: 9px !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 !important;
  padding: 0 !important;
}
.highlight .select-highlight .dropdown.icon:before {
  display: none;
}
.highlight .title-year {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: bold;
}
.highlight .content .item {
  margin-bottom: 50px;
}
.highlight .content .item h3 {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555555;
}
.highlight .content .item img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.highlight .read-more {
  display: none;
}

.meaning {
  margin-bottom: 100px;
}
.meaning .content {
  margin-bottom: 30px;
}
.meaning .image-meaning .md-scroll img {
  float: left;
  width: 25%;
}

.title-page-detail {
  padding: 20px 0;
  background: #e8e8e8;
}
.title-page-detail p {
  color: #252525;
  font-family: "Roboto Slab", serif;
}

.blk-yt {
  margin-bottom: 50px;
}

.blk-yt1 {
  padding-top: 30px;
}
.blk-yt1 .title-through {
  margin-bottom: 50px;
}
.blk-yt1 .title-through h3 {
  margin-bottom: 20px;
}
.blk-yt1 .interactive {
  margin-bottom: 30px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0px;
}
.blk-yt1 .interactive ul {
  float: left;
}
.blk-yt1 .interactive ul li {
  float: left;
  margin-right: 20px;
  padding-right: 15px;
  border-right: 1px solid #e5e5e5;
}
.blk-yt1 .interactive ul li span {
  margin-right: 10px;
  color: #555;
}
.blk-yt1 .interactive ul li:first-child span {
  color: #1672c2;
}
.blk-yt1 .interactive .time-day {
  display: inline-block;
  float: right;
}
.blk-yt1 .content .info {
  margin-bottom: 30px;
}
.blk-yt1 .content .thumb-detail {
  padding: 0 15%;
  text-align: center;
}
.blk-yt1 .content .thumb-detail img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.blk-yt1 .content .thumb-detail span {
  font-size: 13px;
}

.blk-yt4 .ctn-inner {
  border-bottom: 1px solid #999999;
  padding-bottom: 35px;
}
.blk-yt4 .info .slider-blk-yt4 {
  margin-bottom: 30px;
  position: relative;
}
.blk-yt4 .info .slider-blk-yt4 .owl-dots {
  display: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 2%;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-prev:hover {
  background: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-prev:focus {
  outline: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-prev span {
  background: url(../images/slider-our-project-prev.png) no-repeat;
  display: block;
  width: 18px;
  height: 30px;
  text-indent: -9999px;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 2%;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-next:hover {
  background: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-next:focus {
  outline: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-next span {
  background: url(../images/slider-our-project-next.png) no-repeat;
  display: block;
  width: 18px;
  height: 30px;
  text-indent: -9999px;
}
.blk-yt4 .info span {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}

.blk-yt5 {
  margin-bottom: 0px;
}
.blk-yt5 .content .item {
  margin-bottom: 50px;
}
.blk-yt5 .content .item h3 {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555555;
}
.blk-yt5 .content .item img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.detail .title-detail {
  margin-bottom: 20px;
}
.detail .title-detail h3 {
  color: #555555;
  font-size: 20px;
}

@media screen and (max-width: 550px) {
  .blk-yt1 .interactive ul li {
    margin-right: 10px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 485px) {
  .blk-yt1 .interactive ul {
    float: none;
    margin-bottom: 10px;
  }
  .blk-yt1 .interactive .time-day {
    float: none;
  }
}
@media screen and (max-width: 767px) {
  .blk-yt {
    margin-bottom: 30px;
  }

  .highlight {
    margin-bottom: 0px;
  }
  .highlight .select-highlight {
    position: static;
    margin-bottom: 30px;
  }
  .highlight .select-highlight .bg-select {
    display: none;
  }
  .highlight .content .row:nth-child(2) {
    display: none;
  }
  .highlight .read-more {
    display: block;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .meaning {
    margin-bottom: 30px;
  }
  .meaning .image-meaning {
    max-width: 800px;
    height: auto;
    margin: 20px auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .meaning .image-meaning::-webkit-scrollbar {
    width: 6px;
  }
  .meaning .image-meaning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1678cd;
  }
  .meaning .image-meaning::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #e8e8e8;
  }
  .meaning .md-scroll {
    width: 4000px;
  }
  .meaning img {
    width: 300px;
    height: auto;
    display: inline-block;
  }
}
.title-through {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.title-through .line-through {
  width: 100%;
  height: 1px;
  background: #1678cd;
  display: block;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.title-through h3 {
  display: inline-block;
  font-weight: bold;
  color: #1678cd;
}

.read-more {
  margin-top: 20px;
  display: inline-block;
}
.read-more a {
  padding: 8px 40px;
  border: 1px solid #1678cd;
  border-radius: 10px;
}

.day-post img {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.day-post span {
  overflow: hidden;
  font-size: 12px;
}

.md-mobile {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .title-through .line-through {
    display: none;
  }
  .title-through h3 {
    font-size: 20px;
  }

  .md-desktop {
    display: none !important;
  }

  .md-mobile {
    display: block !important;
  }
}
.maps {
  position: relative;
}
.maps .form-maps {
  width: 100%;
  background: #efefef;
}
.maps .form-maps form {
  padding: 20px 0;
  width: 75%;
  display: table;
  margin: 0 auto;
}
.maps .form-maps form .ui.selection.dropdown {
  position: relative;
  min-width: 17%;
  float: left;
  height: 40px;
  min-height: 30px;
  padding: 12px 20px;
  font-size: 13px;
  border-top: 2px solid #dfe6eb;
  border-bottom: 2px solid #dfe6eb;
  border-left: 2px solid #dfe6eb;
  border-right: 1px solid #FFF;
  border-radius: 2px 0 0 2px;
}
.maps .form-maps form .ui.selection.dropdown:after {
  content: "";
  height: 20px;
  width: 1px;
  background: #cccccc;
  display: block;
  position: absolute;
  right: -2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.maps .form-maps form .ui.selection.dropdown .menu > .item {
  font-size: 13px;
}
.maps .form-maps form .dropdown.icon {
  top: 10px !important;
  right: 2em !important;
}
.maps .form-maps form input[type=text] {
  width: 60%;
  padding: 0 10px;
  float: left;
  height: 40px;
  border-top: 2px solid #dfe6eb;
  border-bottom: 2px solid #dfe6eb;
  border-right: 2px solid #dfe6eb;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #FFF;
  margin-right: 10px;
}
.maps .form-maps form input[type=button] {
  height: 40px;
  width: 15%;
  border-radius: 20px;
  border: none;
  background: #1675c7;
  color: #FFF;
}

.page-footer {
  border-top: 1px solid #e0e0e0;
  border-bottom: 5px solid #1672c2;
  position: relative;
}
.page-footer .nav-bar-footer {
  height: 75px;
  line-height: 75px;
}
.page-footer .nav-bar-footer ul {
  display: table;
  margin: 0 auto;
}
.page-footer .nav-bar-footer ul li {
  float: left;
}
.page-footer .nav-bar-footer ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #666666;
}
.page-footer .nav-bar-footer ul li a:hover {
  color: #555555;
}
.page-footer .nav-bar-footer ul li a:last-child {
  padding-right: 0px;
}
.page-footer .nav-bar-footer ul li.active a {
  font-family: "Roboto Slab", serif;
  color: #555555;
  font-size: bold;
}
.page-footer .main-footer {
  padding-bottom: 30px;
}
.page-footer .main-footer .ctn-inner {
  border-top: 2px solid #e0e0e0;
  padding-top: 30px;
}
.page-footer .main-footer .logo-footer {
  padding-left: 18px;
  width: 22.5%;
  float: left;
}
.page-footer .main-footer .logo-footer a {
  display: inline-block;
}
.page-footer .main-footer .content-footer {
  width: 77.5%;
  float: left;
}
.page-footer .main-footer .content-footer p {
  margin-bottom: 0px;
  line-height: 2em;
  color: #555;
}
.page-footer .main-footer .content-footer h2 {
  font-size: 20px;
  color: #1672c2;
  margin-bottom: 10px;
}
.page-footer .main-footer .content-footer .left-content {
  float: left;
  width: 42.5%;
  margin-right: 10%;
}
.page-footer .main-footer .content-footer .right-content {
  float: left;
}
.page-footer .bottom-footer {
  border-top: 2px solid #e0e0e0;
  height: 60px;
  line-height: 60px;
}
.page-footer .bottom-footer .copy-right {
  float: left;
  height: 60px;
}
.page-footer .bottom-footer .copy-right p {
  line-height: 60px;
}
.page-footer .bottom-footer .social-footer {
  float: right;
}
.page-footer .bottom-footer .social-footer ul li {
  float: left;
  padding: 0 10px;
}
.page-footer .bottom-footer .social-footer ul li:last-child {
  padding-right: 0px;
}
.page-footer .bottom-footer .social-footer ul li a i {
  color: #b4b4bb;
}
.page-footer .bottom-footer .social-footer ul li a i:hover {
  color: #1678cd;
}

@media screen and (max-width: 767px) {
  .page-footer .nav-bar-footer {
    display: none;
  }
  .page-footer .main-footer .ctn-inner {
    border: none;
  }
  .page-footer .main-footer .logo-footer {
    padding-left: 0px;
    float: none;
    margin-bottom: 30px;
    width: 100%;
  }
  .page-footer .main-footer .content-footer {
    width: 100%;
    float: none;
  }
  .page-footer .main-footer .content-footer .left-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .page-footer .bottom-footer {
    margin-bottom: 10px;
    position: relative;
    height: auto;
    line-height: 1.5;
  }
  .page-footer .bottom-footer:after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background: #e0e0e0;
    position: absolute;
    left: 0px;
    bottom: 50px;
  }
  .page-footer .bottom-footer .copy-right {
    height: 40px;
    line-height: 40px;
    float: none;
  }
  .page-footer .bottom-footer .copy-right p {
    line-height: 40px;
  }
  .page-footer .bottom-footer .social-footer {
    height: 50px;
    line-height: 50px;
    float: none;
  }

  .maps .form-maps form {
    width: 90%;
  }
  .maps .form-maps form input[type=button] {
    width: 20%;
  }
}
@media screen and (max-width: 650px) {
  .maps .form-maps form {
    width: 90%;
  }
  .maps .form-maps form input[type=text] {
    width: 40%;
    font-size: 11px;
  }
  .maps .form-maps form .ui.selection.dropdown {
    font-size: 11px;
  }
  .maps .form-maps form input[type=button] {
    font-size: 11px;
  }
}
@media screen and (max-width: 650px) {
  .maps .form-maps form {
    width: 95%;
  }
  .maps .form-maps form input[type=text] {
    width: 50%;
  }
  .maps .form-maps form input[type=button] {
    width: 25%;
  }
}
@media screen and (max-width: 460px) {
  .maps .form-maps form {
    width: 95%;
  }
  .maps .form-maps form input[type=text] {
    width: 40%;
  }
}
@media screen and (max-width: 992px) {
  .maps .form-maps form .dropdown.icon {
    right: 0.5em !important;
  }

  .page-footer .main-footer .content-footer .left-content {
    width: 100%;
    margin-right: 0px;
  }
}
@media screen and (max-width: 415px) {
  .page-footer .bottom-footer .copy-right {
    height: 60px;
  }
  .page-footer .bottom-footer .copy-right p {
    line-height: 30px;
  }
}
