<style type="text/css">
    .quiz-paper {max-height: 500px; overflow-y: scroll;}
    .quiz-paper li {padding: 5px 0;}
    .quiz-paper li .title {font-weight: bold; width: 22%;}
</style>
<div class="container">
    <?php if($user && $user['id']) :?>
        <?php if($contest_id && ($user['member'] || !$quiz['featured']) ) : ?>
        <div class="row">
            <div class="col col-xl-8 order-xl-1 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
                <?php if ($quiz["files"] != ""): ?>
                    <!-- <iframe src="<?php echo BASE_URL_MEDIA_FILE.$quiz["files"]; ?>" type=”application/pdf” onload="this.width='100%';this.height=screen.height;"></iframe> -->
                    <iframe class="pdfjs-viewer" width="100%" height="800px" src="<?php echo BASE_URL_MEDIA_FILE.'/pdfviewer/web/viewer.html?file=../../'.$quiz["files"]; ?>"></iframe>
                <?php else: ?>
                    Bài thi không tồn tại
                <?php endif; ?>
            </div>
            <div class="col col-xl-4 order-xl-2 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
                <div class="ui-block">

                    <!-- W-Build-Fav -->
                    
                    <div class="widget w-build-fav" style="padding: 5px;">
                    
                        <div class="widget-thumb">
                            <img width="100" src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/alarm.svg" alt="alarm">
                        </div>
                    
                        <div class="content text-center">
                            <span>Save your time</span>
                            <a href="javascript:void(0);" id="timer" style="font-weight: bold; font-size: 30px;" class="h4 title">00:00</a>
                            <p>Bài thi sẽ tự động đóng và chấm điểm khi hết giờ làm bài.</p>
                            <a href="javascript:void(0);" onclick="App.Quiz.end();" class="btn btn-blue btn-md">NỘP BÀI<div class="ripple-container"></div></a>
                        </div>


                    </div>
                    
                    <!-- ... end W-Build-Fav -->
                    

                </div>
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Phiếu trắc nghiệm</h6>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                    </div>
                    <div class="ui-block-content">

                        
                        <!-- W-Personal-Info -->
                        
                        <ul class="widget w-personal-info quiz-paper">
                            <?php foreach($quizResults as $key => $quizResult): ?>
                                    <li class="radio">
                                        <span class="title">Câu <?php echo $key + 1; ?></span>
                                        <label>
                                            <input value="1" type="radio" name="quiz-anwser-<?php echo $key + 1; ?>"><span class="circle"></span><span class="check"></span>
                                            A
                                        </label>
                                        <label>
                                            <input value="2" type="radio" name="quiz-anwser-<?php echo $key + 1; ?>"><span class="circle"></span><span class="check"></span>
                                            B
                                        </label>
                                        <label>
                                            <input value="3" type="radio" name="quiz-anwser-<?php echo $key + 1; ?>"><span class="circle"></span><span class="check"></span>
                                            C
                                        </label>
                                        <label>
                                            <input value="4" type="radio" name="quiz-anwser-<?php echo $key + 1; ?>"><span class="circle"></span><span class="check"></span>
                                            D
                                        </label>
                                    </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </div>
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Thông tin bài thi</h6>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                    </div>
                    <div class="ui-block-content">

                        
                        <!-- W-Personal-Info -->
                        
                        <ul class="widget w-personal-info">
                            <!-- <li>
                                <span class="title">Khối lớp:</span>
                                <span class="text"><?php echo ($quiz['category'] > 20) ? ($quiz['category'] / 10) : $quiz['category']; ?></span>
                            </li> -->
                            <li>
                                <span class="title">Đề thi:</span>
                                <span class="text"><?php echo count($quizResults); ?> câu</span>
                            </li>
                            <li>
                                <span class="title">Thời gian:</span>
                                <span class="text"><?php echo $quiz['duration']; ?> Phút</span>
                            </li>
                            <li>
                                <span class="title">Đáp án:</span>
                                <span class="text">Chỉ xem đáp án</span>
                            </li>
                            
                            <li>
                                <span class="title">Ngày tạo:</span>
                                <span class="text"><?php echo $this->layoutHelper()->dateString($quiz['created']) ?></span>
                            </li>

                            <li>
                                <span class="title">Soạn đề:</span>
                                <span class="text">Thầy Thanh</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            // start quiz
            let QUIZContest = <?php echo $contest_id; ?>;
            let QUIZPost = <?php echo $quiz['id']; ?>;
            let QUIZUser = <?php echo $user['id']; ?>;
            let QUIZTIMER = <?php echo $quiz['duration']; ?>;
            let QUIZMaximum = <?php echo count($quizResults); ?>;
            let QUIZResultPage = '<?php echo $this->url('quiz-result', array('slug'=>$quiz['slug'], 'id'=> $contest_id)); ?>';
        </script>

        <?php else: ?>
        <div class="row">
            <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <img src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/teacher.svg" alt="error_500">
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                    <h1 class="page-403-sup-title">403</h1>
                    <h2 class="h1 heading-title">Lỗi xem trang</h2>
                    <p class="heading-text">Bạn không thể xem được nội dung này<br/>Vui lòng liên hệ thầy Thanh <3
                    </p>
                </div>
                <a href="/www/quiz" class="btn btn-primary btn-lg">Về trang chủ</a>
            </div>
        </div>
        <?php endif; ?>

    <?php else: ?>
        <div class="row">
            <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <img src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/login.svg" alt="error_500">
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                    <h1 class="page-500-sup-title">403</h1>
                    <h2 class="h1 heading-title">Đăng nhập vào lớp</h2>
                    <p class="heading-text">Bạn cần đăng nhập vào lớp để xem được nội dung này!
                    </p>
                </div>
                <a href="javascript:void(0);" onclick="App.Popup.openLogin();" class="btn btn-primary btn-lg">Đăng nhập</a>
            </div>
        </div>
    <?php endif; ?>
</div>