<style type="text/css">
    .quiz-paper {max-height: auto; overflow-y: scroll;}
    .quiz-paper li {padding: 5px 0; width: 50%; float: left;}
    .quiz-paper li .title {font-weight: bold;}
    .correct .check {
        background-color: #28a745 !important;
    }
    .correct .circle {
        border-color: #28a745 !important;
    }
    .wrong .check {
        background-color: #38a9ff !important;
    }
    .wrong .circle {
        border-color: #38a9ff !important;
    }
</style>
<div class="container">
    <?php if($user && $user['id']) :?>
        <?php if(($user['member'] || !$quiz['featured']) && $contest["result1"] && $user['id'] == $contest["user_id"]) : ?>
        <div class="row">
            <div class="col col-xl-8 order-xl-1 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Kết quả trắc nghiệm
                            <?php if (isset($_GET['f']) && $_GET['f']) {echo '<span class="text-danger">(Kết quả bài làm đầu tiên)</span>'; } ?>
                        </h6>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                    </div>
                    <div class="ui-block-content">

                        
                        <!-- W-Personal-Info -->
                        <?php 
                            $sentence_do = 0; $sentence_correct = 0; $sentence_wrong = 0;
                            function formatRadioBox($pos, $anw = 0, $match = 0) {
                                $format = '';

                                if ($pos == $match) {
                                    $format = ' class="wrong"';
                                }

                                if($anw) {
                                    if ($pos == $anw) {
                                        if ($anw == $match) {
                                            $format = ' class="correct"';
                                        }
                                    }
                                }

                                echo $format;
                            }

                            function checkRadioBox($pos, $anw = 0, $match = 0) {
                                $format = ' disabled=""';
                                if($anw) {
                                    if ($pos == $anw) {
                                        if ($anw == $match) {
                                            $format = ' checked=""';
                                        } else {
                                            $format = ' checked=""';
                                        }
                                    }
                                }

                                if ($pos == $match) {
                                    $format = ' checked=""';
                                }

                                echo $format;
                            }

                            $contest_quiz = $contest["result2"] ? $contest["result2"] : $contest["result1"];
                            if (isset($_GET['f']) && $_GET['f']) {
                                $contest_quiz = $contest["result1"];
                            }
                            $contest_quiz = json_decode($contest_quiz);
                        ?>
                        
                        <ul class="widget w-personal-info quiz-paper">
                            <?php foreach($quizResults as $key => $quizResult): 
                                    if (count($contest_quiz) > $key) {
                                        $anw = $contest_quiz[$key];
                                        if ($anw) {
                                            $sentence_do++;
                                            if ($anw == $quizResult) {
                                                $sentence_correct++;
                                            } else {
                                                $sentence_wrong++;
                                            }
                                        }
                                    } else {
                                        $anw = 0;
                                    }
                                    ?>
                                    <li class="radio">
                                        <span class="title">Câu <?php echo $key + 1; ?></span>
                                        <label<?php formatRadioBox(1, $anw, $quizResult); ?>>
                                            <input value="1" <?php checkRadioBox(1, $anw, $quizResult); ?> type="radio"><span class="circle"></span><span class="check"></span>
                                            A
                                        </label>
                                        <label<?php formatRadioBox(2, $anw, $quizResult); ?>>
                                            <input value="2" <?php checkRadioBox(2, $anw, $quizResult); ?> type="radio"><span class="circle"></span><span class="check"></span>
                                            B
                                        </label>
                                        <label<?php formatRadioBox(3, $anw, $quizResult); ?>>
                                            <input value="3" <?php checkRadioBox(3, $anw, $quizResult); ?> type="radio" ><span class="circle"></span><span class="check"></span>
                                            C
                                        </label>
                                        <label<?php formatRadioBox(4, $anw, $quizResult); ?>>
                                            <input value="4" <?php checkRadioBox(4, $anw, $quizResult); ?> type="radio" ><span class="circle"></span><span class="check"></span>
                                            D
                                        </label>
                                    </li>
                            <?php endforeach; ?>
                            <?php $mark = $sentence_correct / (count($quizResults)) * 10; ?>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col col-xl-4 order-xl-2 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
                <div class="ui-block" data-mh="pie-chart">
                    <div class="ui-block-title">
                        <div class="h6 title">Chấm Điểm</div>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                    </div>
                    <div class="ui-block-content">
                        <div class="chart-with-statistic">
                            <ul class="statistics-list-count">
                                <li>
                                    <div class="points">
                                        <span>
                                            <span class="statistics-point bg-purple"></span>
                                            Trả lời
                                        </span>
                                    </div>
                                    <div class="count-stat"><?php echo $sentence_do; ?></div>
                                    <input id="sentence_notdo" type="hidden" value="<?php echo (count($quizResults) - $sentence_do); ?>" />
                                </li>
                                <li>
                                    <div class="points">
                                        <span>
                                            <span class="statistics-point" style="background-color: #28a745"></span>
                                            Đúng
                                        </span>
                                    </div>
                                    <div class="count-stat"><?php echo $sentence_correct; ?></div>
                                    <input id="sentence_correct" type="hidden" value="<?php echo $sentence_correct; ?>" />
                                </li>
                                <li>
                                    <div class="points">
                                        <span>
                                            <span class="statistics-point" style="background-color: #ff5e3a"></span>
                                            Sai
                                        </span>
                                    </div>
                                    <div class="count-stat"><?php echo $sentence_wrong; ?></div>
                                    <input id="sentence_wrong" type="hidden" value="<?php echo $sentence_wrong; ?>" />
                                </li>
                            </ul>


                            <div class="chart-js chart-js-pie-color">
                                <canvas id="pie-chart" width="180" height="180"></canvas>
                                <div class="general-statistics"><?php echo $mark; ?>
                                    <span>Điểm</span>
                                </div>
                            </div>

                            <?php if ($quiz['files_result']): ?>
                                <a data-toggle="modal" data-target="#open-photo-popup-v2" href="#" style="margin-top: 20px;" class="btn bg-twitter full-width">Xem lời giải<div class="ripple-container"></div></a>
                            <?php endif; ?>
                             <a href="<?php echo $this->url('quiz-details', array('post_id'=> $quiz['id'],'slug'=>$quiz['slug'], 'id'=> $contest['id'])); ?>" style="margin-top: 0px;" class="btn bg-purple full-width">Làm lại<div class="ripple-container"></div></a>
                        </div>
                    </div>

                </div>
                
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Thông tin bài thi</h6>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                    </div>
                    <div class="ui-block-content">

                        
                        <!-- W-Personal-Info -->
                        
                        <ul class="widget w-personal-info">
                            <!-- <li>
                                <span class="title">Khối lớp:</span>
                                <span class="text"><?php echo ($quiz['category'] > 20) ? ($quiz['category'] / 10) : $quiz['category']; ?></span>
                            </li> -->
                            <li>
                                <span class="title">Đề thi:</span>
                                <span class="text"><?php echo count($quizResults); ?> câu</span>
                            </li>
                            <li>
                                <span class="title">Thời gian:</span>
                                <span class="text"><?php echo $quiz['duration']; ?> Phút</span>
                            </li>
                            <li>
                                <span class="title">Đáp án:</span>
                                <span class="text">Chỉ xem đáp án</span>
                            </li>
                            
                            <li>
                                <span class="title">Ngày tạo:</span>
                                <span class="text"><?php echo $this->layoutHelper()->dateString($quiz['created']) ?></span>
                            </li>

                            <li>
                                <span class="title">Soạn đề:</span>
                                <span class="text">Thầy Thanh</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-has-swiper" id="open-photo-popup-v2" tabindex="-1" role="dialog" aria-labelledby="open-photo-popup-v2" aria-hidden="true">
            <div class="modal-dialog window-popup open-photo-popup open-photo-popup-v2" role="document">
                <div class="modal-content">
                    <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL ?>/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                    </a>

                    <div class="modal-body">
                         <?php if ($quiz["files_result"] != ""): ?>
                            <iframe class="pdfjs-viewer" width="100%" height="800px" src="<?php echo BASE_URL_MEDIA_FILE.'/pdfviewer/web/viewer.html?file=../../'.$quiz["files_result"]; ?>"></iframe>
                        <?php else: ?>
                            Lời giải không tồn tại
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>

        <?php else: ?>
        <div class="row">
            <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <img src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/teacher.svg" alt="error_500">
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                    <h1 class="page-403-sup-title">403</h1>
                    <h2 class="h1 heading-title">Lỗi xem trang</h2>
                    <p class="heading-text">Bạn không thể xem được nội dung này<br/>Vui lòng liên hệ thầy Thanh <3
                    </p>
                </div>
                <a href="/www/quiz" class="btn btn-primary btn-lg">Về trang chủ</a>
            </div>
        </div>
        <?php endif; ?>

    <?php else: ?>
        <div class="row">
            <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <img src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/login.svg" alt="error_500">
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                    <h1 class="page-500-sup-title">403</h1>
                    <h2 class="h1 heading-title">Đăng nhập vào lớp</h2>
                    <p class="heading-text">Bạn cần đăng nhập vào lớp để xem được nội dung này!
                    </p>
                </div>
                <a href="javascript:void(0);" onclick="App.Popup.openLogin();" class="btn btn-primary btn-lg">Đăng nhập</a>
            </div>
        </div>
    <?php endif; ?>
</div>