<?php $this->layout()->setVariable('heading', 'Lucky'); ?>
<?php
include_once(__DIR__ . '/partial/indextoolbar.phtml');
?>
<div class="clear"></div>
<?php echo $this->flashMessenger(); ?>
<div id="view-content">
    <div class="col-sm-12">
        <div class="table-primary">
            <form method="post" action="">
                <?php include_once(__DIR__ . '/partial/filter.phtml'); ?>
                <div class="clearfix">&nbsp;</div>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="tableColumnCheck"><input type="checkbox" value="1" id="checkall" class="checkall"/></th>
                            <th><?php echo $this->layoutHelper()->header('id', $state); ?></th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>License B2</th>
                            <th><?php echo $this->layoutHelper()->header('lucky_code', $state, 'Lucky Code'); ?></th>
                            <th>Prize</th>   
                            <th>Site</th>  
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($items as $item) : ?>
                            <tr>
                                <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $item['id']; ?>"/></td>
                                <td><?php echo $item['id']; ?></td>
                                <td><?php echo $this->escapeHtml(@$item['user_name']); ?></td>
                                <td><?php echo $this->escapeHtml(@$item['user_phone']); ?></td>
                                <td><?php echo $this->escapeHtml(@$item['user_license_b2']); ?></td>
                                <td><?php echo $item['lucky_code'] ? $this->escapeHtml($item['lucky_code']) : '---'; ?></td>
                                <td><?php
                                    if (@$item['prize_id'] > 0) {
                                        $prize = $controller->getPrize(@$item['prize_id']);
                                        echo $this->escapeHtml($prize['title']);
                                    } else {
                                        echo '---';
                                    }
                                    ?>
                                </td>
                                <td><?php echo $this->escapeHtml(@$item['user_site']); ?></td>
                                <td><?php echo $this->layoutHelper()->dateString($item['created']); ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

                <div class="pagination-container">
                    <?php
                    echo $paging->getPagingLink();
                    echo $paging->getPagingInfo();
                    ?>
                </div>
                <input type="hidden" name="callaction" id="callaction" value=""/>
                <input type="hidden" name="choose[]" value=""/>
                <input type="hidden" name="filter_order" id="filter_order" value="<?php echo $filter_order; ?>"/>
                <input type="hidden" name="filter_order_Dir" id="filter_order_Dir" value="<?php echo $filter_order_Dir; ?>"/>
            </form>
        </div>     
    </div>
</div>