<?php $this->layout()->setVariable('heading', 'Chỉnh sửa'); ?>
<?php
    $type = $form->get('type')->getValue();

    $permission = true;
    $user = $this->user();
    if( $type == 'employee') {
        if (!$this->UserRole()->UserRolePermission($user, 'employee_manage')) {
            $permission = false;
        }
    }

    if( $type == 'customer' || $type == 'company') {
        if (!$this->UserRole()->UserRolePermission($user, 'customer_role')) {
            $permission = false;
        }
    }
?>
<?php if ($permission) : ?>
    <?php include(__DIR__ . '/partial/edittoolbar.phtml'); ?>
    <?php echo $this->flashMessenger(); ?>
    <div class="clear">&nbsp;</div>
    <div id="view-content">
        <div class="col-sm-12">
            <?php
            $form = $this->form;
            $type = $form->get('type')->getValue();
            $form->prepare();

            echo $this->form()->openTag($form);
            echo $this->formMessenger()->showMessage($form);
            ?>

            <div class="panel-body">
                <?php
                if($type){
                    include_once(__DIR__ . "/partial/".$type."_full.phtml");
                }
                else if(file_exists(__DIR__ . "/partial/form_full.phtml")) {
                    include_once(__DIR__ . "/partial/form_full.phtml");
                }
                ?>
            </div>
            <?php echo $this->formHidden($form->get('id')); ?>
            <input type="hidden" name="callaction" id="callaction" value=""/>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>
<?php else: ?>
    <?php include_once('403.phtml'); ?>
<?php endif; ?>