<?php $this->layout()->setVariable('heading', 'Manage User'); ?>
<?php
    $type = $_GET['type'];

    $permission = true;
    $high_permission = false;

    $user = $this->user();
    if( $type == 'employee') {
        if (!$this->UserRole()->UserRolePermission($user, 'employee_manage')) {
            $permission = false;
        } else {
            $high_permission = true;
        }
    }
?>
<?php if ($permission) : ?>
    <?php
        if ($high_permission) {
            if (file_exists( __DIR__.'/partial/'.$type.'_indextoolbar.phtml') ) {
                include_once(__DIR__.'/partial/'.$type.'_indextoolbar.phtml');
            } else {
                include_once(__DIR__ . '/partial/indextoolbar.phtml');
            }
        }
    ?>
    <?php echo $this->flashMessenger(); ?>
    <div class="clear"></div>
    <div id="view-content">
        <div class="col-sm-12">
            <form method="post" action="" role="form">
                <?php
                if (file_exists( __DIR__.'/partial/'.$type.'_filter.phtml') ) {
                    include_once(__DIR__.'/partial/'.$type.'_filter.phtml');
                } else {
                    include_once(__DIR__ . '/partial/filter.phtml');
                }
                ?>
                <!--<div class="clearfix">&nbsp;</div>-->
                <div class="">
                    <?php
                    if (file_exists(__DIR__ . "/".$template."partial/".$type."_index.phtml")) {
                        include_once(__DIR__ . "/".$template."partial/".$type."_index.phtml");
                    } elseif (file_exists(__DIR__ . "/".$template."partial/default_index.phtml")) {
                        include_once(__DIR__ . "/".$template."partial/default_index.phtml");
                    }
                    ?>
                </div>
                <div class="pagination-container">
                    <?php
                    echo $paging->getPagingLink();
                    echo $paging->getPagingInfo();
                    ?>
                </div>
                <input type="hidden" name="callaction" id="callaction" value=""/>
                <input type="hidden" name="choose[]" value=""/>
                <input type="hidden" name="filter_order" id="filter_order" value="<?php echo $filter_order; ?>"/>
                <input type="hidden" name="filter_order_Dir" id="filter_order_Dir" value="<?php echo $filter_order_Dir; ?>"/>
            </form>
        </div>
    </div>
<?php else: ?>
    <?php include_once('403.phtml'); ?>
<?php endif; ?>