<?php $this->layout()->setVariable('heading', 'Thêm'); ?>
<?php
    // $type = $form->get('type')->getValue();
    $type = $_GET['type'];

    $permission = true;
    $user = $this->user();

    if (!$this->UserRole()->UserRolePermission($user, 'customer_role')) {
        $permission = false;
    }
?>
<?php if ($permission) : ?>
    <?php include_once(__DIR__ . '/customer/partial/edittoolbar.phtml'); ?>
    <?php echo $this->flashMessenger(); ?>
    <div class="clear">&nbsp;</div>
    <div id="view-content">
        <div class="col-sm-12">
            <?php
            $form = $this->form;
            $showBranchInput = true;

            $form->prepare();
            echo $this->form()->openTag($form);
            echo $this->formMessenger()->showMessage($form);
            ?>

            <div class="panel-body">
                <?php
                if($type){
                    include_once(__DIR__ . "/customer/partial/" .$type."_full.phtml");
                }
                else if(file_exists(__DIR__ . "/customer/form_full.phtml")) {
                    include_once(__DIR__ . "/customer/form_full.phtml");
                }
                ?>
            </div>
            <?php echo $this->formHidden($form->get('id')); ?>
            <input type="hidden" name="callaction" id="callaction" value=""/>
            <?php echo $this->form()->closeTag(); ?>
        </div>
    </div>
    <?php // include(__DIR__ . '/customer/partial/edittoolbar.phtml'); ?>
    <p></p>
<?php else: ?>
    <?php include_once('403.phtml'); ?>
<?php endif; ?>