
<?php 
$template = 'contact';
$type = $form->get('type')->getValue();

$this->layout()->setVariable('heading', 'Edit Contact'); ?>
<?php
include_once(__DIR__ . '/customer/partial/edittoolbar.phtml');
?>
<?php echo $this->flashMessenger(); ?>
<div class="clear">&nbsp;</div>

<div id="view-content">
    <div class="col-sm-12">
        <?php
        $form = $this->form;
        $showBranchInput = false;

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formMessenger()->showMessage($form);
        ?>

        <div class="panel-body">
            <?php
            if($type){
                include_once(__DIR__ . "/customer/partial/" .$type."_full.phtml");
            }
            else if(file_exists(__DIR__ . "/customer/form_full.phtml")) {
                include_once(__DIR__ . "/customer/form_full.phtml");
            }
            ?>
        </div>
        <input type="hidden" name="callaction" id="callaction" value=""/>
        <?php echo $this->formHidden($form->get('id')); ?>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
<?php
// include(__DIR__ . '/customer/partial/edittoolbar.phtml');
?>
