<?php 
$this->layout()->setVariable('heading', 'Dashboard'); 

function randomColor ($minVal = 0, $maxVal = 255)
{

    // Make sure the parameters will result in valid colours
    $minVal = $minVal < 0 || $minVal > 255 ? 0 : $minVal;
    $maxVal = $maxVal < 0 || $maxVal > 255 ? 255 : $maxVal;

    // Generate 3 values
    $r = mt_rand($minVal, $maxVal);
    $g = mt_rand($minVal, $maxVal);
    $b = mt_rand($minVal, $maxVal);

    // Return a hex colour ID string
    return sprintf('#%02X%02X%02X', $r, $g, $b);

}
?>
<div class="clear"></div>
<div class="card card-form">
    <div class="row no-gutters">
        <div class="col-12 card-body pb-0">
            <p><strong class="headings-color">Toan Thanh Ta</strong></p>
            <p class="text-muted">Phần mềm quản lý học sinh</p>
        </div>
        <div class="col-12 card-body pt-0">
            <a style="float: left;" href="/admin/classes"><button type="button" class="btn btn-outline-primary btn-rounded mr-2">Classes</button></a>
            <a href="/admin/history"><button type="button" class="btn btn-outline-primary btn-rounded">History</button></a>
        </div>
    </div>
</div>
<div class="card card-form card-schedule">
    <div class="row no-gutters">
        <div class="col-lg-12 card-form__body border-left">

            <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values="[&quot;js-lists-values-employee-name&quot;]">

                <table class="table mb-0 thead-border-top-0">
                    <thead>
                        <tr class="text-center">
                            <th>Class</th>
                            <th>T2</th>
                            <th>T3</th>
                            <th>T4</th>
                            <th>T5</th>
                            <th>T6</th>
                            <th>T7</th>
                            <th>CN</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="staff02">
                    	<?php foreach ($classes as $key => $class): ?>
                    		<tr style="background-color: <?php echo randomColor(200, 255); ?>">
                    			<td><a style="color: #033977;" href="<?php echo $this->url('class-info', array('id' => $class['id'])); ?>"><?php echo $class['title']; ?></a></td>
                    			<?php for($i = 2; $i <= 8; $i++): ?>
	                    			<td>
	                    			<?php foreach ($schedules as $k => $schedule) {
	                    				if ($schedule['class_id'] == $class['id'] && (int)$schedule['schedule'] == $i) {
	                    					echo $schedule['start_hour'].'h'.($schedule['start_minute'] > 0 ? $schedule['start_minute'] : '').'-'.$schedule['end_hour'].'h'.($schedule['end_minute'] > 0 ? $schedule['end_minute'] : '');
	                    				}
	                    			}?>
	                    			</td>
                    			<?php endfor; ?>
                    		</tr>
                    	<?php endforeach; ?>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>