<?php
    $user = $this->user();
?>

<!-- Preloader -->
<div id="hellopreloader">
    <div class="preloader">
        <svg width="45" height="45" stroke="#fff">
            <g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
                <circle cx="22" cy="22" r="6" stroke="none">
                    <animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
                    <animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
                    <animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
                </circle>
                <circle cx="22" cy="22" r="6" stroke="none">
                    <animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
                    <animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
                    <animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
                </circle>
                <circle cx="22" cy="22" r="8">
                    <animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite" values="6;1;2;3;4;5;6"/>
                </circle>
            </g>
        </svg>

        <div class="text">Loading ...</div>
    </div>
</div>

<!-- ... end Preloader -->

<!-- Fixed Sidebar Left -->
<div class="fixed-sidebar">
    <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

        <a href="/" class="logo">
            <div class="img-wrap">
                <img src="<?php echo BASE_URL_SOCIAL; ?>/img/logo.png" alt="Olympus">
            </div>
        </a>
    </div>
</div>

<div class="fixed-sidebar fixed-sidebar-responsive">

    <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
        <a href="#" class="logo js-sidebar-open">
            <img src="<?php echo BASE_URL_SOCIAL; ?>/img/logo.png" alt="Olympus">
        </a>

    </div>

    <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
        <a href="/" class="logo">
            <div class="img-wrap">
                <img src="<?php echo BASE_URL_SOCIAL; ?>/img/logo.png" alt="Olympus">
            </div>
            <div class="title-block">
                <h6 class="logo-title">TOANTHANHTA</h6>
            </div>
        </a>

        <div class="mCustomScrollbar" data-mcs-theme="dark">
        <?php if($user && $user['id']) : ?>
            <div class="control-block">
                <div class="author-page author vcard inline-items">
                    <div class="author-thumb">
                        <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/author-page.jpg" class="avatar">
                        <span class="icon-status online"></span>
                    </div>
                    <a href="02-ProfilePage.html" class="author-name fn">
                        <div class="author-title">
                            <?php echo @$user['first_name'].' '.@$user['last_name']; ?> <svg class="olymp-dropdown-arrow-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                        </div>
                        <span class="author-subtitle">SPACE COWBOY</span>
                    </a>
                </div>
            </div>

            

            <div class="ui-block-title ui-block-title-small">
                <h6 class="title">YOUR ACCOUNT</h6>
            </div>

            <ul class="account-settings">
                <li>
                    <a href="#">

                        <svg class="olymp-menu-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>

                        <span>Profile Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="App.Site.logout('<?php echo @$user['id']; ?>');">
                        <svg class="olymp-logout-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>

                        <span>Log Out</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="js-sidebar-open">
                        <svg class="olymp-close-icon left-menu-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                        <span class="left-menu-title">Đóng</span>
                    </a>
                </li>
            </ul>
        <?php else: ?>
            <div class="control-icon more has-items">
                <a href="javascript:void(0);" onclick="App.Popup.openLogin();" class="author-name fn">
                    <div class="author-title text-center">Đăng Nhập</div>
                </a>
            </div>
        <?php endif; ?>
        </div>
    </div>
</div>

<!-- ... end Fixed Sidebar Left -->

<!-- Fixed Sidebar Right -->

<div id="right-fixed-sidebar" class="fixed-sidebar right open">
    <div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1">

        <div class="mCustomScrollbar" data-mcs-theme="dark">

            <div class="ui-block-title ui-block-title-small">
                <a href="#" class="title">Lớp của em <3</a>
                <a href="#">Menu</a>
            </div>

            <ul class="chat-users">
                <div class="ui-block-title ui-block-title-small">
                    <a href="#" class="title"></a>
                    <a href="#">Kho Tài Liệu</a>
                </div>
                <li class="inline-items js-chat-open">

                    <div class="author-thumb">
                        <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/10.png" class="avatar">
                    </div>

                    <div class="author-status">
                        <a href="#" class="h6 author-name">Toán 10 Đại Số</a> - 
                        <a href="#" class="h6 author-name">Hình Học</a>
                    </div>
                </li>
                <li class="inline-items js-chat-open">

                    <div class="author-thumb">
                        <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/11.png" class="avatar">
                    </div>

                    <div class="author-status">
                        <a href="#" class="h6 author-name">Toán 11 Đại Số</a> - 
                        <a href="#" class="h6 author-name">Hình Học</a>
                    </div>
                </li>
                <li class="inline-items js-chat-open">

                    <div class="author-thumb">
                        <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/12.png" class="avatar">
                    </div>

                    <div class="author-status">
                        <a href="#" class="h6 author-name">Toán 12 Đại Số</a> - 
                        <a href="#" class="h6 author-name">Hình Học</a>
                    </div>
                </li>
            </ul>

            <?php if($user && $user['id']) : ?>
                <ul class="chat-users">
                    <div class="ui-block-title ui-block-title-small">
                        <a href="#" class="title"></a>
                        <a href="#">Đề Thi 1 Tiết</a>
                    </div>
                    <li class="inline-items">

                        <div class="author-thumb">
                            <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/10.png" class="avatar">
                        </div>

                        <div class="author-status">
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-10-dai-so', 'category'=> 10)); ?>" class="h6 author-name">Đại Số</a> - 
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-10-hinh-hoc', 'category'=> 100)); ?>" class="h6 author-name">Hình Học</a>
                        </div>
                    </li>
                    <li class="inline-items">

                        <div class="author-thumb">
                            <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/11.png" class="avatar">
                        </div>

                        <div class="author-status">
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-11-dai-so', 'category'=> 11)); ?>" class="h6 author-name">Đại Số</a> - 
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-11-hinh-hoc', 'category'=> 110)); ?>" class="h6 author-name">Hình Học</a> - 
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-11-giai-tich', 'category'=> 1100)); ?>" class="h6 author-name">Giải Tích</a>
                        </div>
                    </li>
                    <li class="inline-items">

                        <div class="author-thumb">
                            <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/12.png" class="avatar">
                        </div>

                        <div class="author-status">
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-12-giai-tich', 'category'=> 12)); ?>" class="h6 author-name">Giải Tích</a> - 
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-12-hinh-hoc', 'category'=> 120)); ?>" class="h6 author-name">Hình Học</a>
                        </div>
                    </li>
                </ul>
            <?php endif; ?>
        </div>

        <div class="search-friend inline-items">
            <form class="form-group" style="width: 82%; max-width: 100%">
                <input class="form-control" placeholder="Bạn muốn tìm gì?" value="" type="text">
            </form>
        </div>

        <a href="#" class="olympus-chat inline-items js-chat-open">

            <h6 class="olympus-chat-title">WE ARE ONE <3</h6>
            <svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
        </a>

    </div>
</div>

<!-- ... end Fixed Sidebar Right -->

<!-- Fixed Sidebar Right-Responsive -->

<div class="fixed-sidebar right fixed-sidebar-responsive" id="sidebar-right-responsive">

    <div class="fixed-sidebar-right sidebar--small">
        <a href="#" class="js-sidebar-open">
            <svg class="olymp-menu-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
            <svg class="olymp-close-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
        </a>
    </div>

    <div class="fixed-sidebar-right sidebar--large">
        <div class="mCustomScrollbar" data-mcs-theme="dark">

            <div class="ui-block-title ui-block-title-small">
                <a href="#" class="title">Lớp của em <3</a>
                <a href="#">Menu</a>
            </div>

            <ul class="chat-users">
                <div class="ui-block-title ui-block-title-small">
                    <a href="#" class="title"></a>
                    <a href="#">Kho Tài Liệu</a>
                </div>
                <li class="inline-items">

                    <div class="author-thumb">
                        <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/10.png" class="avatar">
                    </div>

                    <div class="author-status">
                        <a href="#" class="h6 author-name">Toán 10 Đại Số</a> - 
                        <a href="#" class="h6 author-name">Hình Học</a>
                    </div>
                </li>
                <li class="inline-items">

                    <div class="author-thumb">
                        <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/11.png" class="avatar">
                    </div>

                    <div class="author-status">
                        <a href="#" class="h6 author-name">Toán 11 Đại Số</a> - 
                        <a href="#" class="h6 author-name">Hình Học</a>
                    </div>
                </li>
                <li class="inline-items">

                    <div class="author-thumb">
                        <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/12.png" class="avatar">
                    </div>

                    <div class="author-status">
                        <a href="#" class="h6 author-name">Toán 12 Đại Số</a> - 
                        <a href="#" class="h6 author-name">Hình Học</a>
                    </div>
                </li>
            </ul>

            <?php if($user && $user['id']) : ?>
                <ul class="chat-users">
                    <div class="ui-block-title ui-block-title-small">
                        <a href="#" class="title"></a>
                        <a href="#">Đề Thi 1 Tiết</a>
                    </div>
                    <li class="inline-items">

                        <div class="author-thumb">
                            <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/10.png" class="avatar">
                        </div>

                        <div class="author-status">
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-10-dai-so', 'category'=> 10)); ?>" class="h6 author-name">Đại Số</a> - 
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-10-hinh-hoc', 'category'=> 100)); ?>" class="h6 author-name">Hình Học</a>
                        </div>
                    </li>
                    <li class="inline-items">

                        <div class="author-thumb">
                            <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/11.png" class="avatar">
                        </div>

                        <div class="author-status">
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-11-dai-so', 'category'=> 11)); ?>" class="h6 author-name">Đại Số</a> - 
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-11-hinh-hoc', 'category'=> 110)); ?>" class="h6 author-name">Hình Học</a> - 
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-11-giai-tich', 'category'=> 1100)); ?>" class="h6 author-name">Giải Tích</a>
                        </div>
                    </li>
                    <li class="inline-items">

                        <div class="author-thumb">
                            <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/12.png" class="avatar">
                        </div>

                        <div class="author-status">
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-12-giai-tich', 'category'=> 12)); ?>" class="h6 author-name">Giải Tích</a> - 
                            <a href="<?php echo $this->url('quiz-list', array('slug'=>'toan-12-hinh-hoc', 'category'=> 120)); ?>" class="h6 author-name">Hình Học</a>
                        </div>
                    </li>
                </ul>
            <?php endif; ?>
        </div>

        <div class="search-friend inline-items">
            <form class="form-group" >
                <input class="form-control" placeholder="Bạn muốn tìm gì?" value="" type="text">
            </form>

            <a href="29-YourAccount-AccountSettings.html" class="settings">
                <svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
            </a>

            <a href="#" class="js-sidebar-open">
                <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
            </a>
        </div>

        <a href="#" class="olympus-chat inline-items js-chat-open">

            <h6 class="olympus-chat-title">WE ARE ONE <3</h6>
            <svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
        </a>
    </div>

</div>

<!-- ... end Fixed Sidebar Right-Responsive -->

<!-- Header-BP -->

<header class="header" id="site-header">

    <div class="page-title">
        <h6>TOAN THANHTA</h6>
    </div>

    <div class="header-content-wrapper">
        <div class="control-block">
            <div class="control-icon more has-items">
                <a href="#" onclick="$('#right-fixed-sidebar').addClass('open');" class="js-sidebar-open active">
                    <svg class="olymp-menu-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                </a>
            </div>
        <?php if($user && $user['id']) : ?>
            <div class="control-icon more has-items">
                <svg class="olymp-thunder-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>

                <div class="label-avatar bg-primary">8</div>

                <div class="more-dropdown more-with-triangle triangle-top-center">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Notifications</h6>
                    </div>

                    <div class="mCustomScrollbar" data-mcs-theme="dark">
                        <ul class="notification-list">
                            <li>
                                <div class="notification-event">
                                    <div><a href="#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
                                    <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <a href="#" class="view-all bg-primary">View All Notifications</a>
                </div>
            </div>

            <div class="author-page author vcard inline-items more">
                <div class="author-thumb">
                    <img alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/author-page.jpg" class="avatar">
                    <span class="icon-status online"></span>
                    <div class="more-dropdown more-with-triangle">
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <ul class="account-settings">
                                <li>
                                    <a href="29-YourAccount-AccountSettings.html">

                                        <svg class="olymp-menu-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>

                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="App.Site.logout('<?php echo @$user['id']; ?>');">
                                        <svg class="olymp-logout-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>

                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <a href="javascript:void(0);" class="author-name fn">
                    <div class="author-title">
                        <?php echo @$user['first_name'].' '.@$user['last_name']; ?> <svg class="olymp-dropdown-arrow-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                    </div>
                    <span class="author-subtitle">Khối <?php echo @$user['class']; ?></span>
                </a>
            </div>
        <?php else: ?>
            <div class="control-icon more has-items">
                <a href="javascript:void(0);" onclick="App.Popup.openLogin();" class="author-name fn">
                    <div class="author-title">Login :)</div>
                </a>
            </div>
        <?php endif; ?>

        </div>
    </div>

</header>

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<header class="header header-responsive" id="site-header-responsive">

    <div class="header-content-wrapper">
        <ul class="nav nav-tabs mobile-app-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#search" role="tab">
                    <h6 style="color:#FFFFFF;" class="logo-title">TOANTHANHTA</h6>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#notification" role="tab">
                    <div class="control-icon has-items">
                        <svg class="olymp-thunder-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
                        <div class="label-avatar bg-primary">8</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content tab-content-responsive">

        <div class="tab-pane " id="notification" role="tabpanel">

            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">Notifications</h6>
                </div>

                <ul class="notification-list">
                    <li>
                        <div class="notification-event">
                            <div><a href="#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
                            <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                        </div>
                    </li>
                </ul>

                <a href="#" class="view-all bg-primary">View All Notifications</a>
            </div>

        </div>
    </div>
    <!-- ... end  Tab panes -->

</header>

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>