<div id="filter_form" class="filter form-inline">    
    <label><?php echo ('Keyword:'); ?></label>
    <input type="text" class=" form-control " name="filter_search" id="filter_search" value="<?php print $state->get("filter.search") ?>"/>
    &nbsp;
    <label ><?php echo ('Prize'); ?></label>
    <select class="form-control  filter_change" name="filter_prize_id" id="filter_prize_id" class="filter_change">
        <option value="">-- all -- </option>
        <?php echo App\AppView::makeOption($state->get('filter.prize_id'), $this->factory()->getPrizes()); ?>
    </select>
    &nbsp;
    <label ><?php echo ('Site'); ?></label>
    <select class="form-control  filter_change" name="filter_site" id="filter_site" class="filter_change">
        <option value="">-- all -- </option>
        <?php echo App\AppView::makeOption($state->get('filter.site'), $this->factory()->getIdent()); ?>
    </select>
    &nbsp;
    <label><?php echo ('From:'); ?></label>
    <input type="text" class="form-control " name="filter_from_date" id="filter_from_date" value="<?php print $state->get("filter.fromdate") ?>"/>
    &nbsp;
    <label><?php echo ('To:'); ?></label>
    <input type="text" class="form-control " name="filter_to_date" id="filter_to_date" value="<?php print $state->get("filter.todate") ?>"/>
    &nbsp;
    <input type="button" value="<?php echo ('Filter'); ?>" id="filter" class="btn btn-primary"/>
    <input type="button" value="<?php echo ('Reset'); ?>" id="reset" name="data[reset]" class="btn btn-default" autocomplete="off"/>
</div>
