<div class="actions pull-right">
    <button class="btn btn-danger" onclick="App.gotoURL('admin/lucky/export');"><i class="fa"></i>&nbsp;<?php echo 'Export' ?></button> &nbsp;&nbsp;
    <button class="btn btn-danger" onclick="App.submitForm('deleteitem')"><i class="fa fa-trash-o"></i>&nbsp;<?php echo 'Delete' ?></button> &nbsp;&nbsp;
</div>
<div class="clearfix"></div>
<p>&nbsp;</p>