<main class="page-main page-contact">
        <section class="contact">
            <div class="ctn-inner">
                <div class="title-through">
                    <?php if ($_GET['lang'] == 'en'): ?>
                        <h3>Contact Us</h3>
                    <?php else: ?>
                        <h3><?php echo $this->translate('contact us'); ?></h3>
                    <?php endif; ?>
                    <div class="line-through">
                        
                    </div><!-- .line-through -->
                </div>
                <div class="content">
                    <div class="info">
                        <?php echo $home_infos['home_contact']['body']; ?>
                    </div>
                    <div class="md-place">
                        <?php $count = 0; foreach ($apartments as $key => $apartment): $count++;?>
                            <?php if($count % 3 == 1): ?> <div class="row"> <?php endif; ?>
                                <div class="col-md-4">
                                    <div class="title-place">
                                        <h3><?php echo $apartment['title']; ?></h3>
                                        <p>Địa chỉ: <strong><?php echo $apartment['intro']; ?></strong> <a href="<?php echo $apartment['subtitle']; ?>"> [Xem chỉ đường]</a></p>
                                        <?php echo $apartment['body']; ?>
                                    </div>
                                </div>
                            <?php if($count % 3 == 0): ?> </div> <?php endif; ?>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
        </section><!-- .news-and-events -->
  </main>

<div id="validateSuccessModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h4>Đăng ký thành công</h4>
                <p>Cảm ơn bạn đã đăng ký tham gia chung tay cùng Mai Tâm<br/>Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất. <br/>Xin chân thành cảm ơn!</p>
            </div>
            <div class="modal-footer" style="border: none; display: block; text-align: center;">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>