<main class="page-main whatdowedo-2">
    <div class="title-page">
        <div class="ctn-inner">
            
        </div>
    </div><!-- .title-page -->
    <div class="news-and-events">
        <div class="ctn-inner">
            <div class="title-through">
                <h3>Tất cả tin tức & sự kiện</h3>
                <div class="line-through">
                    
                </div><!-- .line-through -->
            </div>
            <div class="content">
                <?php $count = 0; foreach ($allNews as $key => $news) : ?>
                    <?php if ($count % 2 == 0): ?> <div class="row md-row"> <?php endif; ?>
                        <div class="col-md-6">
                            <a href="<?php echo $this->url('detail_news', array('slug'=>$news['slug'], 'id'=> $news['id'])); ?>"><img src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $news['image']; ?>" alt=""></a>
                            <div class="info">
                                <a href="<?php echo $this->url('detail_news', array('slug'=>$news['slug'], 'id'=> $news['id'])); ?>"><h3><?php echo $news['title']; ?></h3></a>
                                <p><?php echo $news['intro']; ?></p>
                            </div>
                        </div>
                    <?php if ($count % 2 == 1): ?> </div> <?php endif; ?>
                <?php $count++; endforeach; 
                    foreach ($allEvents as $key => $news) : ?>
                    <?php if ($count % 2 == 0): ?> <div class="row md-row"> <?php endif; ?>
                        <div class="col-md-6">
                            <a href="<?php echo $this->url('detail_news', array('slug'=>$news['slug'], 'id'=> $news['id'])); ?>"><img src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $news['image']; ?>" alt=""></a>
                            <div class="info">
                                <a href="<?php echo $this->url('detail_news', array('slug'=>$news['slug'], 'id'=> $news['id'])); ?>"><h3><?php echo $news['title']; ?></h3></a>
                                <p><?php echo $news['intro']; ?></p>
                            </div>
                        </div>
                    <?php if ($count % 2 == 1): ?> </div> <?php endif; ?>
                <?php $count++; endforeach;
                ?>
            </div>
        </div>
    </div><!-- .tab-content-8p -->
</main>

<div id="validateSuccessModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h4>Đăng ký thành công</h4>
                <p>Cảm ơn bạn đã đăng ký tham gia chung tay cùng Mai Tâm<br/>Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất. <br/>Xin chân thành cảm ơn!</p>
            </div>
            <div class="modal-footer" style="border: none; display: block; text-align: center;">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>