<main class="page-main whatdowedo">
    <section class="our-project">
        <div class="ctn-inner">
            <div class="content">
                <!--<p><?php /*echo $this->translate('Best done success projects'); */?></p>-->
                <div class="title-through">
                    <h3><?php echo $this->translate('Best done success projects'); ?></h3>
                    <div class="line-through">
                    </div><!-- .line-through -->
                </div>
            </div><!-- .content -->
            <div class="owl-carousel owl-theme slider-our-project">
                <?php foreach($featuredProjects as $featuredProject) : ?>
                    <div class="item">
                        <a href="<?php echo BASE_URL.'/projects/'.$featuredProject['slug'].'/'.$featuredProject['id']; ?>">
                        <img src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $featuredProject['image']; ?>" alt="" class="md-desktop">
                        <img src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $featuredProject['large_image']; ?>" alt="" class="md-mobile">
                        </a>
                        <div class="slider-content">
                            <h3><?php echo $featuredProject['title']; ?></h3>
                            <p><?php echo $featuredProject['intro']; ?></p>
                            <div class="read-more">
                                <a href="<?php echo BASE_URL.'/projects/'.$featuredProject['slug'].'/'.$featuredProject['id']; ?>">Xem chi tiết</a>
                            </div><!-- .read-more -->
                        </div><!-- .slider-content -->
                    </div>
                <?php endforeach; ?>
            </div>
        </div><!-- .ctn-inner -->
    </section><!-- .our-project -->
    <section class="highlight">
        <div class="ctn-inner">
            <div class="title-through">
                <h3><?php echo $this->translate('featured projects'); ?></h3>
                <div class="line-through">
                </div><!-- .line-through -->
            </div><!-- .title-through -->
            <div class="select-highlight">
                <div class="bg-select"></div>
                <form id="project-sort-form" action="" method="post">
                    <select id="project-sort" name="sortby" class="ui dropdown ">
                        <option value="0">Sắp xếp theo</option>
                        <option <?php echo $sortby == 'name' ? 'selected ' : ''?>value="name">Theo tên</option>
                        <option <?php echo $sortby == 'year_new' ? 'selected ' : ''?>value="year_new">Theo năm mới</option>
                        <option <?php echo $sortby == 'year_old' ? 'selected ' : ''?>value="year_old">Theo năm cũ</option>
                    </select>
                </form>
            </div><!-- .select-highlight -->
            <div class="content">
                <?php
                    $sortProjects = array();

                    // if sort by year (default)
                    if ($sortby == 'year_new' || $sortby == 'year_old') {
                        foreach ($projects as $key => $project) {
                            $sortProjects[$project['year']][$key] = $project;
                        }

                    foreach ($sortProjects as $key => $sortProject) : ?>
                        <p class="title-year">Năm <?php echo $key; ?></p>
                        <div class="row">
                            <?php if (count($sortProject) > 0) : ?>
                                <?php foreach ($sortProject as $project) : ?>
                                    <div class="col-md-3">
                                        <div class="item">
                                            <a href="<?php echo BASE_URL.'/projects/'.$project['slug'].'/'.$project['id']; ?>"><img src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $project['image']; ?>" alt=""></a>
                                            <div class="info">
                                                <a href="<?php echo BASE_URL.'/projects/'.$project['slug'].'/'.$project['id']; ?>"><h3><?php echo $project['title']; ?></h3></a>
                                                <p><?php echo $project['intro']; ?></p>
                                            </div>
                                        </div><!-- .item -->
                                    </div><!-- .col -->
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                        <div class="read-more">
                            <a href="#">Xem thêm</a>
                        </div><!-- .read-more -->
                <?php endforeach; } else { ?>
                        <div class="row">
                        <?php foreach ($projects as $project) : ?>
                            <div class="col-md-3">
                                <div class="item">
                                    <a href="<?php echo BASE_URL.'/projects/'.$project['slug'].'/'.$project['id']; ?>"><img src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $project['image']; ?>" alt=""></a>
                                    <div class="info">
                                        <a href="<?php echo BASE_URL.'/projects/'.$project['slug'].'/'.$project['id']; ?>"><h3><?php echo $project['title']; ?></h3></a>
                                        <p><?php echo $project['intro']; ?></p>
                                    </div>
                                </div><!-- .item -->
                            </div><!-- .col -->
                        <?php endforeach; ?>
                        </div>
                <?php
                    }
                ?>
            </div><!-- .content -->
        </div><!-- .ctn-inner -->
    </section><!-- .highlight -->
    <section class="meaning">
        <div class="ctn-inner">
            <div class="title-through">
                <h3><?php echo $this->translate('why our activities have meaningful'); ?></h3>
                <div class="line-through">
                </div><!-- .line-through -->
            </div><!-- .title-through -->
            <?php if ($why): ?>
                <!-- <div class="content">
                    <?php echo $why['body']; ?>
                </div> --><!-- .content -->
                <div class="image-meaning clearfix">
                    <div class="md-scroll clearfix">
                        <?php
                            $multi_images = array();
                            if ($why['multi_image'] != '') {
                                $multi_images = explode(',', $why['multi_image']);
                            }
                        ?>
                        <?php if (count($multi_images) > 0) : ?>
                            <?php foreach ($multi_images as $multi_image) : ?>
                                <img src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $multi_image; ?>" alt="">
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </div><!-- .image-meaning -->
            <?php endif; ?>
        </div><!-- .ctn-inner -->
    </section><!-- .meaning -->
    <div class="page-contact"><section class="contact">
        <div class="ctn-inner">
            <div class="title-through">
                <h3>Các cơ sở của Mai Tâm</h3>
                <div class="line-through">
                    
                </div><!-- .line-through -->
            </div>
            <div class="content">
                <div class="md-place">
                    <?php $count = 0; foreach ($apartments as $key => $apartment): $count++?>
                        <?php if($count % 3 == 1): ?> <div class="row"> <?php endif; ?>
                            <div class="col-md-4">
                                <div class="title-place">
                                    <h3><?php echo $apartment['title']; ?></h3>
                                    <p>Địa chỉ: <strong><?php echo $apartment['intro']; ?></strong> <a href="<?php echo $apartment['subtitle']; ?>"> [Xem chỉ đường]</a></p>
                                    <?php echo $apartment['body']; ?>
                                </div>
                            </div>
                        <?php if($count % 3 == 0): ?> </div> <?php endif; ?>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </section></div>
</main>