<main class="page-main whoiam">
    <section class="about-us">
        <div class="ctn-inner">
            <div class="title-through">
                <h3><?php echo $this->translate('About us'); ?></h3>
                <div class="line-through">
                </div><!-- .line-through -->
            </div><!-- .title-through -->
            <?php if ($about_us): ?>
            <div class="content clearfix">
                <div class="left-content">
                    <a href="#"><img src="<?php echo BASE_URL_MEDIA_IMAGE.'/'.$about_us['image'] ?>" alt=""></a>
                </div><!-- .left-content -->
                <div class="right-content text-limit">
                    <?php $limitLength = 1100; echo strlen($about_us['body']) > $limitLength ? substr($about_us['body'],0,$limitLength)."..." : $about_us['body'] ?>
                    <?php if (strlen($about_us['body']) > $limitLength): ?>
                        <div class="read-more">
                            <a href="javascript:void(0);" onclick="$('.about-us .text-limit').hide();$('.about-us .text-full').show();">Xem thêm</a>
                        </div>
                    <?php endif; ?>
                </div><!-- .right-content -->
                <?php if (strlen($about_us['body']) > $limitLength): ?>
                <div class="right-content text-full" style="display: none;">
                    <?php echo $about_us['body']; ?>
                    <div class="read-more">
                        <a href="javascript:void(0);" onclick="$('.about-us .text-limit').show();$('.about-us .text-full').hide();">Thu gọn</a>
                    </div>
                </div>
                <?php endif; ?>
            </div><!-- .content -->
            <?php endif; ?>
        </div><!-- .ctn-inner -->
    </section><!-- .about-us -->
    <section class="block-four-col">
        <div class="ctn-inner">
            <div class="row">
                <?php if (count($blocks) > 0): ?>
                    <?php foreach ($blocks as $key => $block): ?>
                        <div class="col-md-3">
                            <div class="item">
                                <a href="#" data-fancybox="modal-number-<?php echo $key + 1; ?>" data-src="#modal-number-<?php echo $key + 1; ?>" data-fancybox-group="group-1">
                                    <!--<img class="ico-clock" src="<?php /*echo BASE_URL_SKIN_IMAGE; */?>/ico-clock.png" alt="">-->
                                    <?php if ($block['image'] != ''): ?>
                                        <img src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $block['image']; ?>" style="margin-bottom: 10px;" height="45" alt="Mai Tâm Icon">
                                    <?php else: ?>
                                        <img src="<?php echo BASE_URL_SKIN_IMAGE; ?>/logo.png" style="margin-bottom: 10px;" height="45" alt="Mai Tâm Icon">
                                    <?php endif; ?>
                                    <h3><?php echo $block['title']; ?></h3>
                                    <div class="info">
                                        <p><?php echo $block['intro']; ?></p>
                                    </div><!-- .info -->
                                </a>
                            </div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </div>
    </section>
	
    <section class="leader-team" style="display:none"> <!-- TẠM THỜI ẨN PHẦN LÃNH ĐẠO--->
        <div class="ctn-inner">
            <div class="title-through">
                <h3><?php echo $this->translate('leadership team'); ?></h3>
                <div class="line-through">
                </div><!-- .line-through -->
            </div><!-- .title-through -->
            <p class="intro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining </p>
            <div class="content">
                <div class="row">
                    <?php foreach ($managers as $manager): ?>
                        <div class="col-md-3">
                            <div class="item">
                                <a href="#">
                                    <img src="<?php echo BASE_URL_MEDIA_IMAGE.'/'.$manager['image'] ?>" alt="">
                                    <h3><?php echo $manager['title']; ?></h3>
                                    <p><?php echo $manager['intro']; ?></p>
                                </a>
                            </div>
                        </div><!-- .col -->
                    <?php endforeach; ?>
                </div><!-- .row -->
            </div><!-- .content -->
        </div><!-- .ctn-inner -->
    </section><!-- .leader-team --> 
	
    <section class="talk-about-us" style="display: none;"> <!-- TẠM THỜI ẨN--->
        <div class="ctn-inner">
            <div class="title-through">
                <h3><?php echo $this->translate('communities talk about us'); ?></h3>
                <div class="line-through">
                </div><!-- .line-through -->
            </div><!-- .title-through -->
            <div class="content">
                <div class="owl-carousel owl-theme slider-talk">
                    <?php foreach ($comments as $comment): ?>
                        <div class="item">
                            <img src="<?php echo BASE_URL_SKIN_IMAGE; ?>/ico-slider-talk.png" alt="">
                            <div class="info">
                                <p><?php echo $comment['intro']; ?></p>
                                <p><?php echo $comment['subtitle']; ?>, <span><?php echo $comment['title']; ?></span></p>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div><!-- .slider-talk -->
            </div><!-- .content -->
        </div><!-- .ctn-inner -->
    </section><!-- .talk-about-us -->
    <section class="sponsor">
        <div class="ctn-inner">
            <div class="title-through">
                <h3><?php echo $this->translate('typical sponsor organization'); ?></h3>
                <div class="line-through">
                </div><!-- .line-through -->
            </div><!-- .title-through -->
            <div class="content">
                    <?php foreach ($sponsorings as $sponsoring) : ?>
                        <a href="#"><img src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $sponsoring['image']; ?>" alt=""></a>
                    <?php endforeach; ?>
            </div><!-- .content -->
        </div><!-- .ctn-inner -->
    </section><!-- sponsor -->
</main>
<?php if (count($blocks) > 0): ?>
    <?php foreach ($blocks as $key => $block): ?>
        <div id="modal-number-<?php echo $key + 1; ?>" class=" modal-condition md-modal-four-col" style="max-width: 800px;">
            <div class="content">
                <?php echo $block['body']; ?>
            </div>
        </div>
    <?php endforeach; ?>
<?php endif; ?>