<main class="page-main page-with-us">
    <div class="title-page">
        <div class="ctn-inner">
            <?php echo $about_us['intro']; ?>
        </div>
    </div><!-- .title-page -->
    <div class="tab-content-8p">
        <div class="ctn-inner">
            <div class="smd-nav-control clearfix">
                <div class="md-nav-tab">
                    <div class="item"><span class="active" data-href="#1a">Tài trợ</span></div>
                    <div class="item"><span data-href="#2a">Tình nguyện</span></div>
                </div>
            </div><!-- .nav-control -->
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a" >
                    <div class="content md-cooperate clearfix">
                        <div class="fl-left">
                            <div class="md-form-1">
                                <!--<p class="title-form cl-bl">Lời ngỏ:</p>
                                <p class="left-infor">Mọi sự hỗ trợ của quý vị đều đáng quý, bởi nhờ đó quý vị cùng chúng tôi mang cơ hội điều trị cho bệnh nhân nghèo, tạo nơi nương náu cho người cơ nhỡ, đem tình yêu, hi vọng và sự sống cho bệnh nhân. <br>
                                “Món quà từ trái tim luôn mang giá trị lớn!”</p>-->

                            <div class="thumb">
                                <img src="<?php echo BASE_URL_MAITAM; ?>/images/bg-fl-right.png" alt="">
                            </div>    


                                <form action="" style="display:none"> <!----tạm ẩn cái form--->
                                    <div class="md-row clearfix">
                                        <label for="">Tên tổ chức</label>
                                        <input type="text">
                                    </div>
                                    <div class="md-row clearfix">
                                        <label for="">Địa chỉ</label>
                                        <input type="text">
                                    </div>
                                    <div class="md-row clearfix">
                                        <label for="">Số phone</label>
                                        <input type="tel">
                                    </div>
                                    <div class="md-row clearfix">
                                        <label for="">Email</label>
                                        <input type="text">
                                    </div>
                                </form>
                            </div>
                            <div class="button-submit" style="display: none">
                                <input type="button" value="Hợp tác">
                            </div>
                        </div>
                        <div class="fl-right">
                            <div class="information clearfix">
                                <div class="title-infor">
                                    <strong>Mọi đóng góp xin gởi về:</strong>
                                </div>
                                <div class="left-infor">
                                <p>CÔNG TY TNHH DOANH NGHIỆP XÃ HỘI MAI TÂM</p>
                                    <p>Mã số thuế: 0315432998</p>
                                    <p>Address: 165/2 Tam Châu, Tam Bình, Thủ Đức, Tp. HCM, Việt Nam.</p>
                                    <p>Tel: 028 6291 6969</p>
                                    <p>Web: www.maitam.org</p>
                                    <p>Email: contact@maitam.org</p>
                                </div>
                                <div class="left-infor">
                                    <?php echo $about_us['body']; ?>
                                </div>
                                <!-- <div class="right-infor">
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                </div> -->
                            </div>

                        </div>
                    </div><!-- .content -->
                </div>
                <div class="tab-pane" id="2a">
                    <div class="content md-volunteer">
                        <div class="title-through">
                            <h3>Mẫu đơn đăng ký tình nguyện viên</h3>
                        </div>
                        <div class="md-form-1">
                            <p class="title-form">Thông tin cá nhân</p>
                            <form id="volunteerForm" action="post">
                                <div class="md-row clearfix">
                                    <div class="md-col">
                                        <label for="">Họ và tên (*)</label>
                                        <input name="name" type="text">
                                        <!--<p class="error">Vui lòng nhập đúng họ tên *</p>-->
                                    </div>

                                    <div class="md-col">
                                        <label for="">Độ tuổi</label>
                                        <select name="age" class="ui dropdown service">
                                            <option value="1">18 - 25 tuổi</option>
                                            <option value="2">26 - 35 tuổi</option>
                                            <option value="3">36 - 45 tuổi</option>
                                            <option value="4">46 trở lên</option>
                                        </select>
                                        <!--<p class="error">Vui lòng chọn độ tuổi *</p>-->
                                    </div>
                                </div>
                                <div class="md-row clearfix">
                                    <div class="md-col">
                                        <label for="">Số điện thoại (*)</label>
                                        <input name="phone" type="tel">
                                        <!--<p class="error">Vui lòng nhập số điện thoại *</p>-->
                                    </div>
                                    <div class="md-col">
                                        <label for="">Email</label>
                                        <input name="email" type="text">
                                        <!--<p class="error">Vui lòng nhập đia chỉ Email *</p>-->
                                    </div>
                                </div>
                                <div class="md-row clearfix">
                                    <div class="md-col">
                                        <label for="">Địa chỉ</label>
                                        <input name="address" type="text">
                                        <!--<p class="error">Vui lòng nhập địa chỉ *</p>-->
                                    </div>
                                </div>
                                <div class="md-row clearfix pt-4">
                                    <p class="title-form">Các lựa chọn tình nguyện</p>
                                    <div class="ui form form-2 nm-form">
                                        <div class="md-row clearfix">
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" value="Vãng gia" name="volunteer_type[]">
                                                    <label>Vãng gia</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="checkbox" value="Gây quỹ" name="volunteer_type[]">
                                                    <label>Gây quỹ</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="checkbox" value="Hỗ trợ các sự kiện" name="volunteer_type[]">
                                                    <label>Hỗ trợ các sự kiện</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="checkbox" value="Trang trí/ Bảo trì" name="volunteer_type[]">
                                                    <label>Trang trí/ Bảo trì</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md-row clearfix ">
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="checkbox" value="Chăm sóc y tế" name="volunteer_type[]">
                                                    <label>Chăm sóc y tế</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox  ">
                                                    <input type="checkbox" value="Làm vườn/ Lau dọn" name="volunteer_type[]">
                                                    <label>Làm vườn/ Lau dọn</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="checkbox" value="IT" name="volunteer_type[]">
                                                    <label>IT</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox  ">
                                                    <input type="checkbox" value="Lái xe" name="volunteer_type[]">
                                                    <label>Lái xe</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md-row clearfix md-row-3">
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="checkbox" value="Khác" name="volunteer_type[]">
                                                    <label>Khác</label>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="volunteer_type_error error" style="display:none;">Vui lòng chọn 1 hình thức tình nguyện*</p>
                                        <div class="md-row clearfix md-row-1">
                                            <p>Nếu bạn đăng ký cho một công việc tình nguyện cụ thể, vui lòng cho chúng tôi biết về công việc đó và địa điểm làm việc bạn mong muốn</p>
                                            <textarea name="message" placeholder="Công việc và địa điểm tình nguyện bạn mong muốn ..."></textarea>
                                            <!--<p class="error">Vui lòng nhập nội dung tin nhắn*</p>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="md-row clearfix pt-4">
                                    <p class="title-form">Thời gian tình nguyện</p>
                                    <div class="ui form form-2 nm-form">
                                        <div class="md-row clearfix">
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="radio" value="Cuối tuần" name="volunteer_time">
                                                    <label>Cuối tuần</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="radio" value="Các ngày trong tuần" name="volunteer_time">
                                                    <label>Các ngày trong tuần</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="radio" value="On call" name="volunteer_time">
                                                    <label>On call</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="radio" value="Ban ngày" name="volunteer_time">
                                                    <label>Ban ngày</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md-row clearfix md-row-3">
                                            <div class="field">
                                                <div class="ui checkbox ">
                                                    <input type="radio" value="Các buổi tối" name="volunteer_time">
                                                    <label>Các buổi tối</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui checkbox  ">
                                                    <input type="radio" value="Khác" name="volunteer_time">
                                                    <label>Khác</label>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="volunteer_time_error error" style="display:none;">Vui lòng chọn thời gian *</p>
                                        <div class="md-row clearfix md-row-4">
                                            <p class="title-form">Bạn có thể tình nguyện theo thời gian như trên theo tần suất nào?</p>
                                            <textarea name="offen_message" placeholder="Thời gian tình nguyện thích hợp …"></textarea>
                                            <!--<p class="error">Vui lòng nhập nội dung*</p>-->
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="button-submit">
                            <input onclick="App.Site.volunteerSubmit();" id="volunteerSubmit" type="button" value="Tình nguyện">
                            <div class="md-dl" style="display:none;"> <!-- ẨN PHẦN TẢI FORM --->
                                <span>Download mẫu đăng ký tài trợ Mai Tâm:</span>
                                <a href="#"><img src="<?php echo BASE_URL_MAITAM; ?>/images/ico-dl.png" alt="">Taitrotinhnguyen.xlsx</a>
                            </div>
                        </div>
                    </div><!-- .content -->
                </div>
                <div class="tab-pane md-coop" id="3a" style="display: none;"> <!---TAM AN PHAN HOP TAC--->
                    <div class="content md-cooperate clearfix">
                        <div class="fl-left">
                            <div class="md-form-1">
                                <p class="title-form cl-bl">Vui lòng điền đầy đủ thông tin sau:</p>
                                <form action="">
                                    <div class="md-row clearfix">
                                        <label for="">Tên tổ chức</label>
                                        <input type="text">
                                    </div>
                                    <div class="md-row clearfix">
                                        <label for="">Địa chỉ</label>
                                        <input type="text">
                                    </div>
                                    <div class="md-row clearfix">
                                        <label for="">Số phone</label>
                                        <input type="tel">
                                    </div>
                                    <div class="md-row clearfix">
                                        <label for="">Email</label>
                                        <input type="text">
                                    </div>
                                </form>
                            </div>
                            <div class="button-submit">
                                <input type="button" value="Hợp tác">
                            </div>
                        </div>
                        <div class="fl-right">
                            <div class="information clearfix">
                                <div class="title-infor">
                                    <strong>Mọi đóng góp xin gởi về:</strong>
                                </div>
                                <div class="left-infor">
                                    <p>CÔNG TY TNHH DOANH NGHIỆP XÃ HỘI MAI TÂM</p>
                                    <p>Mã số thuế: 0315432998</p>
                                    <p>Address: 165/2 Tam Châu, Tam Bình, Thủ Đức, Tp. HCM, Việt Nam.</p>
                                    <p>Tel: 028 6291 6969</p>
                                    <p>Web: www.maitam.org</p>
                                    <p>Email: contact@maitam.org</p>
                                </div>
                                <div class="left-infor">
                                    <p>Tên tài khoản:<span>Công ty TNHH Doanh nghiệp xã hội Mai Tâm</span></p>
                                    <p>Ngân hàng: <span>Ngân hàng Á Châu (ACB)</span></p>
                                    <p>Số tài khoản: <span>VND: 4541027</span></p>
                                    <p>Chi nhánh: <span>ACB (HCM)</span></p>
                                </div>
                                <!-- <div class="right-infor">
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                </div> -->
                            </div>
                            <div class="thumb">
                                <img src="<?php echo BASE_URL_MAITAM; ?>/images/bg-fl-right.png" alt="">
                            </div>
                        </div>
                    </div><!-- .content -->
                </div>
            </div>
        </div>
    </div><!-- .tab-content-8p -->
</main>

<div id="validateSuccessModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h4>Đăng ký thành công</h4>
                <p>Cảm ơn bạn đã đăng ký tham gia chung tay cùng Mai Tâm<br/>Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất. <br/>Xin chân thành cảm ơn!</p>
            </div>
            <div class="modal-footer" style="border: none; display: block; text-align: center;">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>