
.multiupload-box a { 
    color: #385ea2; 
    text-decoration: none; 
}
.multiupload-box a:hover { text-decoration: underline; }

.multiupload-box strong { font-weight: 700; }

.multiupload-box h1 {
    font: 28px/1em  Arial, Helvetica, sans-serif;
    padding: 60px 20px 20px;
    margin-bottom: 15px;
    color: #333;
    text-decoration: none;
}

.multiupload-box h1 a{
    color: #fff;
    text-decoration: none;
}

.multiupload-box h2 { 
    font-size: 22px; 
    font-weight: 300;
    padding-top: 1em;
    padding-bottom: .25em;
}


.multiupload-box p { 
    margin-top: .25em;
    margin-bottom: .5em;
}

.multiupload-box ul { padding: 4px 5px; }
.multiupload-box ul li { 
    padding: 4px 5px; 
    margin: 0 20px;
    list-style:square; 
}

.multiupload-box code {
    display: block;
    background:#edffb8 none repeat scroll 0%;
    border-color:#b2da3a;
    border-style:solid;
    border-width:1px 0;
    font-size: 1em;
    margin: 1em 0pt;
    overflow:auto;
    padding: 0.3em 0.4em;
    white-space:pre;
}

.multiupload-box div.fieldset {
    border:  1px solid #afe14c;
    margin: 10px 0;
    padding: 0px 0px 10px 10px;
}
.multiupload-box div.fieldset span.legend {
    position: relative;
    background-color: #FFF;
    padding: 3px;
    top: -10px;
    font: 700 14px Arial, Helvetica, sans-serif;
    color: #73b304;
}

.multiupload-box div.flash {
    width: 375px;
    margin: 10px 0px;
    border-color: #D9E4FF;

    -moz-border-radius-topleft : 5px;
    -webkit-border-top-left-radius : 5px;
    -moz-border-radius-topright : 5px;
    -webkit-border-top-right-radius : 5px;
    -moz-border-radius-bottomleft : 5px;
    -webkit-border-bottom-left-radius : 5px;
    -moz-border-radius-bottomright : 5px;
    -webkit-border-bottom-right-radius : 5px;

}

.multiupload-box button,
.multiupload-box input,
.multiupload-box select,
.multiupload-box textarea { 
    border-width: 1px; 
    margin-bottom: 10px;
    padding: 2px 3px;
}



.multiupload-box input[disabled]{ border: 1px solid #ccc } /* FF 2 Fix */


.multiupload-box label { 
    width: 150px; 
    text-align: right; 
    display:block;
    margin-right: 5px;
}

.multiupload-box #btnSubmit { margin: 0 0 0 155px ; }

/* -- Table Styles ------------------------------- */
.multiupload-box td {
    font: 10pt Helvetica, Arial, sans-serif;
    vertical-align: top;
}

.multiupload-box .progressWrapper {
    width: 357px;
    overflow: hidden;
}

.multiupload-box .progressContainer {
    margin: 5px;
    padding: 4px;
    border: solid 1px #E8E8E8;
    background-color: #F7F7F7;
    overflow: hidden;
}
/* Message */
.multiupload-box .message {
    margin: 1em 0;
    padding: 10px 20px;
    border: solid 1px #FFDD99;
    background-color: #FFFFCC;
    overflow: hidden;
}
/* Error */
.multiupload-box .red {
    border: solid 1px #B50000;
    background-color: #FFEBEB;
}

/* Current */
.multiupload-box .green {
    border: solid 1px #DDF0DD;
    background-color: #EBFFEB;
}

/* Complete */
.multiupload-box .blue {
    border: solid 1px #CEE2F2;
    background-color: #F0F5FF;
}

.multiupload-box .progressName {
    font-size: 8pt;
    font-weight: 700;
    color: #555;
    width: 323px;
    height: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.multiupload-box .progressBarInProgress,
.multiupload-box .progressBarComplete,
.multiupload-box .progressBarError {
    font-size: 0;
    width: 0%;
    height: 2px;
    background-color: blue;
    margin-top: 2px;
}

.multiupload-box .progressBarComplete {
    width: 100%;
    background-color: green;
    visibility: hidden;
}

.multiupload-box .progressBarError {
    width: 100%;
    background-color: red;
    visibility: hidden;
}

.multiupload-box .progressBarStatus {
    margin-top: 2px;
    width: 337px;
    font-size: 7pt;
    font-family: Arial;
    text-align: left;
    white-space: nowrap;
}

.multiupload-box a.progressCancel {
    font-size: 0;
    display: block;
    height: 14px;
    width: 14px;
    background-image: url(cancelbutton.gif);
    background-repeat: no-repeat;
    background-position: -14px 0px;
    float: right;
}

.multiupload-box a.progressCancel:hover {
    background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.multiupload-box .swfupload {
    vertical-align: top;
}
.multiupload-box{
    padding-top: 10px;
}

