/* who i am
 -----------------------------------------------------*/
.wrapper {
  max-width: 1450px;
  margin: 0 auto;
}

.ctn-inner {
  margin: 0 auto;
  width: 93%;
}

.block-four-col {
  margin-bottom: 100px;
}
.block-four-col a {
  display: inline-block;
  padding: 30px 8%;
}
.block-four-col .item {
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  text-align: center;
}
.block-four-col .item .ico-clock {
  width: 14%;
  margin: 0px 0px 25px;
  max-width: 40px;
}
.block-four-col .item h3 {
  color: #555555;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 0px 0px 15px;
}

.homepage .block-four-col .item {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .block-four-col {
    margin-bottom: 30px;
  }
  .block-four-col .item {
    max-width: 400px;
    margin: 0 auto 10px auto;
  }
  .block-four-col .item .ico-clock {
    margin-bottom: 30px;
  }
  .block-four-col .item h3 {
    margin-bottom: 20px;
  }
}
.md-modal-four-col {
  display: none;
  padding: 44px 10px 44px 24px;
}
.md-modal-four-col .content {
  max-height: 300px;
  overflow-y: auto;
}
