/* module css 01
 -----------------------------------------------------*/
.page-header {
  border-top: 5px solid #1672c2;
  padding-top: 7px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.page-header .logo-header {
  float: left;
  padding-top: 13px;
}
.page-header .logo-header a {
  display: inline-block;
}
.page-header .right-header {
  float: right;
}
.page-header .right-header .top-header {
  height: 40px;
  position: relative;
}
.page-header .right-header .top-header:after {
  content: "";
  width: 85%;
  height: 1px;
  display: block;
  background: #eeeeee;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.page-header .right-header .top-header .search {
  margin-right: 20px;
  float: right;
  position: relative;
  width: 50%;
}
.page-header .right-header .top-header .search input[type=search] {
  border-radius: 3px;
  width: 100%;
  padding: 5px 12%;
  border: 1px solid #f3f3f3;
}
.page-header .right-header .top-header .search input[type=search]::-webkit-input-placeholder {
  color: #bcbcbc;
  font-weight: 300;
  font-family: "Arial", sans-serif;
}
.page-header .right-header .top-header .search input[type=search]::-moz-placeholder {
  color: #bcbcbc;
  font-weight: 300;
  font-family: "Arial", sans-serif;
}
.page-header .right-header .top-header .search input[type=search]:-ms-input-placeholder {
  color: #bcbcbc;
  font-weight: 300;
  font-family: "Arial", sans-serif;
}
.page-header .right-header .top-header .search input[type=search]::placeholder {
  color: #bcbcbc;
  font-weight: 300;
  font-family: "Arial", sans-serif;
}
.page-header .right-header .top-header .search input[type=button] {
  background: url(../images/ico-search.png) no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 4%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #9d9d9d;
  border: none;
}
.page-header .right-header .top-header .language {
  width: 14%;
  float: right;
  margin-top: 5px;
  z-index: 999;
}
.page-header .right-header .top-header .language .md-hidden {
  margin-top: 5px;
}
.page-header .right-header .top-header .language .description {
  float: none;
  margin: 0px;
}
.page-header .right-header .top-header .language .menu.transition.visible {
  padding: 5px 10px;
  left: -10px;
  width: 120%;
}
.page-header .right-header .top-header .language .item.select-lang.active.selected {
  background: none;
}
.page-header .right-header .top-header .language img {
  margin-right: 5px;
  margin-bottom: 3px;
}
.page-header .right-header .top-header .language .select-lang {
  padding: 0px !important;
}
.page-header .right-header .top-header .language .select-lang:hover {
  background: none;
}
.page-header .right-header .top-header .language .select-lang.other {
  margin-bottom: 5px;
}
.page-header .right-header .nav-bar {
  height: 75px;
  line-height: 75px;
}
.page-header .right-header .nav-bar ul li {
  float: left;
}
.page-header .right-header .nav-bar ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-family: BookmanOldStyle;
  font-weight: bold;
}
.page-header .right-header .nav-bar ul li a:last-child {
  padding-right: 0px;
}
.page-header .right-header .nav-bar ul li.active a {
  color: #e60112;
}
.page-header .toggle-menu {
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
  cursor: pointer;
}
.page-header .toggle-menu span {
  display: block;
  margin-bottom: 4px;
  width: 30px;
  height: 4px;
  background: #060606;
}
.page-header .toggle-menu span:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .page-header .right-header .nav-bar ul li a {
    font-size: -webkit-calc(8px + 0.6vw);
    font-size: calc(8px + 0.6vw);
  }

  .page-header .right-header .top-header:after {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .page-header .right-header {
    width: -webkit-calc(100% - 112px);
    width: calc(100% - 112px);
  }

  .page-header .right-header .nav-bar ul {
    float: right;
  }
}
@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
  }
  .page-header .logo-header {
    float: none;
    padding-top: 0px;
    text-align: center;
    padding-bottom: 15px;
  }
  .page-header .right-header .top-header {
    height: auto;
    position: static;
  }
  .page-header .right-header .top-header:after {
    display: none;
  }
  .page-header .right-header .top-header .search {
    display: none;
  }
  .page-header .right-header .top-header .language {
    width: auto;
    margin: 0;
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .page-header .right-header .nav-bar {
    display: none;
  }
  .page-header .toggle-menu {
    display: inline-block;
  }
}
.header-mobile {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: fixed;
  background: #FFF;
  width: 90%;
  min-height: 100vh;
  z-index: 9999;
  top: 0px;
  left: -110%;
}
.header-mobile .top-header-mb {
  position: relative;
  padding: 0 5%;
  padding-top: 20px;
  margin-bottom: 20px;
}
.header-mobile .top-header-mb .md-close {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.header-mobile .search {
  padding: 10px 5%;
  position: relative;
  background: #f2f2f2;
  width: 100%;
}
.header-mobile .search input[type=search] {
  border-radius: 3px;
  width: 100%;
  padding: 5px 8%;
  border: 1px solid #f3f3f3;
}
.header-mobile .search input[type=search]::-webkit-input-placeholder {
  color: #bcbcbc;
}
.header-mobile .search input[type=search]::-moz-placeholder {
  color: #bcbcbc;
}
.header-mobile .search input[type=search]:-ms-input-placeholder {
  color: #bcbcbc;
}
.header-mobile .search input[type=search]::placeholder {
  color: #bcbcbc;
}
.header-mobile .search input[type=button] {
  background: url(../images/ico-search.png) no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #9d9d9d;
  border: none;
}
.header-mobile .nav-bar-mb {
  padding: 0 5%;
}
.header-mobile .nav-bar-mb ul li {
  width: 100%;
}
.header-mobile .nav-bar-mb ul li a {
  padding: 15px 0px;
  display: block;
  text-transform: uppercase;
  font-family: "BookmanOldStyle";
  font-weight: bold;
}
.header-mobile .nav-bar-mb ul li a:hover {
  color: #e60112;
}
.header-mobile .nav-bar-mb ul li a:last-child {
  padding-right: 0px;
}
.header-mobile .nav-bar-mb ul li.active a {
  color: #e60112;
}
.header-mobile .bg-mobile {
  position: absolute;
  top: 0px;
  right: -12%;
  width: 12%;
  min-height: 100vh;
  background: #000;
  opacity: 0.5;
}

.slider-banner {
  margin-bottom: 50px;
}
.slider-banner .item {
  position: relative;
}
.slider-banner .item img {
  width: 100%;
  height: auto;
}
.slider-banner .item .content {
  position: absolute;
  left: 3.5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30%;
}
.slider-banner .item .content h3 {
  color: #1672c2;
  margin-bottom: 15px;
  font-family: BookmanOldStyle;
  font-weight: bold;
}
.slider-banner .owl-nav {
  display: none;
}
.slider-banner .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-banner .owl-dots .owl-dot span {
  background: #FFF;
}
.slider-banner .owl-dots .owl-dot:focus {
  outline: none;
}
.slider-banner .owl-dots .owl-dot.active span {
  background: #1678cd;
}

.about-us {
  margin-bottom: 70px;
}
.about-us .content .right-content {
  width: 47.8%;
  float: right;
  margin-right: 3.5%;
}
.about-us .content .left-content {
  width: 48.7%;
  float: right;
}
.about-us .content .left-content img {
  width: 100%;
  height: auto;
}

.our-project {
  margin-bottom: 70px;
}
.our-project .content {
  margin-bottom: 20px;
}
.our-project .slider-our-project {
  position: relative;
}
.our-project .slider-our-project .owl-dots {
  display: none;
}
.our-project .slider-our-project .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 2%;
}
.our-project .slider-our-project .owl-nav .owl-prev:hover {
  background: none;
}
.our-project .slider-our-project .owl-nav .owl-prev:focus {
  outline: none;
}
.our-project .slider-our-project .owl-nav .owl-prev span {
  background: url(../images/slider-our-project-prev.png) no-repeat;
  display: block;
  width: 18px;
  height: 30px;
  text-indent: -9999px;
}
.our-project .slider-our-project .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 2%;
}
.our-project .slider-our-project .owl-nav .owl-next:hover {
  background: none;
}
.our-project .slider-our-project .owl-nav .owl-next:focus {
  outline: none;
}
.our-project .slider-our-project .owl-nav .owl-next span {
  background: url(../images/slider-our-project-next.png) no-repeat;
  display: block;
  width: 18px;
  height: 30px;
  text-indent: -9999px;
}
.our-project .slider-our-project .slider-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.our-project .slider-our-project .slider-content h3 {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.our-project .slider-our-project .slider-content p {
  color: #FFF;
}
.our-project .slider-our-project .slider-content .read-more a {
  color: #FFF;
  border: 1px solid #FFF;
  white-space: nowrap;
}

.news-event {
  margin-bottom: 70px;
}
.news-event .slider-news {
  position: relative;
  margin-bottom: 20px;
}
.news-event .slider-news .slider-content {
  width: 63%;
  position: absolute;
  left: 4%;
  bottom: 10%;
}
.news-event .slider-news .slider-content h3 {
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.news-event .slider-news .slider-content p {
  color: #FFF;
}
.news-event .slider-news .slider-content .day-post img {
  width: auto;
  margin-top: 6px;
  margin-right: 5px;
}
.news-event .slider-news .owl-dots {
  display: none;
}
.news-event .slider-news .owl-nav {
  margin: 0;
}
.news-event .slider-news .owl-nav .owl-prev {
  position: absolute;
  top: -40px;
  right: 40px;
}
.news-event .slider-news .owl-nav .owl-prev:hover {
  background: none;
}
.news-event .slider-news .owl-nav .owl-prev:focus {
  outline: none;
}
.news-event .slider-news .owl-nav .owl-prev span {
  background: url(../images/slider-new-event-prev.png) no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
.news-event .slider-news .owl-nav .owl-prev.disabled span {
  background: url(../images/slider-new-event-prev.jpg) no-repeat;
}
.news-event .slider-news .owl-nav .owl-next {
  position: absolute;
  top: -40px;
  right: 0%;
}
.news-event .slider-news .owl-nav .owl-next:hover {
  background: none;
}
.news-event .slider-news .owl-nav .owl-next:focus {
  outline: none;
}
.news-event .slider-news .owl-nav .owl-next span {
  background: url(../images/slider-new-event-next.png) no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
.news-event .slider-news .owl-nav .owl-next.disabled span {
  background: url(../images/slider-new-event-next.jpg) no-repeat;
}
.news-event .news .title-hot-news {
  margin-bottom: 10px;
}
.news-event .news .title-hot-news img {
  margin-bottom: 6px;
}
.news-event .news .related-news {
  margin-bottom: 10px;
}
.news-event .news .related-news a {
  float: right;
}
.news-event .news .list-news a {
  color: #555;
}
.news-event .news .list-news a img {
  width: 100%;
  height: auto;
}
.news-event .news .list-news .list-news-content {
  padding: 5px 10px 10px 10px;
  border: 1px solid #dadada;
}
.news-event .news .list-news .list-news-content .day-post {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.news-event .event .title-through {
  margin-bottom: 30px;
}
.news-event .event .search {
  position: relative;
}
.news-event .event .search input[type=search] {
  border-radius: 3px;
  width: 100%;
  padding: 10px 10%;
  border: 1px solid #f3f3f3;
}
.news-event .event .search input[type=search]::-webkit-input-placeholder {
  color: #bcbcbc;
  font-weight: 300;
}
.news-event .event .search input[type=search]::-moz-placeholder {
  color: #bcbcbc;
  font-weight: 300;
}
.news-event .event .search input[type=search]:-ms-input-placeholder {
  color: #bcbcbc;
  font-weight: 300;
}
.news-event .event .search input[type=search]::placeholder {
  color: #bcbcbc;
  font-weight: 300;
}
.news-event .event .search input[type=button] {
  background: url(../images/ico-search.png) no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  left: 4%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #9d9d9d;
  border: none;
}
.news-event .event .list-event {
  border-bottom: 1px solid #efefef;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.news-event .event .list-event::-webkit-scrollbar {
  width: 6px;
}
.news-event .event .list-event::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1678cd;
}
.news-event .event .list-event::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #e8e8e8;
}
.news-event .event .list-event .list-sub {
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}
.news-event .event .list-event .list-sub .thumb-event {
  float: left;
  margin-right: 10px;
  width: 33%;
}
.news-event .event .list-event .list-sub .thumb-event img {
  width: 100%;
  height: auto;
}
.news-event .event .list-event .list-sub .content-list-event {
  padding-right: 5px;
  overflow: hidden;
  margin-top: -5px;
}
.news-event .event .list-event .list-sub .content-list-event a {
  font-size: 14px;
  color: #555555;
  font-weight: bold;
}
.news-event .event .list-event .list-sub .content-list-event .day-post span {
  color: #555555;
}
.news-event strong {
  font-family: "BookmanOldStyle";
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .our-project .slider-our-project .slider-content p {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .news-event .event .list-event .list-sub .content-list-event a {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .slider-banner .item {
    position: relative;
  }
  .slider-banner .item .content {
    z-index: 99;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    background: white;
    margin-left: 0;
    width: 90%;
    padding: 10px 5% 15px 5%;
    left: 5%;
    top: auto;
    bottom: 45px;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
         -o-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .slider-banner .item .content p {
    color: #1c1b1b;
  }
  .slider-banner .item .content h3 {
    line-height: 1.2em;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .about-us .content .right-content {
    width: 100%;
    margin: 0;
  }
  .about-us .content .right-content p {
    margin-bottom: 0;
  }
  .about-us .content .left-content {
    width: 100%;
    margin-bottom: 10px;
  }

  .news-event .slider-news .slider-content {
    margin-top: 10px;
    position: static;
    width: 100%;
  }
  .news-event .slider-news .slider-content h3 {
    color: #1b1b1b;
  }
  .news-event .slider-news .slider-content p {
    color: #1b1b1b;
    margin-bottom: 5px;
  }
  .news-event .news {
    margin-bottom: 30px;
  }
  .news-event .event .title-through {
    margin-bottom: 20px;
  }
  .news-event .event .list-event {
    height: 700px !important;
  }
  .news-event .event .list-event .thumb-event {
    max-width: 120px;
  }
  .news-event .event .search {
    margin-bottom: 5px;
  }
}
.whoiam .about-us {
  padding-top: 60px;
}

.leader-team {
  margin-bottom: 70px;
}
.leader-team .intro {
  margin-bottom: 30px;
}
.leader-team .content .item {
  text-align: center;
}
.leader-team .content .item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555555;
  font-family: "Arial", sans-serif;
}
.leader-team .content .item p {
  color: #1672c2;
}
.leader-team .content .item img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.talk-about-us {
  margin-bottom: 100px;
}
.talk-about-us .title-through {
  margin-bottom: 50px;
}
.talk-about-us .content .slider-talk .item {
  padding: 0 10%;
  text-align: center;
}
.talk-about-us .content .slider-talk .item img {
  width: 2.5%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.talk-about-us .content .slider-talk .item a {
  color: #555555;
}
.talk-about-us .content .slider-talk .item p {
  padding-top: 30px;
}
.talk-about-us .content .slider-talk .item span {
  font-weight: bold;
}
.talk-about-us .content .slider-talk .owl-nav {
  display: none;
}
.talk-about-us .content .slider-talk .owl-dots {
  margin-top: 30px;
}
.talk-about-us .content .slider-talk .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
}
.talk-about-us .content .slider-talk .owl-dots .owl-dot span {
  background: #e2e2e2;
}
.talk-about-us .content .slider-talk .owl-dots .owl-dot:focus {
  outline: none;
}
.talk-about-us .content .slider-talk .owl-dots .owl-dot.active span {
  background: #1678cd;
}

.sponsor {
  margin-bottom: 120px;
}
.sponsor .title-through {
  margin-bottom: 50px;
}
.sponsor .content ul li {
  float: left;
  width: 19%;
  margin-right: 1.2%;
  margin-bottom: 12px;
}
.sponsor .content ul li:nth-child(5), .sponsor .content ul li:nth-child(10) {
  margin-right: 0%;
}
.sponsor .content ul li a {
  display: inline-block;
}
.sponsor .content ul li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .whoiam .about-us {
    padding-top: 30px;
  }

  .leader-team {
    margin-bottom: 30px;
  }
  .leader-team .content .item {
    padding: 0 5%;
    margin-bottom: 50px;
  }

  .talk-about-us {
    margin-bottom: 30px;
  }
  .talk-about-us .content .slider-talk .item {
    padding: 0;
  }
  .talk-about-us .content .slider-talk .item img {
    width: 6.7%;
  }

  .sponsor {
    margin-bottom: 30px;
  }
  .sponsor .content ul li {
    width: 32.5%;
  }
  .sponsor .content ul li:nth-child(5), .sponsor .content ul li:nth-child(10) {
    margin-right: 1.2%;
  }
  .sponsor .content ul li:nth-child(3), .sponsor .content ul li:nth-child(6), .sponsor .content ul li:nth-child(9) {
    margin-right: 0px;
  }
}
.whatdowedo .our-project {
  padding-top: 50px;
}

.highlight, .community {
  margin-bottom: 50px;
}
.highlight .ctn-inner, .community .ctn-inner {
  position: relative;
}
.highlight .select-highlight, .community .select-highlight {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -5px;
}
.highlight .select-highlight .bg-select, .community .select-highlight .bg-select {
  width: 230px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #FFF;
}
.highlight .select-highlight .ui.dropdown.selection, .community .select-highlight .ui.dropdown.selection {
  text-align: center;
  border-radius: 10px;
  min-width: 190px;
  border: 1px solid #555555;
}
.highlight .select-highlight .ui.dropdown.selection .item, .community .select-highlight .ui.dropdown.selection .item {
  text-align: center;
  background: #FFF;
}
.highlight .select-highlight .ui.dropdown.selection .menu.transition, .community .select-highlight .ui.dropdown.selection .menu.transition {
  border: 1px solid #555;
}
.highlight .select-highlight .dropdown.icon, .community .select-highlight .dropdown.icon {
  background: url(../images/ico-select.png) no-repeat;
  width: 16px !important;
  height: 9px !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 !important;
  padding: 0 !important;
}
.highlight .select-highlight .dropdown.icon:before, .community .select-highlight .dropdown.icon:before {
  display: none;
}
.highlight .title-year, .community .title-year {
  font-size: 18px;
  font-weight: bold;
}
.highlight .content .item, .community .content .item {
  margin-bottom: 50px;
}
.highlight .content .item h3, .community .content .item h3 {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555555;
  font-family: "Arial", sans-serif;
}
.highlight .content .item img, .community .content .item img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.highlight .read-more, .community .read-more {
  display: none;
}

.meaning {
  margin-bottom: 100px;
}
.meaning .content {
  margin-bottom: 30px;
}
.meaning .image-meaning .md-scroll img {
  float: left;
  width: 25%;
}

.title-page-detail {
  padding: 20px 0;
  background: #e8e8e8;
}
.title-page-detail p {
  color: #252525;
}

.blk-yt {
  margin-bottom: 50px;
}

.blk-yt1 {
  padding-top: 30px;
}
.blk-yt1 .title-through {
  margin-bottom: 50px;
}
.blk-yt1 .title-through h3 {
  margin-bottom: 20px;
}
.blk-yt1 .interactive {
  margin-bottom: 30px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0px;
}
.blk-yt1 .interactive ul {
  float: left;
}
.blk-yt1 .interactive ul li {
  float: left;
  margin-right: 20px;
  padding-right: 15px;
  border-right: 1px solid #e5e5e5;
}
.blk-yt1 .interactive ul li span {
  margin-right: 10px;
  color: #555;
}
.blk-yt1 .interactive ul li:first-child span {
  color: #1672c2;
}
.blk-yt1 .interactive .time-day {
  display: inline-block;
  float: right;
}
.blk-yt1 .content .info {
  margin-bottom: 30px;
}
.blk-yt1 .content .thumb-detail {
  padding: 0 15%;
  text-align: center;
}
.blk-yt1 .content .thumb-detail img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
.blk-yt1 .content .thumb-detail span {
  font-size: 13px;
}

.blk-yt4 .ctn-inner {
  border-bottom: 1px solid #999999;
  padding-bottom: 35px;
}
.blk-yt4 .info .slider-blk-yt4 {
  position: relative;
}
.blk-yt4 .info .slider-blk-yt4 .owl-dots {
  display: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-prev:hover {
  background: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-prev:focus {
  outline: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-prev span {
  background: url(../images/slider-our-project-prev.png) no-repeat;
  display: block;
  width: 18px;
  height: 30px;
  text-indent: -9999px;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-next {
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-next:hover {
  background: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-next:focus {
  outline: none;
}
.blk-yt4 .info .slider-blk-yt4 .owl-nav .owl-next span {
  background: url(../images/slider-our-project-next.png) no-repeat;
  display: block;
  width: 18px;
  height: 30px;
  text-indent: -9999px;
}
.blk-yt4 .info img {
  width: 100%;
  margin-bottom: 20px;
}
.blk-yt4 .info span {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .blk-yt4 .info img {
    margin-bottom: 0px;
  }
}
.blk-yt5 {
  margin-bottom: 0px;
}
.blk-yt5 .content .item {
  margin-bottom: 50px;
}
.blk-yt5 .content .item h3 {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555555;
}
.blk-yt5 .content .item img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.detail .title-detail {
  margin-bottom: 20px;
}
.detail .title-detail h3 {
  color: #555555;
  font-size: 20px;
}

@media screen and (max-width: 550px) {
  .blk-yt1 .interactive ul li {
    margin-right: 10px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 485px) {
  .blk-yt1 .interactive ul {
    float: none;
    margin-bottom: 10px;
  }
  .blk-yt1 .interactive .time-day {
    float: none;
  }
}
@media screen and (max-width: 767px) {
  .blk-yt {
    margin-bottom: 30px;
  }

  .highlight, .community {
    margin-bottom: 0px;
  }
  .highlight .select-highlight, .community .select-highlight {
    position: static;
    margin-bottom: 30px;
  }
  .highlight .select-highlight .bg-select, .community .select-highlight .bg-select {
    display: none;
  }
  .highlight .content .row:nth-child(2), .community .content .row:nth-child(2) {
    display: none;
  }
  .highlight .read-more, .community .read-more {
    display: block;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .meaning {
    margin-bottom: 30px;
  }
  .meaning .image-meaning {
    max-width: 800px;
    height: auto;
    margin: 20px auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .meaning .image-meaning::-webkit-scrollbar {
    width: 6px;
  }
  .meaning .image-meaning::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1678cd;
  }
  .meaning .image-meaning::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #e8e8e8;
  }
  .meaning .md-scroll {
    width: 4000px;
  }
  .meaning img {
    width: 300px;
    height: auto;
    display: inline-block;
  }
}
.title-through {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.title-through .line-through {
  width: 100%;
  height: 1px;
  background: #1678cd;
  display: block;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.title-through h3 {
  display: inline-block;
  font-weight: bold;
  color: #1678cd;
}

.read-more {
  margin-top: 20px;
  display: inline-block;
}
.read-more a {
  padding: 8px 40px;
  border: 1px solid #1678cd;
  border-radius: 10px;
}

.day-post img {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}
.day-post span {
  overflow: hidden;
  font-size: 12px;
}

.md-mobile {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .title-through .line-through {
    display: none;
  }
  .title-through h3 {
    font-size: 20px;
  }

  .md-desktop {
    display: none !important;
  }

  .md-mobile {
    display: block !important;
  }
}
.maps {
  position: relative;
}
.maps .form-maps {
  width: 100%;
  background: #efefef;
}
.maps .form-maps form {
  padding: 20px 0;
  width: 75%;
  display: table;
  margin: 0 auto;
}
.maps .form-maps form .ui.selection.dropdown {
  position: relative;
  min-width: 17%;
  float: left;
  height: 40px;
  min-height: 30px;
  padding: 12px 20px;
  font-size: 13px;
  border-top: 2px solid #dfe6eb;
  border-bottom: 2px solid #dfe6eb;
  border-left: 2px solid #dfe6eb;
  border-right: 1px solid #FFF;
  border-radius: 2px 0 0 2px;
}
.maps .form-maps form .ui.selection.dropdown:after {
  content: "";
  height: 20px;
  width: 1px;
  background: #cccccc;
  display: block;
  position: absolute;
  right: -2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.maps .form-maps form .ui.selection.dropdown .menu > .item {
  font-size: 13px;
}
.maps .form-maps form .dropdown.icon {
  top: 10px !important;
  right: 2em !important;
}
.maps .form-maps form input[type=text] {
  width: 60%;
  padding: 0 10px;
  float: left;
  height: 40px;
  border-top: 2px solid #dfe6eb;
  border-bottom: 2px solid #dfe6eb;
  border-right: 2px solid #dfe6eb;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #FFF;
  margin-right: 10px;
}
.maps .form-maps form input[type=button] {
  height: 40px;
  width: 15%;
  border-radius: 20px;
  border: none;
  background: #1675c7;
  color: #FFF;
}

.page-footer {
  border-top: 1px solid #e0e0e0;
  border-bottom: 5px solid #1672c2;
  position: relative;
}
.page-footer .nav-bar-footer {
  height: 75px;
  line-height: 75px;
}
.page-footer .nav-bar-footer ul {
  display: table;
  margin: 0 auto;
}
.page-footer .nav-bar-footer ul li {
  float: left;
}
.page-footer .nav-bar-footer ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #666666;
  font-family: "BookmanOldStyle";
}
.page-footer .nav-bar-footer ul li a:hover {
  color: #555555;
}
.page-footer .nav-bar-footer ul li a:last-child {
  padding-right: 0px;
}
.page-footer .nav-bar-footer ul li.active a {
  color: #555555;
  font-size: bold;
}
.page-footer .main-footer {
  padding-bottom: 30px;
}
.page-footer .main-footer .ctn-inner {
  border-top: 2px solid #e0e0e0;
  padding-top: 30px;
}
.page-footer .main-footer .logo-footer {
  padding-left: 18px;
  width: 22.5%;
  float: left;
}
.page-footer .main-footer .logo-footer a {
  display: inline-block;
}
.page-footer .main-footer .content-footer {
  width: 77.5%;
  float: left;
}
.page-footer .main-footer .content-footer p {
  margin-bottom: 0px;
  line-height: 2em;
  color: #555;
}
.page-footer .main-footer .content-footer h2 {
  font-size: 20px;
  color: #1672c2;
  margin-bottom: 10px;
}
.page-footer .main-footer .content-footer .left-content {
  float: left;
  width: 42.5%;
  margin-right: 10%;
}
.page-footer .main-footer .content-footer .right-content {
  float: left;
  width: 47.5%;
}
.page-footer .bottom-footer {
  border-top: 2px solid #e0e0e0;
  padding: 12px 0px;
}
.page-footer .bottom-footer .copy-right {
  padding-top: 7px;
  float: left;
}
.page-footer .bottom-footer .social-footer {
  float: right;
  width: 15%;
  min-width: 160px;
}
.page-footer .bottom-footer .social-footer ul li {
  text-align: center;
  width: 23%;
  float: left;
  margin-left: 2%;
}
.page-footer .bottom-footer .social-footer ul li a {
  display: inline-block;
}
.page-footer .bottom-footer .social-footer ul li a img {
  width: 80%;
}

@media screen and (max-width: 991px) {
  .page-footer .bottom-footer .copy-right {
    padding-top: 5px;
  }
}
@media screen and (max-width: 767px) {
  .page-footer .nav-bar-footer {
    display: none;
  }
  .page-footer .main-footer .ctn-inner {
    border: none;
  }
  .page-footer .main-footer .logo-footer {
    padding-left: 0px;
    float: none;
    margin-bottom: 30px;
    width: 100%;
  }
  .page-footer .main-footer .content-footer {
    width: 100%;
    float: none;
  }
  .page-footer .main-footer .content-footer .left-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .page-footer .bottom-footer {
    padding: 0px;
    position: relative;
    height: auto;
    line-height: 1.5;
  }
  .page-footer .bottom-footer .ctn-inner {
    width: 100%;
  }
  .page-footer .bottom-footer .copy-right {
    padding: 10px 0px 10px 3.5%;
    float: none;
    border-bottom: 2px solid #e0e0e0;
  }
  .page-footer .bottom-footer .social-footer {
    padding: 10px 0px 10px 3.5%;
    width: 25%;
    min-width: 160px;
    float: none;
  }

  .maps .form-maps form {
    width: 90%;
  }
  .maps .form-maps form input[type=button] {
    width: 20%;
  }
}
@media screen and (max-width: 650px) {
  .maps .form-maps form {
    width: 90%;
  }
  .maps .form-maps form input[type=text] {
    width: 40%;
    font-size: 11px;
  }
  .maps .form-maps form .ui.selection.dropdown {
    font-size: 11px;
  }
  .maps .form-maps form input[type=button] {
    font-size: 11px;
  }
}
@media screen and (max-width: 650px) {
  .maps .form-maps form {
    width: 95%;
  }
  .maps .form-maps form input[type=text] {
    width: 50%;
  }
  .maps .form-maps form input[type=button] {
    width: 25%;
  }
}
@media screen and (max-width: 460px) {
  .maps .form-maps form {
    width: 95%;
  }
  .maps .form-maps form input[type=text] {
    width: 40%;
  }
}
@media screen and (max-width: 992px) {
  .maps .form-maps form .dropdown.icon {
    right: 0.5em !important;
  }

  .page-footer .main-footer .content-footer .left-content {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .page-footer .main-footer .content-footer .right-content {
    width: 100%;
  }
}
.page-with-us .title-page {
  padding: 45px 0px 20px;
}
.page-with-us .tab-content-8p .smd-nav-control .md-nav-tab .item {
  width: 50%;
  display: inline-block;
  text-align: center;
  float: left;
}
.page-with-us .tab-content-8p .smd-nav-control .md-nav-tab .item span {
  display: block;
  font-size: 24px;
  padding: 20px 0px;
  border: 1px solid #e8e9eb;
  color: #1672c2;
  cursor: pointer;
  font-family: "BookmanOldStyle";
  font-weight: 700;
}
.page-with-us .tab-content-8p .smd-nav-control .md-nav-tab .item span.active {
  background: #1672c2;
  color: #FFF;
}
.page-with-us .tab-content-8p .tab-content .content {
  background: #f2f2f2;
  font-size: 14px;
  padding: 30px 2.5% 20px;
}
.page-with-us .tab-content-8p .tab-content .content .title-through h3 {
  font-size: 20px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 {
  margin-bottom: 40px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .title-form {
  font-size: 16px;
  color: #555555;
  margin-bottom: 15px;
  font-weight: 600;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .title-form.cl-bl {
  color: #1672c2;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .field {
  margin-bottom: 0px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row {
  margin-bottom: 15px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row .md-col {
  float: left;
  width: 45%;
  display: inline-block;
  margin-right: 9%;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row .md-col:last-child {
  margin-right: 0px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-1 {
  padding-top: 15px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-1 p {
  font-style: italic;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-3 {
  margin-bottom: 0px !important;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-4 {
  padding-top: 80px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-5 .field {
  width: 100% !important;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-5 .field label:after {
  content: "";
  background: url(../images/ico-checkbox.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  top: 0px;
  border-radius: 0.21428571rem;
  background-color: #FFF !important;
  width: 20px !important;
  height: 20px !important;
  top: 0 !important;
  left: 0 !important;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-2 .field {
  width: 24.5%;
  display: inline-block;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-2 .field label:before {
  border-color: #FFF;
  width: 20px;
  height: 20px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-2 .field label:after {
  width: 20px;
  height: 20px;
  top: 2px;
  font-size: 16px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-2 .field label {
  padding: 2.5px 0px 0px 35px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .field label:after {
  content: "";
  background: url(../images/ico-checkbox.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  top: 0px;
  border-radius: 0.21428571rem;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .md-row {
  margin-bottom: 20px;
  position: relative;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .md-row .field-2 {
  width: 100%;
  display: inline-block;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .md-row .field-2 input {
  width: 50%;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .md-row .field-2 .service {
  min-width: 80px;
  width: 80px;
  height: 38.8px;
  min-height: 38.8px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-3 .field {
  width: 170px;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-3 .field label:after {
  width: 26px;
  height: 26px;
  top: -1.5px;
  left: -3.2px;
  font-size: 20px;
  background-color: #ff0000;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-1 .error {
  padding-top: 7px;
  font-size: -webkit-calc(10px + 0.2vw) !important;
  font-size: calc(10px + 0.2vw) !important;
  line-height: 1em;
  margin-left: 0px;
  display: block;
  color: #e60112;
  font-style: normal !important;
  margin: 0px !important;
}
.page-with-us .tab-content-8p .tab-content .content .md-form-spl.active {
  display: none;
}
.page-with-us .tab-content-8p .tab-content .content form {
  font-family: "Arial", sans-serif;
}
.page-with-us .tab-content-8p .tab-content .content form label {
  display: block;
}
.page-with-us .tab-content-8p .tab-content .content form input {
  width: 100%;
  border: 1px solid #e8e9eb;
  padding: 10px 10px;
  border-radius: 3px;
  font-family: "Arial", sans-serif;
}
.page-with-us .tab-content-8p .tab-content .content form textarea {
  height: 8em;
  font-size: 15px;
}
.page-with-us .tab-content-8p .tab-content .content form textarea:focus {
  border-color: #FFF;
  border-radius: 3px;
}
.page-with-us .tab-content-8p .tab-content .content form .ui.dropdown {
  min-height: 38px;
  height: 38px;
  width: 100%;
  border: 1px solid #e8e9eb;
  border-radius: 3px;
}
.page-with-us .tab-content-8p .tab-content .content form .ui.selection.active.dropdown .menu {
  border-color: #fafafa;
}
.page-with-us .tab-content-8p .tab-content .content form .dropdown.icon {
  background: url(../images/dropdown.png) no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
  width: 12px;
  height: 7px;
  max-width: 12px;
  max-height: 7px;
  margin: 0px;
  padding: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.page-with-us .tab-content-8p .tab-content .content form .dropdown.icon:before {
  content: "";
}
.page-with-us .tab-content-8p .tab-content .content .button-submit {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.page-with-us .tab-content-8p .tab-content .content .button-submit input[type=button] {
  width: 50%;
  padding: 10px 15%;
  font-weight: 700;
  color: #FFF;
  background: #e60112;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-family: "BookmanOldStyle";
  margin-bottom: 20px;
}
.page-with-us .tab-content-8p .tab-content .content .button-submit .md-dl span {
  color: #1b1b1b;
  margin-right: 10px;
}
.page-with-us .tab-content-8p .tab-content .content .button-submit .md-dl a {
  text-decoration: underline;
}
.page-with-us .tab-content-8p .tab-content .content .button-submit .md-dl a img {
  margin-right: 5px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate {
  padding: 0px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .md-form-1 {
  margin-bottom: 0px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .md-form-1 .title-form {
  margin-bottom: 20px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .md-form-1 .title-form.cl-bl {
  font-family: "BookmanOldStyle";
  font-size: 20px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .md-form-1 .md-row {
  margin-bottom: 20px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-left {
  padding: 30px 2.5% 0px;
  width: 55%;
  float: left;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-left .button-submit {
  padding-top: 30px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-left .button-submit input[type=button] {
  width: 100%;
  padding: 15px 10px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right {
  background: #f8f8f8;
  width: 45%;
  float: left;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right .thumb img {
  width: 100%;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right .information {
  margin: 30px 0px 30px 12.5%;
  background: #FFF;
  padding: 15px 20px;
  border-radius: 10px;
  width: 75%;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right .information .title-infor {
  margin-bottom: 15px;
  font-size: 16px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right .information p {
  margin-bottom: 8px;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right .information .left-infor p {
  font-weight: 400;
}
.page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right .information .left-infor span {
  font-weight: 700;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right .information {
    width: 90%;
    margin-left: 5%;
  }
  .page-with-us .tab-content-8p .tab-content .md-cooperate {
    background: #f8f8f8;
  }
  .page-with-us .tab-content-8p .tab-content .md-cooperate .fl-left {
    background: #f2f2f2;
  }
}
@media screen and (max-width: 767px) {
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 {
    margin-bottom: 30px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 p {
    font-size: 15px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row {
    margin-bottom: 0px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row .md-col {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row .md-col label {
    margin-bottom: 0.8rem;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-1, .page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-2 {
    padding-top: 10px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-2 .field {
    width: 49%;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .md-row {
    margin-bottom: 0px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .md-row .field-2 {
    position: static;
    width: 100%;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .field {
    margin-bottom: 20px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-3 .field {
    margin-bottom: 20px;
  }
  .page-with-us .tab-content-8p .tab-content .content form input {
    font-size: 15px;
  }
  .page-with-us .tab-content-8p .tab-content .content form label {
    font-size: 15px;
  }
  .page-with-us .tab-content-8p .tab-content .content .button-submit input[type=button] {
    width: 70%;
  }
  .page-with-us .tab-content-8p .tab-content .content .button-submit {
    padding-top: 30px !important;
  }
  .page-with-us .tab-content-8p .tab-content .md-cooperate .fl-left {
    width: 100%;
  }
  .page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right {
    width: 100%;
  }
  .page-with-us .tab-content-8p .tab-content .md-cooperate .fl-left .md-row {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575px) {
  .page-with-us .tab-content-8p .tab-content .content .button-submit .md-dl span {
    display: block;
  }
}
@media screen and (max-width: 460px) {
  .page-with-us .tab-content-8p .tab-content .md-cooperate .fl-right .information {
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 430px) {
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-2 .field label {
    font-size: -webkit-calc(7px + 1.2vw);
    font-size: calc(7px + 1.2vw);
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .md-row .field-2 .service {
    width: 75px;
    min-width: 75px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .nm-form .md-row .field-2 .service .text {
    font-size: -webkit-calc(7px + 1.2vw);
    font-size: calc(7px + 1.2vw);
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-3 .field label {
    font-size: 15px;
  }
  .page-with-us .tab-content-8p .tab-content .content form input {
    font-size: -webkit-calc(10px + 1vw);
    font-size: calc(10px + 1vw);
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-1 p {
    font-size: 13px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-3 .field {
    width: 100%;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .form-3 .field:last-child {
    margin-bottom: 0px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-5 {
    padding-top: 20px;
  }
  .page-with-us .tab-content-8p .tab-content .content .md-form-1 .md-row-5 .field {
    margin-bottom: 0px;
  }
  .page-with-us .tab-content-8p .tab-content .md-sponsor .button-submit {
    padding-top: 20px !important;
  }
}

.page-with-us .tab-content-8p .tab-content .md-sponsor .button-submit {
  padding-top: 50px;
}

.page-with-us .tab-content-8p .tab-content .md-volunteer .button-submit {
  margin-bottom: 80px;
}

.whatdowedo-2 .news-and-events {
  padding-top: 50px;
  margin-bottom: 20px;
}
.whatdowedo-2 .news-and-events .col-md-6 {
  margin-bottom: 40px;
}
.whatdowedo-2 .news-and-events .content img {
  float: left;
  margin-right: 20px;
  width: 40%;
  height: auto;
}
.whatdowedo-2 .news-and-events .content .info {
  overflow: hidden;
}
.whatdowedo-2 .news-and-events .content .info h3 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555555;
  font-family: "Arial", sans-serif;
}
.whatdowedo-2 .news-and-events .content .info p {
  font-family: "Arial", sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .whatdowedo-2 .news-and-events .content img {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .whatdowedo-2 .news-and-events .content .info {
    overflow: auto;
  }
}
.page-contact .contact {
  padding-top: 50px;
  margin-bottom: 20px;
}
.page-contact .contact .content .info {
  font-size: 18px;
  margin-bottom: 70px;
  padding-top: 20px;
}
.page-contact .contact .content .info .ads {
  margin-bottom: 40px;
}
.page-contact .contact .content .info p {
  margin-bottom: 15px;
}
.page-contact .contact .content .md-place h3 {
  color: #1672c2;
  font-size: 20px;
  margin-bottom: 15px;
}
.page-contact .contact .content .md-place h3 span {
  color: #555555;
}
.page-contact .contact .content .md-place .col-md-4 {
  margin-bottom: 30px;
}
