<!--<div class="form-group">
    <label class="col-sm-2 control-label" for="">Type</label>
    <div class="col-sm-10">
        <?php /*echo $this->formSelect($form->get('type')); */?>
    </div>
</div>-->
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Parent</label>
    <div class="col-sm-10">
        <?php echo $this->formSelect($form->get('parent_id')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Title <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('title')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Slug <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('slug')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Intro</label>
    <div class="col-sm-10">
        <?php echo $this->formTextarea($form->get('intro')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Ordering</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('ordering')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Status</label>
    <div class="col-sm-10">
        <?php echo $this->formSelect($form->get('status')); ?>
    </div>
</div>
<?php echo $this->formHidden($form->get('csrf')); ?>

<!--<div class="form-group">
    <label class="col-sm-2 control-label" for="">Body</label>
    <div class="col-sm-10">
        <?php //echo $this->formTextarea($form->get('body')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Image</label>
    <div class="col-sm-10">
        <?php //echo $this->formMedia($form->get('image')); ?>
    </div>
</div>
 -->
<?php echo $this->formHidden($form->get('type')); ?>