<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category</h4>
                <h6 class="card-subtitle">Tạo Danh Mục Trắc Nghiệm</h6>
                <!--<div class="form-group">
                    <label class="col-sm-2 control-label" for="">Type</label>
                    <div class="col-sm-10">
                        <?php /*echo $this->formSelect($form->get('type')); */?>
                    </div>
                </div>-->
                <div class="form-group row m-t-40">
                    <label class="col-sm-2 control-label text-right" for="">Danh Mục Cha</label>
                    <div class="col-sm-8">
                        <?php echo $this->formSelect($form->get('parent_id')); ?>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Tiêu Đề <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('title')); ?>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Slug <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('slug')); ?>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Mô Tả</label>
                    <div class="col-sm-8">
                        <?php echo $this->formTextarea($form->get('intro')); ?>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Trạng Thái</label>
                    <div class="col-sm-8">
                        <?php echo $this->formSelect($form->get('status')); ?>
                    </div>
                </div>
                <?php echo $this->formHidden($form->get('csrf')); ?>

                <!--<div class="form-group">
                    <label class="col-sm-2 control-label" for="">Body</label>
                    <div class="col-sm-10">
                        <?php //echo $this->formTextarea($form->get('body')); ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Image</label>
                    <div class="col-sm-10">
                        <?php //echo $this->formMedia($form->get('image')); ?>
                    </div>
                </div>
                 -->
                <?php echo $this->formHidden($form->get('type')); ?>
            </div>
        </div>
    </div>
</div>
