<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th class="tableColumnCheck"><input type="checkbox" value="1" id="checkall" class="checkall"/></th>
                <th><?php echo $this->layoutHelper()->header('id', $state); ?></th>
                <th><?php echo $this->layoutHelper()->header('name', $state); ?></th>
                <th><?php echo $this->layoutHelper()->header('address', $state); ?></th>
                <th><?php echo $this->layoutHelper()->header('age', $state); ?></th>
                <th><?php echo $this->layoutHelper()->header('phone', $state); ?></th>
                <th><?php echo $this->layoutHelper()->header('email', $state); ?></th>
                <th><?php echo $this->layoutHelper()->header('volunteer_type', $state, 'Lựa chọn tình nguyện'); ?></th>
                <th><?php echo $this->layoutHelper()->header('message', $state, 'Nội dung tình nguyện'); ?></th>
                <th><?php echo $this->layoutHelper()->header('volunteer_time', $state, 'Thời gian tình nguyện'); ?></th>
                <th><?php echo $this->layoutHelper()->header('offen_message', $state, 'Tần suất'); ?></th>
                <th><?php echo $this->layoutHelper()->header('created', $state); ?></th>
                <th><?php echo $this->layoutHelper()->header('status', $state); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php $ageArr = array('Không xác định', '18 - 25 tuổi', '26 - 35 tuối', '36 - 45 tuổi', '46 trở lên') ?>
            <?php foreach ($items as $item) :
            $urlDetail = $this->url('contactadmin', array('action' => 'edit', 'id' => $item['id'])).'?type='.$type;
             ?>
                <tr>
                    <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $item['id']; ?>"/></td>
                    <td><a href="<?php echo $urlDetail; ?>"><?php echo $item['id']; ?></a></td>
                    <td><?php echo $this->escapeHtml($item['name']); ?></td>

                    <td><?php echo $this->escapeHtml($item['address']); ?></td>
                    <td><?php echo $this->escapeHtml($ageArr[$item['age']]); ?></td>
                    <td><?php echo $this->escapeHtml($item['phone']); ?></td>
                    <td><?php echo $this->escapeHtml($item['email']); ?></td>
                    <td><?php echo $this->escapeHtml($item['volunteer_type']); ?></td>
                    <td><?php echo $this->escapeHtml($item['message']); ?></td>
                    <td><?php echo $this->escapeHtml($item['volunteer_time']); ?></td>
                    <td><?php echo $this->escapeHtml($item['offen_message']); ?></td>
                    <td><?php echo $this->layoutHelper()->dateString($item['created']); ?></td>
                    <td><?php echo $this->layoutHelper()->publishString($item['status'], array('Readed','Unreaded')); ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>