<div class="form-group">
    <label class="col-sm-2 control-label" for="">Name</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('name')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Address</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('address')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Tuổi</label>
    <div class="col-sm-10">
        <?php echo $this->formSelect($form->get('age')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Điện Thoại</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('phone')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Email</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('email')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Lựa chọn</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('volunteer_type')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Nội Dung</label>
    <div class="col-sm-10">
        <?php echo $this->formTextarea($form->get('message')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Thời Gian</label>
    <div class="col-sm-10">
        <?php echo $this->formTextarea($form->get('volunteer_time')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Tần Suất</label>
    <div class="col-sm-10">
        <?php echo $this->formTextarea($form->get('offen_message')); ?>
    </div>
</div>

<?php //echo $this->formHidden($form->get('csrf')); ?>