<div class="container">
    <?php if($user && $user['id']) :?>
        <div class="container">
            <div class="row">
                <div class="col col-xl-3 order-xl-2 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
                    <div class="ui-block">

                        <!-- Your Profile  -->
                        
                        <div class="your-profile">
                            <div class="ui-block-title ui-block-title-small">
                                <h6 class="title">Tài liệu liên quan</h6>
                            </div>
                        </div>
                        
                        <!-- ... end Your Profile  -->

                    </div>
                </div>

                <div class="col col-xl-9 order-xl-1 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
                    <div class="ui-block">
                        <div class="ui-block-title">
                            <h6 class="title"><?php echo $docsDetails['title']; ?></h6>
                        </div>

                        <div class="content-details">
                            <?php echo $docsDetails['body']; ?>
                            <?php if ($docsDetails["files"] != ""): ?>
                                <!-- <iframe src="<?php echo BASE_URL_MEDIA_FILE.$docsDetails["files"]; ?>" allowfullscreen type=”application/pdf” onload="this.width='100%';this.height=screen.height;"></iframe> -->
                                <iframe class="pdfjs-viewer" width="100%" height="800px" src="<?php echo BASE_URL_MEDIA_FILE.'/pdfviewer/web/viewer.html?file=../../'.$docsDetails["files"]; ?>"></iframe>
                            <?php endif; ?>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <?php else: ?>
        <div class="row">
            <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <img src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/login.svg" alt="error_500">
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                    <h1 class="page-500-sup-title">403</h1>
                    <h2 class="h1 heading-title">Đăng nhập vào lớp</h2>
                    <p class="heading-text">Bạn cần đăng nhập vào lớp để xem được nội dung này!
                    </p>
                </div>
                <a href="javascript:void(0);" onclick="App.Popup.openLogin();" class="btn btn-primary btn-lg">Đăng nhập</a>
            </div>
        </div>
    <?php endif; ?>
</div>