<style type="text/css">
    .your-profile-menu .active a{
        color: #ff5e3a
    }
</style>
<div class="profile-settings-responsive">

    <a href="#" class="js-profile-settings-open profile-settings-open">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
        <div class="ui-block">
            <div class="your-profile">
                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">Tài liệu <?php if($cat) {
                    echo $cat[0]['title'];
                } ?></h6>
                </div>

                <?php if ($categories && count($categories['child']) > 0): // echo "<pre>"; print_r($categories); echo "</pre>";?>
                    <?php foreach ($categories['child'] as $key => $category): ?>
                        <?php if ($category['slug'] != 'de-thi'): // hide de thi in docs list ?>
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h6 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseCat<?php echo $key; ?>" aria-expanded="true" aria-controls="collapseCat<?php echo $key; ?>">
                                                <?php echo $category['title']; ?>
                                                <svg class="olymp-dropdown-arrow-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL ?>/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                            </a>
                                        </h6>
                                    </div>
                                    
                                    <?php if ($category && count($category['child']) > 0): // echo "<pre>"; print_r($categories); echo "</pre>";?>
                                        <div id="collapseCat<?php echo $key; ?>" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <ul class="your-profile-menu">
                                                <?php foreach ($category['child'] as $key2 => $child): ?>
                                                    <li class="category-<?php echo $child['id']; ?>" >
                                                        <a href="javascript:void(0);" onclick="App.Ajax.getDocs(<?php echo $child['id']; ?>);"><?php echo $child['title']; ?></a>
                                                    </li>
                                                <?php endforeach; ?>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
            
               
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
            <div class="ui-block">

                <!-- Your Profile  -->
                
                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Tài liệu <?php if($cat) {
                        echo $cat[0]['title'];
                    } ?></h6>
                    </div>

                    <?php if ($categories && count($categories['child']) > 0): // echo "<pre>"; print_r($categories); echo "</pre>";?>
                        <?php foreach ($categories['child'] as $key => $category): ?>
                            <?php if ($category['slug'] != 'de-thi'): // hide de thi in docs list ?>
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h6 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseCat<?php echo $key; ?>" aria-expanded="true" aria-controls="collapseCat<?php echo $key; ?>">
                                                <?php echo $category['title']; ?>
                                                <svg class="olymp-dropdown-arrow-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL ?>/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                            </a>
                                        </h6>
                                    </div>
                                    
                                    <?php if ($category && count($category['child']) > 0): // echo "<pre>"; print_r($categories); echo "</pre>";?>
                                        <div id="collapseCat<?php echo $key; ?>" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <ul class="your-profile-menu" id="your-profile-menu">
                                                <?php foreach ($category['child'] as $key2 => $child): ?>
                                                    <li class="category-<?php echo $child['id']; ?><?php if($key == 0 && $key2 == 0) {echo ' active';} ?>">
                                                        <a href="javascript:void(0);" onclick="App.Ajax.getDocs(<?php echo $child['id']; ?>);"><?php echo $child['title']; ?></a>
                                                    </li>
                                                <?php endforeach; ?>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                
                   
                </div>
                
                <!-- ... end Your Profile  -->

            </div>
        </div>

        <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Thông tin tài liệu</h6>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>

                <div style="padding: 25px;">
                    <?php if($cat) {
                        echo $cat[0]['body'];
                    } ?>
                </div>
                
                <!-- Notification List Frien Requests -->
                
                <ul id="list-docs" class="notification-list friend-requests">
                    <!-- <li>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">Tài liệu học tập mệnh đề và tập hợp</a>
                            <span class="chat-message-item">2 Tháng Mười, 2019</span>
                        </div>
                        <span class="notification-icon">
                            <a href="#" class="accept-request">
                                Đọc tài liệu
                            </a>
                        </span>
                    </li> -->
                </ul>
                
                <!-- ... end Notification List Frien Requests -->
            </div>

        </div>
    </div>
</div>