<?php if($user && $user['id']) :?>
    <style type="text/css">
        .your-profile-menu .active a{
            color: #ff5e3a
        }
    </style>
    <div class="profile-settings-responsive">

        <a href="#" class="js-profile-settings-open profile-settings-open">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>

        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <div class="ui-block">
                <div class="your-profile">
                    <?php if ($cat[0]['slug'] == 'de-thi-thpq-quoc-gia'): ?>
                        <div class="ui-block-title ui-block-title-small"><a href="javascript:void(0)" onclick="App.Ajax.getQuizs(<?php echo $cat[0]['slug']; ?>);"><?php echo $cat[0]['title']; ?></a></div>
                    <?php else: ?>
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Đề thi <?php if($cat) {
                            echo $cat[0]['title'];
                        } ?></h6>
                        </div>
                    <?php endif; ?>

                    <?php if ($categories && count($categories['child']) > 0): // echo "<pre>"; print_r($categories); echo "</pre>";?>
                        <?php foreach ($categories['child'] as $key => $category): ?>
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <h6 class="mb-0">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseCat<?php echo $key; ?>" aria-expanded="true" aria-controls="collapseCat<?php echo $key; ?>">
                                                <?php echo $category['title']; ?>
                                                <svg class="olymp-dropdown-arrow-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL ?>/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                            </a>
                                        </h6>
                                    </div>
                                    
                                    <?php if ($category && count($category['child']) > 0): // echo "<pre>"; print_r($categories); echo "</pre>";?>
                                        <div id="collapseCat<?php echo $key; ?>" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <ul class="your-profile-menu">
                                                <?php foreach ($category['child'] as $key2 => $child): ?>
                                                    <li class="category-<?php echo $child['id']; ?>">
                                                        <a href="javascript:void(0);" onclick="App.Ajax.getQuizs(<?php echo $child['id']; ?>);"><?php echo $child['title']; ?></a>
                                                    </li>
                                                <?php endforeach; ?>
                                            </ul>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                
                   
                </div>
            </div>
        </div>
    </div>

    <div class="container">
            <!-- <div class="row">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="ui-block">

                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Danh sách đề thi trắc nghiệm</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <?php if ($listContents && count($listContents) > 0): ?>
                    <?php foreach ($listContents as $key => $content): ?>
                        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="ui-block ui-block-title">
                                <a href="<?php echo $this->url('details-quiz', array('slug'=>$content['slug'], 'id'=> $content['id'])); ?>">
                                    <div class="friend-item text-center">
                                        <div><img width="100" src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/quiz.svg" alt="quiz"></div>
                                        <br/>
                                        <h5><?php echo $content['title']; ?></h5>
                                        <div class="country">Thầy Thanh</div><br/>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <?php endforeach; ?>
                <?php else: ?>
                    <label>Chưa có bài thi trắc nghiệm nào</label>
                <?php endif ?>
            </div> -->
            <div class="row">
                <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
                    <div class="ui-block">

                        <!-- Your Profile  -->
                        
                        <div class="your-profile">
                            <?php if ($cat[0]['slug'] == 'de-thi-thpq-quoc-gia'): ?>
                                <div class="ui-block-title ui-block-title-small"><a id="THPQ" href="javascript:void(0)" onclick="App.Ajax.getQuizs(<?php echo $cat[0]['id']; ?>);"><?php echo $cat[0]['title']; ?></a></div>
                            <?php else: ?>
                                <div class="ui-block-title ui-block-title-small">
                                    <h6 class="title">Đề thi <?php if($cat) {
                                    echo $cat[0]['title'];
                                } ?></h6>
                                </div>
                            <?php endif; ?>

                            <?php if ($categories && count($categories['child']) > 0): // echo "<pre>"; print_r($categories); echo "</pre>";?>
                                <?php foreach ($categories['child'] as $key => $category): ?>
                                    <div id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <h6 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseCat<?php echo $key; ?>" aria-expanded="true" aria-controls="collapseCat<?php echo $key; ?>">
                                                        <?php echo $category['title']; ?>
                                                        <svg class="olymp-dropdown-arrow-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL ?>/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                                    </a>
                                                </h6>
                                            </div>
                                            
                                            <?php if ($category && count($category['child']) > 0): // echo "<pre>"; print_r($categories); echo "</pre>";?>
                                                <div id="collapseCat<?php echo $key; ?>" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                    <ul class="your-profile-menu" id="your-profile-menu">
                                                        <?php foreach ($category['child'] as $key2 => $child): ?>
                                                            <li class="category-<?php echo $child['id']; ?><?php if($key == 0 && $key2 == 0) {echo ' active';} ?>">
                                                                <a href="javascript:void(0);" onclick="App.Ajax.getQuizs(<?php echo $child['id']; ?>);"><?php echo $child['title']; ?></a>
                                                            </li>
                                                        <?php endforeach; ?>
                                                    </ul>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        
                           
                        </div>
                        
                        <!-- ... end Your Profile  -->

                    </div>
                </div>

                <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
                    <div class="ui-block">
                        <div class="ui-block-title">
                            <h6 class="title">Danh sách bài thi</h6>
                            <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                        </div>

                        <!-- <div style="padding: 25px;">
                            <?php if($cat) {
                                echo $cat[0]['body'];
                            } ?>
                        </div> -->
                        
                        <!-- Notification List Frien Requests -->
                        
                        <ul id="list-docs" class="notification-list friend-requests">
                            <!-- <li>
                                <div class="notification-event">
                                    <a href="#" class="h6 notification-friend">Tài liệu học tập mệnh đề và tập hợp</a>
                                    <span class="chat-message-item">2 Tháng Mười, 2019</span>
                                </div>
                                <span class="notification-icon">
                                    <a href="#" class="accept-request">
                                        Đọc tài liệu
                                    </a>
                                </span>
                            </li> -->
                        </ul>
                        
                        <!-- ... end Notification List Frien Requests -->
                    </div>

                </div>
            </div>
    </div>
<?php else: ?>
    <div class="row">
        <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
            <img src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/login.svg" alt="error_500">
        </div>
        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="crumina-module crumina-heading">
                <h1 class="page-500-sup-title">403</h1>
                <h2 class="h1 heading-title">Đăng nhập vào lớp</h2>
                <p class="heading-text">Bạn cần đăng nhập vào lớp để xem được nội dung này!
                </p>
            </div>
            <a href="javascript:void(0);" onclick="App.Popup.openLogin();" class="btn btn-primary btn-lg">Đăng nhập</a>
        </div>
    </div>
<?php endif; ?>