<div class="container">
    <?php if($user && $user['id']) :?>
        <?php if($user['member'] || !$quiz['featured']) : ?>
        <div class="row">
            <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
                <!-- <?php if ($quiz["files"] != ""): ?>
                    <iframe src="<?php echo BASE_URL_MEDIA_FILE.$quiz["files"]; ?>" type=”application/pdf” onload="this.width='100%';this.height=screen.height - 250;"></iframe>
                <?php else: ?>
                    Bài thi không tồn tại
                <?php endif; ?> -->
                <div class="post-thumb">
                    <img src="<?php echo BASE_URL_SOCIAL ?>/img/quiz.jpg" alt="author">
                </div>
            </div>
            <div class="col col-xl-6 order-xl-1 col-lg-6 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
                <?php if(count($resultList) > 0): ?>
                    <?php foreach($resultList as $key => $result): ?>
                        <?php 
                            $worktimeText = $quiz['duration'] . " phút";
                            $worktime = $quiz['duration'];
                            $workminute = 0;
                            if ($result['worktime'] != '') {
                                $timesplit = explode(":", $result['worktime']);
                                $worktime = (int) $quiz['duration'] - (int)$timesplit[0] - ((int)$timesplit[1] == 0 ? 0 : 1);
                                $workminute = (int)$timesplit[1] == 0 ? 0 : 60 - (int)($timesplit[1]);

                                if ($workminute != 0) {
                                    $worktimeText = $worktime . " phút " . $workminute . " giây";
                                } else {
                                    $worktimeText = $worktime . " phút";
                                }
                            }

                            $mark = number_format($result['correct'] / $result['sum'] * 10, 1, '.', '.');
                            $percent = round($result['correct'] / $result['sum'] * 100);
                        ?>
                        <div class="ui-block">
                            <div class="birthday-item inline-items badges">
                                <div class="author-thumb">
                                    <?php if($result['user_avatar']): ?>
                                    <img style="width: 40px; height: 40px;" src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $result['user_avatar']; ?>" alt="author">
                                    <?php else: ?>
                                        <img width="40" alt="author" src="<?php echo BASE_URL_SOCIAL; ?>/img/avatar71-sm.jpg" class="avatar">
                                    <?php endif; ?>
                                    <div class="label-avatar bg-primary"><?php echo $key + 1; ?></div>
                                </div>
                                <div class="birthday-author-name">
                                    <a href="javascript:void(0);" class="h6 author-name"><?php echo $result['user_name']; ?> <span class="text-danger"><?php echo $mark; ?> Điểm</span></a>
                                    <div class="birthday-date">Lớp <?php echo $result['user_class'].' '.$result['user_school']; ?> <br/><span style="color:#00b7ff;"><?php echo $worktimeText; ?></span></div>
                                </div>
                            
                                <div class="skills-item" style="min-width: 150px;">
                                    <div class="skills-item-meter">
                                        <span style="position: absolute;top: -20px;right: 0;"><?php echo $result['correct'].' / '.$result['sum']; ?></span>
                                        <span class="skills-item-meter-active<?php if($mark >= 8){echo ' skills-item-meter-success';} ?> skills-animate" style="width: <?php echo $percent; ?>%; opacity: 1;"></span>
                                    </div>
                                </div>
                                <div class="skills-item" style="min-width: 50px;">
                                    
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
            <div class="col col-xl-3 order-xl-2 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="widget w-create-fav-page">
                        <div class="content">
                            <span>Thực hành trắc nghiệm</span>
                            <h4 class="title"><?php echo $quiz['title']; ?></h4>
                            <?php if ($contest && $contest['result1']): ?>
                                <a href="<?php echo $this->url('quiz-details', array('post_id'=> $quiz['id'],'slug'=>$quiz['slug'], 'id'=> $contest['id'])); ?>" class="btn btn-bg-secondary btn-sm">Làm lại</a>
                                <a href="<?php echo $this->url('quiz-result', array('slug'=>$quiz['slug'], 'id'=> $contest['id'])).'?f=true'; ?>" class="btn btn-blue btn-sm">Xem kết quả</a>
                            <?php else: ?>
                                <a href="javascript:void(0);" onclick="App.Quiz.create(<?php echo $quiz['id']; ?>);" class="btn btn-bg-secondary btn-sm">Bắt đầu!</a>
                            <?php endif; ?>
                            <input type="hidden" id="slug" value="<?php echo $quiz['slug']; ?>" />
                        </div>
                    </div>         
                </div>
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Thông tin bài thi</h6>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                    </div>
                    <div class="ui-block-content">

                        
                        <!-- W-Personal-Info -->
                        
                        <ul class="widget w-personal-info">
                            <!-- <li>
                                <span class="title">Khối lớp:</span>
                                <span class="text"><?php echo ($quiz['category'] > 20) ? ($quiz['category'] / 10) : $quiz['category']; ?></span>
                            </li> -->
                            <li>
                                <span class="title">Đề thi:</span>
                                <span class="text"><?php echo count($quizResults); ?> câu</span>
                            </li>
                            <li>
                                <span class="title">Thời gian:</span>
                                <span class="text"><?php echo $quiz['duration']; ?> Phút</span>
                            </li>
                            <li>
                                <span class="title">Đáp án:</span>
                                <span class="text">Chỉ xem đáp án</span>
                            </li>
                            
                            <li>
                                <span class="title">Ngày tạo:</span>
                                <span class="text"><?php echo $this->layoutHelper()->dateString($quiz['created']) ?></span>
                            </li>

                            <li>
                                <span class="title">Soạn đề:</span>
                                <span class="text">Thầy Thanh</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <?php else: ?>
        <div class="row">
            <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <img src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/teacher.svg" alt="error_500">
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                    <h1 class="page-403-sup-title">403</h1>
                    <h2 class="h1 heading-title">Lỗi xem trang</h2>
                    <p class="heading-text">Tài khoản của bạn không thể xem được nội dung này<br/>Vui lòng liên hệ thầy Thanh <3
                    </p>
                </div>
                <a href="/" class="btn btn-primary btn-lg">Về trang chủ</a>
            </div>
        </div>
        <?php endif; ?>

    <?php else: ?>
        <div class="row">
            <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <img src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/login.svg" alt="error_500">
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                    <h1 class="page-500-sup-title">403</h1>
                    <h2 class="h1 heading-title">Đăng nhập vào lớp</h2>
                    <p class="heading-text">Bạn cần đăng nhập vào lớp để xem được nội dung này!
                    </p>
                </div>
                <a href="javascript:void(0);" onclick="App.Popup.openLogin();" class="btn btn-primary btn-lg">Đăng nhập</a>
            </div>
        </div>
    <?php endif; ?>
</div>