<div class="col-md-6">
    <div class="panel widget-messages panel-dark panel-light-green">
        <div class="panel-heading">
            <span class="panel-title"><i class="panel-title-icon fa fa fa-smile-o"></i><?php echo $block->getTitle(); ?></span>
        </div>
        <div class="panel-body">
            <?php if ($data): ?>
                <?php foreach ($data as $item): ?>
                    <div class="message">
                        <a href="<?php echo $this->url('contactadmin', array('action' => 'edit', 'id' => $item['id'])); ?>" title="" class="title"><?php print $item['name']; ?></a>
                        <div class="date">
                            <?php echo $this->layoutHelper()->dateString($item['created']) ?>
                        </div>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
</div>
