<div style="margin-top:50px;">
	<h1>Demo handlebars</h1>

	<div style="margin-top: 10px;">
		<h3>IF ELSE</h3>
			{{#if name }}
				<p>Name: {{ name }}</p>
			{{else}}
				<p>Đang ở else nhé!</p>
			{{/if}}
			<p>Age: {{ age }}</p>

		<h3>EACH, WITH</h3>
			{{#each items as |item|}}

				{{#with item}}
					<p><span>{{@index}}. </span> {{id}} - {{title}}</p>
				{{/with}}
			{{/each}}
	</div>
</div>