<div class="col-sm-12">
    <div class="panel-group">
        <div class="panel">
            <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseSEO">
                    Search Engine
                </a>
            </div>
            <div id="collapseSEO" class="panel-collapse collapse in" style="height: auto">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">Page Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control meta_title" name="meta_title" value="<?php echo $metatag['meta_title']; ?>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">Meta Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control meta_description" name="meta_description"><?php echo $metatag['meta_description']; ?></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">Meta Keywords</label>
                        <div class="col-sm-10">
                            <textarea class="form-control meta_keywords" name="meta_keywords"><?php echo $metatag['meta_keywords']; ?></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
