body {
	background: #FFFFFF;
	/*font-family: Merriweather, Georgia, serif;*/
}

.header {
	background-color: #FFFFFF;
}

.post {
	border-bottom: none;
}

.page-has-right-panels .header {
	padding-right: 0;
}

.ui-block {
	border: none;
}

.header .page-title {
	font-family: 'Fredoka One', cursive;
}

.header .page-title h6 {
	color: #333333;
	font-size: 18px;
}

.header-spacer {
	height: 140px;
}

.right-menu .ui-block {
	border-radius: 0;
	border-top: 3px solid #333333;
}

.right-menu .ui-block-title {
	padding-left: 0px;
	border-bottom: none;
	color: #000000;
}

.right-menu .ui-block-title h6 {
	font-size: 18px;
	color: #222222;
}

.right-menu .notification-list li {
	border-bottom: none;
	padding: 15px 25px;
}

.content-details {
	padding: 25px;
}

.link-find-friend {
	font-family: 'Francois One', sans-serif;
	padding: 22px 10px;
    font-size: 18px;
    color: #333333;
}

.control-block .link-find-friend {
	padding-top: 15px;
}

.fixed-sidebar .logo {
	background: #FFFFFF;
}

.fixed-sidebar .logo .img-wrap img{
	height: 90px;
	max-width: 90px;
}

.control-block .author-title {
	color: #ff5e3a;
}

.control-icon.has-items.notification {
	fill: #888888;
}

.birthday-item.badges .skills-item-meter-success {
    background: linear-gradient(to right, #28a745, #1ed760); 
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.comments-list .comment-item {
	order-bottom: none;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.comments-list .comment-item p {
	margin: 10px 0;
}

.comment-form {
	padding-bottom: 0;
	margin-bottom: 0;
	border-top: none;
}

.comment-form .btn {
	margin-bottom: 0;
}

@media (max-width: 768px) {	
	#list-docs .notification-event {
		max-width: 100% !important;
		padding-left: 0;
	}

	.header-spacer {
		height: 73px;
		border-bottom: 3px solid #EEEEEE;
	}

	.content-details {
		padding: 10px 0;
	}

	.your-profile{
		padding-bottom: 30px;
	}

	.col-12 {
		padding-left: 5px;
		padding-right: 5px;
	}

	.ui-block-title {
		padding-left: 10px;
		padding-right: 10px;
	}

	.page-has-right-panels .header {
		padding-right: 70px;
	}

	.post-additional-info {
		position: relative;
	}

	.post-additional-info > *:last-child {
		position: absolute;
	    right: 0;
	    top: 10px;
	}

	.mobile-app-tabs {
		background: none;
	}

	.fixed-sidebar.fixed-sidebar-responsive.right .sidebar--small {
		background: none;
	}

	.fixed-sidebar.fixed-sidebar-responsive.right .sidebar--small svg {
		fill: #333333;
	}

	.mobile-app-tabs {
		padding: 7px 0px;
	}

	.quiz-paper li {
		width: 100% !important;
	}

	.w-personal-info li .title {
		width: 20% !important;
	}

	h6.logo-title {
		font-family: 'Fredoka One', cursive;
		font-size: 16px;
	}
}