<!-- <div class="container-fluid page__container">
    <div class="page__heading d-flex align-items-center">
        <div class="flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Analytics</li>
                </ol>
            </nav>
            <h1 class="m-0">E-commerce</h1>
        </div>
        <a href="" class="btn btn-success ml-3">Add Product</a>
    </div>
</div> -->