<!-- Perfect Scrollbar -->
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/perfect-scrollbar.css" rel="stylesheet">

<!-- App CSS -->
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/app.css" rel="stylesheet">
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/app.rtl.css" rel="stylesheet">

<!-- Material Design Icons -->
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/vendor-material-icons.css" rel="stylesheet">
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/vendor-material-icons.rtl.css" rel="stylesheet">

<!-- Font Awesome FREE Icons -->
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/vendor-fontawesome-free.css" rel="stylesheet">
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">

<!-- Flatpickr -->
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/vendor-flatpickr.css" rel="stylesheet">
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/vendor-flatpickr.rtl.css" rel="stylesheet">
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
<link type="text/css" href="<?php echo BASE_URL_SKIN_ADMIN; ?>/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">
<style type="text/css">
	@media (max-width: 768px) {
		.card-schedule {
			font-size: 14px;
		}
	}

	.card-schedule td{
		border-left: 1px solid #AAA;
		text-align: center;
	}
</style>
