<!-- jQuery -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/jquery.min.js"></script>
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/jquery.validate.js"></script>

<!-- Bootstrap -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/popper.min.js"></script>
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/bootstrap.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/dom-factory.js"></script>

<!-- MDK -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/material-design-kit.js"></script>

<!-- App -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/toggle-check-all.js"></script>
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/check-selected-row.js"></script>
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/dropdown.js"></script>
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/sidebar-mini.js"></script>
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/app.js"></script>
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/common.js"></script>

<!-- App Settings (safe to remove) -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/app-settings.js"></script>



<!-- Flatpickr -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/flatpickr/flatpickr.min.js"></script>
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/flatpickr.js"></script>

<!-- Global Settings -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/settings.js"></script>

<!-- Moment.js -->
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/moment.min.js"></script>
<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/moment-range.js"></script>

<!-- Chart.js -->
<!-- <script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/Chart.min.js"></script> -->

<!-- App Charts JS -->
<!-- <script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/charts.js"></script> -->

<!-- Chart Samples -->
<!-- <script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/page.analytics.js"></script> -->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/vue.js"></script>
<!-- <script src="<?php echo BASE_URL_SKIN_ADMIN; ?>/js/myscript.js"></script> -->
<script> 
    var baseurl = "<?php echo BASE_URL; ?>"; 
    var page_controller = "<?php echo $this->layout()->page; ?>"; 
</script>

<script type="text/javascript">
    let appVue = new Vue({
        el: '#application',
        data: {
            searchQuery: null,
            classes: [],
            students: [],
            musters: []
        },
        created(){
            if (page_controller == "classes") {
                this.getClasses();
            }

            if (page_controller == "class-room" || page_controller == "muster") {
                this.getStudents();
            }

            if (page_controller == "history") {
                this.getChargedHistory();
            }

            if (page_controller == "student") {
                this.studentMuster();
            }
        },
        methods: {
            getClasses: function() {
                let _this = this;
                //request to api
                $.ajax({
                    url: baseurl + '/admin/api/classes',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        grade: $('#grade').val()
                    },
                    success: function (res) {
                        _this.classes = res.classes;
                    }
                });
            },
            getStudents: function() {
                let _this = this;

                //request to api
                $.ajax({
                    url: baseurl + '/admin/api/students',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        'class': $('#student-class').val()
                    },
                    success: function (res) {
                        console.log(res);
                        _this.students = res.students;

                        if (page_controller == "class-room") {
                            _this.getChargedStudents($('#student-class').val(), function(res){
                                let chargeSum = 0;

                                // console.log(res);
                                let chargedStudents = res.students;

                                for(let i = 0; i < chargedStudents.length; i++) {
                                    for(let j = 0; j < _this.students.length; j++) {
                                        if (chargedStudents[i].id == _this.students[j].id) {
                                            _this.students[j].charge = parseInt(_this.students[j].charge) + parseInt(chargedStudents[i].charge);

                                            chargeSum += parseInt(chargedStudents[i].charge);

                                            break;
                                        }
                                    }
                                }

                                // console.log(_this.students);

                                $('#charged-sum').text(chargeSum ? chargeSum + 'K' : 0);

                                let countCharged = 0;
                                $('#charged-count').text(_this.students.filter(x => x.charge > 0).length + ' / ');
                                $('#student-count').text(_this.students.length);
                            });
                        }

                        if (page_controller == "muster") {
                            /*for(let i = 0; i < _this.students.length; i++) {
                                // _this.students[i].muster = 0;
                            }*/
                            // get muster
                            //request to api
                            $.ajax({
                                url: baseurl + '/admin/api/musters',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    'class_id': $('#student-class').val(),
                                    'muster_date': $('#muster-date').val()
                                },
                                success: function (res) {
                                    if (res.status) {
                                        let musters = res.musters;
                                        if (musters.length > 0) {
                                            for(let i = 0; i < musters.length; i++) {
                                                for(let j = 0; j < _this.students.length; j++) {
                                                    if(musters[i].student_id == _this.students[j].id) {
                                                        _this.students[j].muster_id = musters[i].id;
                                                        _this.students[j].muster = musters[i].muster;
                                                    }
                                                }
                                            }

                                            _this.updateMusterStatus();
                                        }
                                    }
                                }
                            });
                        }
                    }
                });
            },
            prechargeMoney: function(student) {
                console.log(student);

                popupVue.charge_infos.student = student;
                console.log(popupVue.charge_infos); 

                $('#modal-charge').modal('show');
            },
            getChargedStudents: function(class_id, callback) {
                //request to api
                $.ajax({
                    url: baseurl + '/admin/api/charged-students',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        'class_id': class_id,
                        'month': $('#charge-month').val(),
                        'year': $('#charge-year').val()
                    },
                    success: function (res) {
                        console.log(res);
                        callback(res);
                    }
                });
            },
            getChargedHistory: function() {
                let _this = this;

                //request to api
                $.ajax({
                    url: baseurl + '/admin/api/all-students',
                    type: 'get',
                    dataType: 'json',
                    success: function (result) {
                        let allStudents = result.students;

                        //request to api
                        $.ajax({
                            url: baseurl + '/admin/api/history',
                            type: 'get',
                            dataType: 'json',
                            data: {
                                'month': $('#charge-month').val(),
                                'year': $('#charge-year').val()
                            },
                            success: function (res) {
                                // console.log(res);
                                _this.students = res.result;

                                let chargeSum = 0;
                                for(let i = 0; i < _this.students.length; i++) {
                                    chargeSum += parseInt(_this.students[i].charge);

                                    for(let j = 0; j < allStudents.length; j++) {
                                        if (_this.students[i].contact_id == allStudents[j].id) {
                                            allStudents[j].charge = parseInt(allStudents[j].charge) + parseInt(_this.students[i].charge);
                                        }
                                    }
                                }

                                
                                $('#student-count').text(allStudents.length);
                                $('#charged-count').text(allStudents.filter(x => x.charge > 0).length);
                                $('#charged-sum').text(chargeSum + 'K');
                            }
                        });
                    }
                });
            },
            removeFee: function(id) {
                let _this = this;
                let remove = confirm('Bạn có chắc chắn muốn xóa?');
                if (remove == true) {
                    //request to api
                    $.ajax({
                        url: baseurl + '/admin/api/charge-remove',
                        type: 'get',
                        dataType: 'json',
                        data: {
                            'id': id
                        },
                        success: function (res) {
                            console.log(res);
                            if (res.status) {
                                _this.students = _this.students.filter(function(el) { return el.id != id }); 
                            }
                        }
                    });
                }
            },
            removeSchedule: function(id) {
                let remove = confirm('Bạn có chắc chắn muốn xóa?');
                if (remove == true) {
                    //request to api
                    $.ajax({
                        url: baseurl + '/admin/api/remove-schedule',
                        type: 'get',
                        dataType: 'json',
                        data: {
                            'id': id
                        },
                        success: function (res) {
                            console.log(res);
                            if (res.status) {
                                $('#schedule-' + id).remove();
                            }
                        }
                    });
                }
            },
            muster: function(id, tick, muster_id = null) {
                let _this = this;
                let _student = this.students.filter(function(el) { return el.id == id }); 
                if (_student.length > 0) {
                    _student = _student[0];

                    let data = {
                        student_id: id,
                        class_id: $('#student-class').val(),
                        muster_date: $('#muster-date').val(),
                        muster: tick
                    }

                    if (_student.muster) {
                        data.id = muster_id;
                    } 

                    this.apimuster(data, function(res) {
                        if (res.status) {
                            _student.muster_id = res.muster.id;
                            _student.muster = tick;
                        }

                        _this.updateMusterStatus();
                    });
                }
            },
            apimuster: function(data, callback) {
                //request to api
                $.ajax({
                    url: baseurl + '/admin/api/muster',
                    type: 'get',
                    dataType: 'json',
                    data: data,
                    success: function (res) {
                        console.log(res);
                        callback(res);
                    }
                });
            },
            updateMusterStatus: function() {
                // update status
                let temp = this.searchQuery;
                if (temp) {
                    this.searchQuery = '';
                    this.searchQuery = temp;
                } else {
                    this.searchQuery = ' ';
                    this.searchQuery = temp;
                }
            },
            studentMuster: function() {
                let _this = this;
                let student_id = $('#student-id').val();

                $.ajax({
                    url: baseurl + '/admin/api/student-muster',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        student_id: student_id,
                        'month': $('#charge-month').val(),
                        'year': $('#charge-year').val()
                    },
                    success: function (res) {
                        if (res.status) {
                            _this.musters = res.musters;
                        }
                    }
                });
            },
            editStudent: function(student) {
                popupVue.student_edit.id = student.id;
                popupVue.student_edit.name = student.name;
                popupVue.student_edit.gender = student.gender;
                popupVue.student_edit.phone = student.phone;

                $('#modal-edit-student').modal('show');
            } 
        },
        computed: {
            resultQuery(){
              if(this.searchQuery){
                  return this.students.filter((item)=>{
                    if ($('#queryColumn').val()) {
                        return this.searchQuery.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
                    }
                    return this.searchQuery.toLowerCase().split(' ').every(v => item.name.toLowerCase().includes(v))
                  })
              }else{
                return this.students;
              }
            }
        }
    })

    let popupVue = new Vue({
        el: '#popups',
        data: {
            class_add: {
                title: '',
                subtitle: '',
                subtitle2: '',
                count: 0,
                price: 0,
                submit: 0
            },
            student_add: {
                class: null,
                name: '',
                gender: 1,
                phone: '',
                submit: 0
            },
            student_edit: {
                id: null,
                name: '',
                gender: 1,
                phone: ''
            },
            charge_infos: {
                class: 0,
                class_name: '',
                month: '',
                year: '',
                price: 0,
                student: {
                    name: '',
                    phone: ''
                }
            }
        },
        created(){
            this.student_add.class = $('#student-class').val();
            this.charge_infos.class = $('#student-class').val();
            this.charge_infos.price = $('#class-price').val();
            this.charge_infos.class_name = $('#class-name').val();
            this.charge_infos.month = $('#charge-month').val();
            this.charge_infos.year = $('#charge-year').val();
        },
        methods: {
            addClass: function() {
                if (this.class_add.title != '' && this.class_add.price > 0 && !this.class_add.submit) {
                    // submit form
                    this.class_add.submit = 1;

                    let _this = this;
                    let classObj = this.class_add;

                    //request to api
                    $.ajax({
                        url: baseurl + '/admin/api/add-class',
                        type: 'post',
                        dataType: 'json',
                        data: classObj,
                        success: function (res) {
                            if (res.status) {
                                classObj.id = res.class_id;
                                appVue.classes.unshift(classObj);

                                _this.class_add = {
                                    title: '',
                                    count: 0,
                                    price: 0,
                                    submit: 0
                                }

                                $('#modal-add-class').modal('hide');
                            }
                        }
                    });
                }
            },
            addStudent: function() {
                if (this.student_add.name != '' && this.student_add.phone.length == 10) {
                    // submit form
                    this.student_add.submit = 1;

                    let _this = this;
                    let studentObj = this.student_add;

                    //request to api
                    $.ajax({
                        url: baseurl + '/admin/api/add-student',
                        type: 'post',
                        dataType: 'json',
                        data: studentObj,
                        success: function (res) {
                            console.log(res);
                            if (res.status) {
                                appVue.students.unshift(res.student.item);

                                _this.student_add.name = '';
                                _this.student_add.phone = '';
                                _this.student_add.submit = 0;

                                $('#num-students').text(parseInt($('#num-students').text()) + 1);
                                $('#modal-add-student').modal('hide');
                            }
                        }
                    });
                }
            },
            saveStudent: function() {
                let _this = this;
                if (this.student_edit.name != '' && this.student_edit.phone.length == 10) {
                    $('#modal-edit-student').modal('hide');

                    //request to api
                    $.ajax({
                        url: baseurl + '/admin/api/edit-student',
                        type: 'post',
                        dataType: 'json',
                        data: this.student_edit,
                        success: function (res) {
                            if(res.status) {
                                let temp_student = appVue.students.filter(function(el) { return el.id == res.student.item.id });
                                if(temp_student.length > 0) {
                                    temp_student[0].name = res.student.item.name;
                                    temp_student[0].gender = res.student.item.gender;
                                    temp_student[0].phone = res.student.item.phone;
                                }
                            }
                        }
                    });
                }
            },
            removeStudent: function() {
                let _this = this;

                let remove = confirm('Bạn có chắc chắn muốn xóa?');
                if (remove == true) {
                    //request to api
                    $.ajax({
                        url: baseurl + '/admin/api/edit-student',
                        type: 'post',
                        dataType: 'json',
                        data: 
                        {
                            _action: 'REMOVE',
                            id: this.student_edit.id
                        },
                        success: function (res) {
                            if(res.status) {
                                appVue.students = appVue.students.filter(function(el) { return el.id != res.student.item.id });
                            }
                        }
                    });
                }
            },
            chargeMoney: function(data) {
                let realCharge = $('#real-charge').val();

                let chargeInfos = {
                    user_id: user_id,
                    class_id: data.class,
                    contact_id: data.student.id,
                    title: data.student.name,
                    month: $('#charge-month').val(),
                    year: $('#charge-year').val(),
                    pricing: data.price,
                    charge: realCharge
                }


                //request to api
                $.ajax({
                    url: baseurl + '/admin/api/charge-money',
                    type: 'post',
                    dataType: 'json',
                    data: chargeInfos,
                    success: function (res) {
                        if (res.status) {
                            for(let j = 0; j < appVue.students.length; j++) {
                                if (data.student.id == appVue.students[j].id) {
                                    appVue.students[j].charge = parseInt(appVue.students[j].charge) + parseInt(realCharge);
                                    break;
                                }
                            }

                            $('#modal-charge').modal('hide');
                        } else {
                            $('#modal-danger').modal('show');
                        }
                    }
                });
            },
            addSchedule: function() {
                let scheduleObj = $('#schedule-form').serializeObject();
                scheduleObj.class_id = $('#student-class').val();

                $('#modal-add-schedule').modal('hide');

                $.ajax({
                    url: baseurl + '/admin/api/add-schedule',
                    type: 'post',
                    dataType: 'json',
                    data: scheduleObj,
                    success: function (res) {
                        if (res.status) {
                            window.location.reload();
                        }
                    }
                });
            } 
        }
    })
</script>
<script type="text/javascript">
    (function($){
        $.fn.serializeObject = function(){

            var self = this,
                json = {},
                push_counters = {},
                patterns = {
                    "validate": /^[a-zA-Z][a-zA-Z0-9_]*(?:\[(?:\d*|[a-zA-Z0-9_]+)\])*$/,
                    "key":      /[a-zA-Z0-9_]+|(?=\[\])/g,
                    "push":     /^$/,
                    "fixed":    /^\d+$/,
                    "named":    /^[a-zA-Z0-9_]+$/
                };


            this.build = function(base, key, value){
                base[key] = value;
                return base;
            };

            this.push_counter = function(key){
                if(push_counters[key] === undefined){
                    push_counters[key] = 0;
                }
                return push_counters[key]++;
            };

            $.each($(this).serializeArray(), function(){

                // Skip invalid keys
                if(!patterns.validate.test(this.name)){
                    return;
                }

                var k,
                    keys = this.name.match(patterns.key),
                    merge = this.value,
                    reverse_key = this.name;

                while((k = keys.pop()) !== undefined){

                    // Adjust reverse_key
                    reverse_key = reverse_key.replace(new RegExp("\\[" + k + "\\]$"), '');

                    // Push
                    if(k.match(patterns.push)){
                        merge = self.build([], self.push_counter(reverse_key), merge);
                    }

                    // Fixed
                    else if(k.match(patterns.fixed)){
                        merge = self.build([], k, merge);
                    }

                    // Named
                    else if(k.match(patterns.named)){
                        merge = self.build({}, k, merge);
                    }
                }

                json = $.extend(true, json, merge);
            });

            return json;
        };
    })(jQuery);
</script>


<!-- <script>
    (function (e, t) { typeof module != "undefined" && module.exports ? module.exports = t() : typeof define == "function" && define.amd ? define(t) : this[e] = t() })("$script", function () { function p(e, t) { for (var n = 0, i = e.length; n < i; ++n)if (!t(e[n])) return r; return 1 } function d(e, t) { p(e, function (e) { return t(e), 1 }) } function v(e, t, n) { function g(e) { return e.call ? e() : u[e] } function y() { if (!--h) { u[o] = 1, s && s(); for (var e in f) p(e.split("|"), g) && !d(f[e], g) && (f[e] = []) } } e = e[i] ? e : [e]; var r = t && t.call, s = r ? t : n, o = r ? e.join("") : t, h = e.length; return setTimeout(function () { d(e, function t(e, n) { if (e === null) return y(); !n && !/^https?:\/\//.test(e) && c && (e = e.indexOf(".js") === -1 ? c + e + ".js" : c + e); if (l[e]) return o && (a[o] = 1), l[e] == 2 ? y() : setTimeout(function () { t(e, !0) }, 0); l[e] = 1, o && (a[o] = 1), m(e, y) }) }, 0), v } function m(n, r) { var i = e.createElement("script"), u; i.onload = i.onerror = i[o] = function () { if (i[s] && !/^c|loade/.test(i[s]) || u) return; i.onload = i[o] = null, u = 1, l[n] = 2, r() }, i.async = 1, i.src = h ? n + (n.indexOf("?") === -1 ? "?" : "&") + h : n, t.insertBefore(i, t.lastChild) } var e = document, t = e.getElementsByTagName("head")[0], n = "string", r = !1, i = "push", s = "readyState", o = "onreadystatechange", u = {}, a = {}, f = {}, l = {}, c, h; return v.get = m, v.order = function (e, t, n) { (function r(i) { i = e.shift(), e.length ? v(i, r) : v(i, t, n) })() }, v.path = function (e) { c = e }, v.urlArgs = function (e) { h = e }, v.ready = function (e, t, n) { e = e[i] ? e : [e]; var r = []; return !d(e, function (e) { u[e] || r[i](e) }) && p(e, function (e) { return u[e] }) ? t() : !function (e) { f[e] = f[e] || [], f[e][i](t), n && n(r) }(e.join("|")), v }, v.done = function (e) { v([null], e) }, v })
    ;(function(){window.whenDefined=function(a,b,c){a[b]?c():Object.defineProperty(a,b,{configurable:!0,enumerable:!0,writeable:!0,get:function(){return this["_"+b]},set:function(a){this["_"+b]=a,c()}})}}).call(this);

    var settings = { baseurl: '/', jsPath: 'javascripts/' };

    $script([
        '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/jquery.min.js'], 'vendor', function(){
        $script([
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/popper.min.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/bootstrap.min.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/perfect-scrollbar.min.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/dom-factory.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/material-design-kit.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/toggle-check-all.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/check-selected-row.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/dropdown.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/sidebar-mini.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/app.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/flatpickr/flatpickr.min.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/flatpickr.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/settings.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/moment.min.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/moment-range.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/vendor/Chart.min.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/charts.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/page.analytics.js',
            '<?php echo BASE_URL_SKIN_ADMIN; ?>/js/myscript.js'], 'myScript', function(){
            $(window).trigger('load')
        });
    });
</script> -->
