<?php 
$factory = $this->factory();
$categories = $factory->getCategory();
?>

<ul class="navigation">
    <li>
	<a href="<?php echo $this->url('admin') ?>"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
    </li>

<!--    <li  class="mm-dropdown">-->
<!--        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-fw"></i>&nbsp;<span>--><?php //echo $this->translate('Configuration') ?><!--</span></a>-->
<!--        <ul>-->
<!--            <li><a href="--><?php //echo $this->url('settingadmin'); ?><!--"><span>Settings</span></a></li>-->
<!--            <li><a href="--><?php //echo $this->url('emailsettingadmin'); ?><!--"><span>Email Template</span></a></li>-->
<!--            <li><a href="--><?php //echo $this->url('languageadmin'); ?><!--"><span>Languages</span></a></li>-->
<!--        </ul>-->
<!--    </li>-->

    <li  class="mm-dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users fa-fw"></i>&nbsp;<span>Khách hàng</span></a>
        <ul>
            <li><a href="<?php echo BASE_URL.'/admin/user?type=customer'; ?>"><span>List khách hàng</span></a></li>
            <li><a href="<?php echo BASE_URL.'/admin/user/add?type=customer'; ?>"><span>Thêm mới</span></a></li>
        </ul>
    </li>

    <li  class="mm-dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>&nbsp;<span>Nhân viên</span></a>
        <ul>
            <li><a href="<?php echo BASE_URL.'/admin/user?type=employee'; ?>"><span>List nhân viên</span></a></li>
            <li><a href="<?php echo BASE_URL.'/admin/user/add?type=employee'; ?>"><span>Thêm mới</span></a></li>
        </ul>
    </li>

    <li  class="mm-dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gift fa-fw"></i>&nbsp;<span>Danh mục sản phẩm</span></a>
        <ul>
            <li><a href="<?php echo BASE_URL.'/admin/category/?type=content_product'; ?>"><span>List danh mục</span></a></li>
            <li><a href="<?php echo BASE_URL.'/admin/category/add?type=content_product'; ?>"><span>Thêm mới</span></a></li>
        </ul>
    </li>

    <li  class="mm-dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gift fa-fw"></i>&nbsp;<span>Sản Phẩm</span></a>
        <ul>
            <li><a href="<?php echo BASE_URL.'/admin/post/?type=content_product'; ?>"><span>List sản phẩm</span></a></li>
            <li><a href="<?php echo BASE_URL.'/admin/post/add/content_product?type=content_product'; ?>"><span>Thêm mới</span></a></li>
        </ul>
    </li>

    <li  class="mm-dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gift fa-fw"></i>&nbsp;<span>Danh sách Voucher</span></a>
        <ul>
            <li><a href="<?php echo BASE_URL.'/admin/post/?type=content_voucher'; ?>"><span>List Voucher</span></a></li>
            <li><a href="<?php echo BASE_URL.'/admin/post/add/content_voucher?type=content_voucher'; ?>"><span>Thêm mới</span></a></li>
        </ul>
    </li>

    <!--<li  class="mm-dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bullseye fa-fw"></i>&nbsp;<span>Thiết lập điểm</span></a>
        <ul>
            <li><a href="javascript:alert('Comming Soon')"><span>Danh Sách</span></a></li>
        </ul>
    </li>-->

    <li>
        <a href="<?php echo BASE_URL.'/admin/post/?type=content_sale'; ?>"><i class="fa fa-calendar fa-fw"></i>&nbsp;<span>Lịch sử mua hàng</span></a>
    </li>
    <li>
        <a href="<?php echo BASE_URL.'/admin/post/?type=content_exchangevoucher'; ?>"><i class="fa fa-calendar fa-fw"></i>&nbsp;<span>Lịch sử đổi quà</span></a>
    </li>


    <!--<li  class="mm-dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil fa-fw"></i>&nbsp;<span><?php /*echo $this->translate('Structure') */?></span></a>
        <ul>
            <li><a href="<?php /*echo $this->url('contenttypeadmin'); */?>"><span>Content Type</span></a></li>
            <li><a href="<?php /*echo $this->url('categoryadmin'); */?>"><span>Category</span></a></li>
        </ul>
    </li>-->

    <?php
/*    $factory = $this->factory();
    $contenTypeGroup = $factory->contentTypeGroup();
    foreach ($contenTypeGroup as $keyGroup => $valueGroup) {
        $contentTypes = $factory->getContentType($valueGroup['id'], true);
         if ($contentTypes) {
        */?><!--
        <li class="mm-dropdown">          
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book fa-fw"></i>&nbsp;<span><?php /*echo $valueGroup['title']; */?></span></a>
            <ul>
                <?php /*
                    foreach ($contentTypes as $key => $value) {
                        $titleManager = $value;
                        */?>
                        <li><a href="<?php /*echo $this->url('postadmin', array('action' => 'index')) . '?type=' . $key; */?>"><span title="<?php /*echo $titleManager . ' (' . $key . ')'; */?>">- <?php /*echo $titleManager; */?></span></a></li>
                        <?php
/*                    }
                */?>
            </ul>
        </li>
    --><?php /*} } */?>



    <!--<li class="mm-dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>&nbsp;<span>People</span></a>
        <ul>
            <li><a href="<?php /*echo $this->url('useradmin').'?group=10'; */?>"><span>Users</span></a></li>
            <li><a href="<?php /*echo $this->url('useradmin').'?group=11'; */?>"><span>Admins</span></a></li>
            <li><a href="<?php /*echo $this->url('permissionadmin'); */?>"><span>Permission</span></a></li>
        </ul>
    </li>-->

   <!--<li class="mm-dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book fa-fw"></i>&nbsp;<span>Component</span></a>
        <ul>
           <?php
                // $contentTypes = $factory->getContentType(true);
                // if ($contentTypes) {
                //     foreach ($contentTypes as $key => $value) {
                //         $titleManager = $value;
                        ?>
                        <li><a href="<?php //echo $this->url('postadmin', array('action' => 'index')) . '?type=' . $key; ?>"><span title="<?php //echo $titleManager . ' (' . $key . ')'; ?>"><?php //echo 'Manage '. $titleManager; ?></span></a></li>
                        <?php
                    //}     
                //}
            ?>      

            <li class="divider"></li>
            <li><a href="<?php //echo $this->url('banneradmin'); ?>"><span>Manage Banner</span></a></li>
            <li><a href="<?php //echo $this->url('linkadmin'); ?>"><span>Manage Link</span></a></li>
            <li class="divider"></li>
            <li><a href="<?php //echo $this->url('subscriptionadmin'); ?>"><span>Manage Subscription</span></a></li>
            <li class="divider"></li>
        </ul>
    </li> 
  
        <li><a href="<?php //echo $this->url('commentadmin'); ?>" ><span>Manage Comment</span></a></li>
        <li><a href="<?php //echo $this->url('groupadmin'); ?>"><span>Manage Group</span></a></li>
        <li><a href="<?php //echo $this->url('tagadmin'); ?>"><span>Tag</span></a></li>
        <li><a href="<?php //echo $this->url('templateadmin'); ?>"><span>Template</span></a></li>    
        <li><a href="<?php //echo $this->url('emailsettingadmin'); ?>"><span>Email Template</span></a></li>
        <li><a href="<?php //echo $this->url('redirectsettingadmin'); ?>"><span>URL Redirect</span></a></li>
        <li><a href="<?php //echo $this->url('menuadmin'); ?>"><span>Menu</span></a></li>
        <li><a href="<?php //echo $this->url('blockadmin'); ?>"><span>Block</span></a></li> 
    -->
</ul>
