<!-- Sign Up Modal -->
<div id="modal-add-class" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="px-3">
                    <div class="d-flex justify-content-center mt-2 mb-4 navbar-light">
                        <a href="javascript:void(0);" class="navbar-brand" style="min-width: 0">
                            <span>Class</span>
                        </a>
                    </div>

                    <form action="#">
                        <div class="form-group">
                            <label for="username">Tên lớp:</label>
                            <input v-model="class_add.title" class="form-control" type="text" name="name" required="" placeholder="Lớp 10A" />
                        </div>
                        <div class="form-group">
                            <label for="username">Khối:</label>
                            <select v-model="class_add.subtitle2" name="grade" data-toggle="select" class="custom-select">
                                <option value="09">Khối 9</option>
                                <option value="10">Khối 10</option>
                                <option value="11">Khối 11</option>
                                <option value="12">Khối 12</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password">Học phí:</label>
                            <input v-model="class_add.price" name="price" type="number" class="form-control" placeholder="300" autocomplete="off">
                        </div>
                        <div class="form-group text-center">
                            <button v-bind:class="{ 'is-loading': class_add.submit }" v-on:click="addClass" type="button" class="btn btn-primary" type="submit">Thêm lớp</button>
                        </div>
                    </form>
                </div>
            </div> <!-- // END .modal-body -->
        </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
</div> <!-- // END .modal -->

<!-- Sign Up Modal -->
<div id="modal-add-student" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="px-3">
                    <div class="d-flex justify-content-center mt-2 mb-4 navbar-light">
                        <a href="index.html" class="navbar-brand" style="min-width: 0">
                            <span>Student</span>
                        </a>
                    </div>

                    <form action="#">
                        <div class="form-group">
                            <label for="username">Tên Học Sinh:</label>
                            <input v-model="student_add.name" class="form-control" type="text" name="name" required="" placeholder="Nguyễn Văn A" />
                        </div>
                        <div class="form-group">
                            <label for="email">Giới Tính:</label>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="radio" value="1" id="invalidCheck01" required="" checked="" v-model="student_add.gender">
                                <label class="custom-control-label" for="invalidCheck01">
                                    Nam
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="radio" value="2" id="invalidCheck02" required="" v-model="student_add.gender">
                                <label class="custom-control-label" for="invalidCheck02">
                                    Nữ
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Số Điện Thoại:</label>
                            <input v-model="student_add.phone" class="form-control" type="tel" required="" />
                        </div>
                        <div class="form-group text-center">
                            <button v-bind:class="{ 'is-loading': student_add.submit }" v-on:click="addStudent" type="button" class="btn btn-primary" type="submit">Thêm học sinh</button>
                        </div>
                    </form>
                </div>
            </div> <!-- // END .modal-body -->
        </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
</div> <!-- // END .modal -->

<div id="modal-edit-student" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="px-3">
                    <div class="d-flex justify-content-center mt-2 mb-4 navbar-light">
                        <a href="index.html" class="navbar-brand" style="min-width: 0">
                            <span>Student</span>
                        </a>
                    </div>

                    <form action="#">
                        <div class="form-group">
                            <label for="username">Tên Học Sinh:</label>
                            <input v-model="student_edit.name" class="form-control" type="text" name="name" required="" placeholder="Nguyễn Văn A" />
                        </div>
                        <div class="form-group">
                            <label for="email">Giới Tính:</label>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="radio" value="1" id="Check01" required="" checked="" v-model="student_edit.gender">
                                <label class="custom-control-label" for="Check01">
                                    Nam
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="radio" value="2" id="Check02" required="" v-model="student_edit.gender">
                                <label class="custom-control-label" for="Check02">
                                    Nữ
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Số Điện Thoại:</label>
                            <input v-model="student_edit.phone" class="form-control" type="tel" required="" />
                        </div>
                        <div class="form-group text-center">
                            <button style="float: left;" v-on:click="saveStudent" type="button" class="btn btn-primary" type="submit">Lưu học sinh</button>
                            <button type="button" style="float: right;" @click="removeStudent" class="btn btn-sm btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div> <!-- // END .modal-body -->
        </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
</div> <!-- // END .modal -->

<!-- Sign Up Modal -->
<div id="modal-charge" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="px-3">
                    <div class="d-flex justify-content-center mt-2 mb-4 navbar-light">
                        <a href="javascript:void(0);" class="navbar-brand" style="min-width: 0">
                            <span>Thu Phí</span>
                        </a>
                    </div>
                    <div class="d-flex justify-content-center navbar-light">
                        
                    </div>

                    <form action="#">
                        <div class="form-group">
                            <p><span class="badge badge-danger">Tháng {{charge_infos.month}} năm {{charge_infos.year}}</span></p>
                        	<p><strong>{{charge_infos.student.name}}</strong></p>
                        	<p class="text-muted">
                        		{{charge_infos.class_name}} -  {{charge_infos.student.phone}}<br/>
                        		<strong v-if="charge_infos.student.charge > 0" class="text-success">{{charge_infos.student.charge}}.000 VND / </strong>
                                <strong class="text-danger">{{charge_infos.price}}.000 VND</strong>
                        	</p>
                        </div>
                        <div class="form-group">
                            <label for="phone">Tiền thu:</label>
                            <input class="form-control" id="real-charge" type="number" v-bind:value="charge_infos.price" required="" />
                        </div>
                        <div class="form-group text-center">
                            <button type="button" @click="chargeMoney(charge_infos)" class="btn btn-primary" type="submit">Thu Phí</button>
                        </div>
                    </form>
                </div>
            </div> <!-- // END .modal-body -->
        </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
</div> <!-- // END .modal -->


<!-- Sign Up Modal -->
<div id="modal-add-schedule" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="px-3">
                    <div class="d-flex justify-content-center mt-2 mb-4 navbar-light">
                        <a href="index.html" class="navbar-brand" style="min-width: 0">
                            <span>Schedule</span>
                        </a>
                    </div>

                    <form id="schedule-form" action="#">
                        <input class="form-control" type="hidden" name="title" value="schedule"/>
                        <input class="form-control" type="hidden" name="type" value="content_schedule"/>

                        <div class="form-group">
                            <label for="username">Ngày trong tuần</label>
                            <select name="schedule_date" data-toggle="select" class="custom-select">
                                <?php
                                for($i = 2; $i <= 8; $i++) {
                                    if ($i != 8) {
                                        echo '<option value="'.$i.'">Thứ '.$i.'</option>';
                                    } else {
                                        echo '<option value="8">Chủ Nhật</option>';
                                    }
                                } 
                                ?>
                            </select>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="username">Bắt đầu</label>
                                <select name="hour_start" data-toggle="select" class="custom-select">
                                    <?php
                                    for($i = 7; $i <= 22; $i++) {
                                        echo '<option value="'.$i.'_0">'.$i.':00</option>';
                                        echo '<option value="'.$i.'_15">'.$i.':15</option>';
                                        echo '<option value="'.$i.'_30">'.$i.':30</option>';
                                        echo '<option value="'.$i.'_45">'.$i.':45</option>';
                                    } 
                                    ?>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label for="username">Kết Thúc</label>
                                <select name="hour_end" data-toggle="select" class="custom-select">
                                    <?php
                                    for($i = 7; $i <= 22; $i++) {
                                        echo '<option value="'.$i.'_0">'.$i.':00</option>';
                                        echo '<option value="'.$i.'_15">'.$i.':15</option>';
                                        echo '<option value="'.$i.'_30">'.$i.':30</option>';
                                        echo '<option value="'.$i.'_45">'.$i.':45</option>';
                                    } 
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button v-on:click="addSchedule" type="button" class="btn btn-primary" type="submit">Schedule</button>
                        </div>
                    </form>
                </div>
            </div> <!-- // END .modal-body -->
        </div> <!-- // END .modal-content -->
    </div> <!-- // END .modal-dialog -->
</div> <!-- // END .modal -->



<!-- Danger Alert Modal -->
    <div id="modal-danger" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content bg-danger">
                <div class="modal-body text-center p-4">
                    <i class="material-icons icon-40pt text-white mb-2">report_problem</i>
                    <h4 class="text-white">Ohhh Snap!</h4>
                    <p class="text-white mt-3">Đã có lỗi xảy ra, vui lòng thử lại!</p>
                    <button type="button" class="btn btn-light my-2" data-dismiss="modal">Continue</button>
                </div> <!-- // END .modal-body -->
            </div> <!-- // END .modal-content -->
        </div> <!-- // END .modal-dialog -->
    </div> <!-- // END .modal -->