<?php
$factory = $this->factory();
$this->layout()->setVariable('heading', 'List Category');
include_once(__DIR__ . '/partial/indextoolbar.phtml');
?>
<div class="clear"></div>
<?php echo $this->flashMessenger(); ?>
<div id="view-content">
    <div class="col-sm-12">
    <form method="post" action="">
        <?php // include_once(__DIR__ . '/partial/filter.phtml');   ?>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Category</h4>
                        <h6 class="card-subtitle">Danh Mục</h6>
                            <div class="table-responsive m-t-40">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="tableColumnCheck"><input type="checkbox" value="1" id="checkall" class="checkall"/></th>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>Order</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php
                                        foreach ($this->tree as $item) :
                                            ?>
                                            <tr>
                                                <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $item['id']; ?>"/></td>
                                                <td><a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $item['id']; ?></a></td>
                                                 <td><a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $this->escapeHtml($item['title']); ?></a></td>

                                                <td><?php echo $this->escapeHtml($item['ordering']); ?></td>
                                                <td><?php echo $item['type']; ?></td>
                                                <td><?php echo $this->layoutHelper()->publishString($item['status']); ?></td>
                                            </tr>
                                            <?php
                                            $childs = $item['child'];
                                            if(count($childs) > 0) {
                                                foreach ($childs as $child):
                                                    ?>
                                                    <tr>
                                                        <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $child['id']; ?>"/></td>
                                                        <td><a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $child['id'])); ?>"><?php echo $child['id']; ?></a></td>

                                                         <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $child['id'])); ?>"><?php echo $this->escapeHtml($child['title']); ?></a></td>

                                                        <td>__<?php echo $this->escapeHtml($child['ordering']); ?></td>
                                                         <td><?php echo $item['type']; ?></td>
                                                        <td><?php echo $this->layoutHelper()->publishString($child['status']); ?></td>
                                                    </tr>
                                                    <?php

                                                    $childrens = $child['child'];
                                                    if(count($childrens) > 0) {
                                                        foreach ($childrens as $children):
                                                            ?>
                                                            <tr>
                                                                <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $children['id']; ?>"/></td>
                                                                <td><a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $children['id'])); ?>"><?php echo $children['id']; ?></a></td>

                                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $children['id'])); ?>"><?php echo $this->escapeHtml($children['title']); ?></a></td>

                                                                <td>____<?php echo $this->escapeHtml($children['ordering']); ?></td>
                                                                <td><?php echo $item['type']; ?></td>
                                                                <td><?php echo $this->layoutHelper()->publishString($children['status']); ?></td>
                                                            </tr>
                                                            <?php

                                                            $childrens4 = $children['child'];
                                                            if(count($childrens4) > 0) {
                                                                foreach ($childrens4 as $children5):
                                                                    ?>
                                                                    <tr>
                                                                        <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $children5['id']; ?>"/></td>
                                                                        <td><a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $children5['id'])); ?>"><?php echo $children5['id']; ?></a></td>

                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $children5['id'])); ?>"><?php echo $this->escapeHtml($children5['title']); ?></a></td>

                                                                        <td>______<?php echo $this->escapeHtml($children5['ordering']); ?></td>
                                                                        <td><?php echo $item['type']; ?></td>
                                                                        <td><?php echo $this->layoutHelper()->publishString($children5['status']); ?></td>
                                                                    </tr>
                                                                    <?php

                                                                    $children6 = $children5['child'];
                                                                    if(count($children6) > 0) {
                                                                        foreach ($children6 as $children7):
                                                                            ?>
                                                                            <tr>
                                                                                <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $children7['id']; ?>"/></td>
                                                                                <td><a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $children7['id'])); ?>"><?php echo $children7['id']; ?></a></td>

                                                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->url('categoryadmin', array('action' => 'edit', 'id' => $children7['id'])); ?>"><?php echo $this->escapeHtml($children7['title']); ?></a></td>

                                                                                <td>________<?php echo $this->escapeHtml($children7['ordering']); ?></td>
                                                                                <td><?php echo $item['type']; ?></td>
                                                                                <td><?php echo $this->layoutHelper()->publishString($children7['status']); ?></td>
                                                                            </tr>
                                                                        <?php endforeach; ?>
                                                                    <?php } ?>
                                                                <?php endforeach; ?>
                                                            <?php } ?>
                                                        <?php endforeach; ?>
                                                    <?php } ?>
                                                <?php endforeach; ?>
                                            <?php } ?>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="callaction" id="callaction" value=""/>
        <input type="hidden" name="choose[]" value=""/>
        <input type="hidden" name="filter_order" id="filter_order" value="<?php echo @$filter_order; ?>"/>
        <input type="hidden" name="filter_order_Dir" id="filter_order_Dir" value="<?php echo @$filter_order_Dir; ?>"/>
    </form>
</div>
</div>