<?php $des = array("hanoi_osaka", "osaka_hcm", "camranh_thuonghai", "camranh_nghiao", "camranh_hanchau", "danang_hanchau", "camranh_thientan", "hcm_kualalumpur", "bangkok_hcm", "hanoi_siemreap", "hcm_hongkong", "singapore_hanoi", "daibac_hanoi", "hcm_daibac", "seoul_danang", "hcm_seoul", "tokyo_hanoi"); ?>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">UserId</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('user_id')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Title <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('title')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Slug</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('slug')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Description</label>
    <div class="col-sm-10">
        <?php echo $this->formTextarea($form->get('descriptions')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Image</label>
    <div class="col-sm-10">
    <?php $imageString = $data['images'];
    $imageArray= explode(',',$imageString);
    ?>
    <?php foreach($imageArray as $value):  ?>
    <img style="max-width: 400px;" src="<?php echo BASE_URL_MEDIA.'/images/'.$value; ?>">
        <?php endforeach; ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Destination</label>
    <div class="col-sm-10">
       <select name="destination">
           <?php foreach($des as $value):?>
               <option <?php if($data['destination']==$value){echo "selected";} ?> value="<?php echo $value; ?>"><?php echo $this->translate($value); ?></option>
           <?php endforeach; ?>
       </select>
    </div>
</div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="">Votes</label>
        <div class="col-sm-10">
            <?php echo $this->formInput($form->get('votes')); ?>
        </div>
    </div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Mark</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('featured')); ?>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label" for="">Status</label>
    <td><?php echo $this->layoutHelper()->publishString($data['status']); ?></td>
    <td>
        <?php
        switch ($data['status']) {
            case 1:
                echo '---';
                break;
            case 0:
                echo '<a id="btn_reject_'. $data['id'].'" href="javascript:;" onclick="javascript:reject(\''.$data['id'].'\');"><span style="color:Black; font-weight:bold">Reject</span>';
                break;
            case 2:
                echo '<span style="color:Red; font-weight:bold">Rejected</span>';
                break;
        }
        ?>
        </a>
    </td>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Created</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('created')); ?>
    </div>
</div>
<?php //echo $this->formHidden($form->get('csrf')); ?>