 <?php $myLocale = $this->layout()->myLocale; ?>
<div id="mod-news">
	<?php 
		$bannerPageText = $this->translate('Tin tuc');
		include_once(__DIR__ . '/partial/news_banner.phtml'); //TODO: partial banner
	?>
	<div class="content-detail">
		<div class="container">
			<div class="list-select">
				<?php 
					include_once(__DIR__ . '/partial/news_menu.phtml'); //TODO: partial menu
				?>
				<!--<div id="style-title">
					<span>
						<?php //echo $this->translate('Tin tuc'); ?>
					</span>
					<img src="<?php //echo BASE_URL_SKIN_IMAGE; ?>/bg-title.png" alt="">
					<div class="clearfix"></div>
				</div>	 -->
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<div class="left col-md-8">
					<p class="day"><?php echo date('d/m/Y',strtotime($news['created'])); ?></p>
					<h2 class="h2Title"><?php echo $news['title']; ?></h2>
					<p><?php echo $news['body'] ?></p>
				</div>
				
				<div class="right col-md-4">
					<div class="border">
						<h3 class="h3Title"><?php echo $this->translate('Tin tuc noi bat khac'); ?></h3>
						<div class="list-item">
						<?php foreach($otherNews as $item): ?>
							<div class="item">
								<div class="img col-md-5 col-sm-5 col-xs-5">
									<a href="<?php echo $this->url('news-detail-'.$myLocale,array('id'=>$item['id'],'slug'=>$item['slug'])) ?>"><img src="<?php echo BASE_URL_MEDIA_IMAGE.'/thumb/'.$item['image']; ?>" class="img-responsive" alt=""></a>
								</div>
								<div class="text col-md-7 col-sm-7">
									<p class="day"><?php echo date('d/m/Y',strtotime($item['created'])); ?></p>
									<a href="<?php echo $this->url('news-detail-'.$myLocale,array('id'=>$item['id'],'slug'=>$item['slug'])) ?>" title="<?php echo $item['title'] ?>"><?php echo $item['title'] ?></a>
								</div>
								<div class="clearfix"></div>
							</div>
						<?php endforeach; ?>

						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>