<div class="card card-form">
    <div class="row no-gutters">
        <div class="col-lg-12 card-form__body border-left">

            <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values="[&quot;js-lists-values-employee-name&quot;]">

                <div class="search-form search-form--light m-3">
                    <input type="text" class="form-control search" placeholder="Search">
                    <button class="btn" type="button"><i class="material-icons">search</i></button>
                </div>

                <table class="table mb-0 thead-border-top-0">
                    <thead>
                        <tr>

                            <th>Employee</th>


                            <th style="width: 37px;">Status</th>
                            <th style="width: 120px;">Last Activity</th>
                            <th style="width: 51px;">Earnings</th>
                            <th style="width: 24px;"></th>
                        </tr>
                    </thead>
                    <tbody class="list" id="staff02"><tr>

                            <td>

                                <span class="js-lists-values-employee-name">Michael Smith</span>

                            </td>


                            <td><span class="badge badge-warning">ADMIN</span></td>
                            <td><small class="text-muted">3 days ago</small></td>
                            <td>$12,402</td>
                            <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                        </tr><tr>

                            <td>

                                <span class="js-lists-values-employee-name">Connie Smith</span>

                            </td>


                            <td><span class="badge badge-success">USER</span></td>
                            <td><small class="text-muted">1 week ago</small></td>
                            <td>$1,943</td>
                            <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                        </tr><tr>

                            <td>

                                <span class="js-lists-values-employee-name">John Connor</span>

                            </td>


                            <td><span class="badge badge-primary">MANAGER</span></td>
                            <td><small class="text-muted">1 week ago</small></td>
                            <td>$1,943</td>
                            <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                        </tr><tr>

                            <td>

                                <span class="js-lists-values-employee-name">Michael Smith</span>

                            </td>


                            <td><span class="badge badge-warning">ADMIN</span></td>
                            <td><small class="text-muted">3 days ago</small></td>
                            <td>$12,402</td>
                            <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                        </tr><tr>

                            <td>

                                <span class="js-lists-values-employee-name">Connie Smith</span>

                            </td>


                            <td><span class="badge badge-success">USER</span></td>
                            <td><small class="text-muted">1 week ago</small></td>
                            <td>$1,943</td>
                            <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                        </tr><tr>

                            <td>

                                <span class="js-lists-values-employee-name">John Connor</span>

                            </td>


                            <td><span class="badge badge-primary">MANAGER</span></td>
                            <td><small class="text-muted">1 week ago</small></td>
                            <td>$1,943</td>
                            <td><a href="" class="text-muted"><i class="material-icons">more_vert</i></a></td>
                        </tr></tbody>
                </table>
            </div>


        </div>
    </div>
</div>