<div class="container-fluid page__container">
    <div class="page__heading d-flex align-items-center">
        <div class="flex">
            <!-- <h1 class="m-0">E-commerce</h1> -->
            <select id="grade" @change="getClasses" name="grade" data-toggle="select" class="custom-select">
                <option value="-1">Tất cả các khối</option>
                <option value="09">Khối 9</option>
                <option value="10">Khối 10</option>
                <option value="11">Khối 11</option>
                <option value="12">Khối 12</option>
            </select>
        </div>
        <a href="javascript:void(0);" class="btn btn-success ml-3" data-toggle="modal" data-target="#modal-add-class">+ Thêm</a>
    </div>
</div>
<div class="container-fluid page__container">
    <div class="row" data-toggle="dragula" data-dragula-containers="[&quot;#cards-left&quot;, &quot;#cards-right&quot;]">
        <div class="col-md">
            <div class="card shadow-none border bg-light">
                <div class="card-body">
                    <div class="text-label mb-3">TOÁN THẦY THANH</div>
                    <div id="cards-left" class="card-list">
                        <div class="card" v-for="_class in classes">
                            <a style="color:#444444;" v-bind:href="'class/' + _class.id">
                                <div class="card-body media">
                                    <div class="media-left mr-3">
                                        <div class="avatar">
                                            <span class="avatar avatar-sm">
                                                <span class="avatar-title rounded-circle bg-warning">{{_class.title.slice(-3)}}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <p>
                                            <strong>{{ _class.title }}</strong><br>
                                        </p>
                                        <p class="mb-0">
                                            <span>Học sinh: <strong class="text-info">{{ _class.count }}</strong></span><br>
                                            <strong>Học phí: <span class="text-danger">{{ _class.price }}.000 VND</span></strong>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

