<?php // print_r($classInfos); ?>

<input type="hidden" id="user-id" value="<?php echo $user['id']; ?>">
<input type="hidden" id="student-class" value="<?php echo $classInfos['id']; ?>">
<input type="hidden" id="class-price" value="<?php echo $classInfos['price']; ?>">
<input type="hidden" id="class-name" value="<?php echo $classInfos['title']; ?>">
<div class="container-fluid page__container">
    <div class="page__heading d-flex align-items-center mb-0">
        <div class="flex">
            <h2 class="m-0"><?php echo $classInfos['title']; ?></h1>
        </div>
        <a href="<?php echo $this->url('muster', array('id' => $classInfos['id'], 'date' => 't'.date('Y-m-d'))) ?>" class="btn btn-primary ml-3"><i class="material-icons">perm_identity</i> DD</a>
        <a href="javascript:void(0);" class="btn btn-success ml-3" data-toggle="modal" data-target="#modal-add-student">+ Thêm</a>
        
    </div>
</div>
<div class="container-fluid page__container">
    <div class="row" data-toggle="dragula" data-dragula-containers="[&quot;#cards-left&quot;, &quot;#cards-right&quot;]">
        <div class="col-md">
            <div class="card-form__body card-body-form-group flex">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="select01"></label>
                            <select id="charge-month" @change="getStudents" data-toggle="select" class="custom-select">
                                <?php 
                                $month = (int) date('m');

                                for($i = 1; $i <= 12; $i++) {
                                    $selected = ($month == $i) ? ' selected=""' : '';
                                    echo '<option value="'.$i.'"'.$selected.'>Tháng '.$i.'</option>';
                                } ?>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="select01"></label>
                            <select id="charge-year" @change="getStudents" data-toggle="select" class="custom-select">
                                <?php 
                                $year = date('Y');
                                $preyear = $year - 1;
                                $nextyear = $year + 1;
                                ?>
                                <option value="<?php echo $preyear; ?>"><?php echo $preyear; ?></option>
                                <option selected="" value="<?php echo $year; ?>"><?php echo $year; ?></option>
                                <option value="<?php echo $nextyear; ?>"><?php echo $nextyear; ?></option>
                            </select>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card card-body text-center">

            <div class="d-flex flex-row align-items-center">
                <div class="d-flex align-items-center card-header__title m-0"> <button style="float: left" class="btn btn-sm btn-info mr-3" data-toggle="modal" data-target="#modal-add-schedule">+</button> Lịch học
                </div>
                <div class="text-amount ml-auto text-left" style="font-size: 14px;">
                    <?php if (count($classSchedule) > 0): ?>
                        <?php foreach($classSchedule as $key => $value): ?>
                            <div id="schedule-<?php echo $value['id'] ?>"><span><strong>Thứ <?php echo $value['schedule']; ?></strong>(<?php echo $value['start_hour']; ?>h<?php echo $value['start_minute'] > 0 ? $value['start_minute'] : ''; ?>-<?php echo $value['end_hour']; ?>h<?php echo $value['end_minute'] > 0 ? $value['end_minute'] : ''; ?>)</span><i @click="removeSchedule(<?php echo $value['id'] ?>)" style="font-size: 16px;" class="text-danger sidebar-menu-icon material-icons">close</i></div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div class="card card-body text-center">
            <div class="d-flex flex-row align-items-center">
                <div class="card-header__title m-0"><i class="material-icons icon-muted icon-30pt">attach_money</i> Học phí</div>
                <div class="text-amount ml-auto"><?php echo $classInfos['price']; ?>K</div>
            </div>
        </div>
        <div class="card card-body text-center">
            <div class="d-flex flex-row align-items-center">
                <div class="card-header__title m-0"><i class="material-icons  icon-muted icon-30pt">perm_identity</i> Học sinh</div>
                <div class="text-amount ml-auto"><span id="charged-count"></span><span id="student-count"></span></div>
            </div>
        </div>
        <div class="card card-body text-center">
            <div class="d-flex flex-row align-items-center">
                <div class="card-header__title m-0"><i class="material-icons  icon-muted icon-30pt">attach_money</i> Tổng thu</div>
                <div class="text-amount ml-auto"><span id="charged-sum"></span></div>
            </div>
        </div>
    </div>

    <div class="card card-form">
        <div class="row no-gutters">
            <div class="col-lg-12 card-form__body border-left">

                <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values="[&quot;js-lists-values-employee-name&quot;]">

                    <div class="search-form search-form--light m-3">
                        <input type="text" v-model="searchQuery" class="form-control search" placeholder="Search">
                        <button class="btn" type="button"><i class="material-icons">search</i></button>
                    </div>

                    <table class="table mb-0 thead-border-top-0">
                        <thead>
                            <tr>

                                <th>Tên Học Sinh</th>
                                <th>Đã đóng</th>
                                <th>Thu phí</th>

                                <th style="width: 37px;">Giới Tính</th>
                                <th style="width: 120px;">Số Điện Thoại</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody class="list" id="staff02">
                            <tr v-for="student in resultQuery">
                                <td>
                                    <a v-bind:href="'../student/' + student.id"><span class="js-lists-values-employee-name">{{ student.name }}</span></a>
                                </td>
                                <td>
                                    <span v-if="student.charge == <?php echo $classInfos['price']; ?>" class="badge badge-success">{{student.charge}}K</span>
                                    <span v-else-if="student.charge > 0" class="badge badge-danger">{{student.charge}}K</span>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm" @click="prechargeMoney(student)">$</button>
                                </td>
                                <td>
                                    <span v-if="student.gender == 2" class="badge badge-warning">NỮ</span>
                                    <span v-if="student.gender == 1" class="badge badge-warning">NAM</span>
                                </td>
                                <td><small class="text-muted">{{ student.phone }}</small></td>
                                <td>
                                    <button @click="editStudent(student)" class="btn btn-sm btn-success">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>