<?php
    $permission = true;
    $user = $this->user();

    if (!$this->UserRole()->UserRolePermission($user, 'history_exchange_role')) {
        $permission = false;
    }

    $score = 0;
    if ($presetCustomer) {
        $customerId = $presetCustomer['id'];
        $customerName = $presetCustomer['name'];
        $customerAddress = $presetCustomer['address'];
        $companyId = $presetCustomer['company_id'];
        $companyName = $presetCustomer['companyName'];
        $branchName = $presetCustomer['branchName'];
        $departmentName = $presetCustomer['departmentName'];
        $score = $presetCustomer['score'] - $presetCustomer['exchange_score'];
        $score = ($score < 0) ? 0 : $score;
    }
?>
<?php if ($permission) : ?>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="page-header">Đổi Quà</h1>

                    <?php if ($exchangeSubmit) : ?>
                        <?php if(!$exchangeError): ?>
                            <div class="alert alert-success" role="alert">
                                <strong>Successfully!</strong> Đổi quà thành công.
                            </div>
                        <?php else: ?>
                            <div class="alert alert-danger" role="alert">
                                <strong>Error!</strong> <?php echo $errorMessage; ?>.
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
                    <form name="change-voucher-form" method="post">
                        <div class="form-group row">
                            <label for="input-search1" class="col-sm-2 col-form-label text-right">Khách Hàng</label>
                            <div class="col-sm-6">
                                <input type="text" autocomplete="off" class="form-control" id="input-search1" name="customerName" placeholder="Search khách hàng" value="<?php if($customerId) {echo $customerName;} ?>">
                                <input id="value-search1" type="hidden" value="<?php if($customerId) {echo $customerId;} ?>" name="customerId" />
                                <ul class="customer-suggestion-list list-group"></ul>
                            </div>
                        </div>
                        <div class="form-group row customer-infos" id="customer-infos" <?php if($presetCustomer){echo 'style="display: flex;"';} ?>>
                            <label for="input-search1" class="col-sm-2 col-form-label text-right"></label>
                            <div class="col-sm-4 col-form-label info1">
                                <?php if ($presetCustomer): ?>
                                    <span class="label label-table label-primary">
                                            <?php echo ($companyId) ? $companyName : 'Khách Lẻ'; ?>
                                        </span>
                                    <?php if ($companyId): ?>
                                    <br><br><span>Chi Nhánh: <b><?php echo $branchName; ?></b></span><br><span>Phòng Ban: <b><?php echo $departmentName; ?></b></span><br>
                                    <?php else: echo '<br><br><b>'.$customerAddress.'</b>';?>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                            <div class="col-sm-2 col-form-label">
                                <span>Số Điểm</span>
                                <span class="label label-table label-success" id="customer-score"><?php echo $score; ?></span>
                            </div>
                        </div>
                        <div class="form-group row m-t-40">
                            <label for="input-search1" class="col-sm-2 col-form-label text-right">Danh Sách Quà Tặng</label>
                            <!--<div class="col-sm-4">
                                <input type="text" autocomplete="off" class="form-control" id="input-search2" name="product" placeholder="Search sản phẩm">
                                <input id="value-search2" type="hidden" value="" name="productId" />
                            </div>
                            <div class="col-sm-2">
                                <button type="button" id="searchProduct"  class="btn btn-warning">Tìm kiếm </button>
                            </div>-->
                            <div class="col-sm-8">
                                <div id="list-vouchers" class="list-vouchers">
                                    <?php foreach ($vouchers as $voucher):
                                        // check voucher available
                                        $validVoucher = true;
                                        $datestatus = date('d/m/Y', strtotime($voucher['end_date']));

                                        $inventory = (int) $voucher['inventory'];
                                        if ($inventory <= 0) {
                                            $validVoucher = false;
                                        }

                                        $currentDate = date('Y-m-d');
                                        $startDate = $voucher['start_date'];
                                        $endDate = $voucher['end_date'];

                                        if ($currentDate < $startDate || !$voucher['status']) {
                                            $validVoucher = false;
                                            $datestatus = "Chưa kích hoạt";
                                        } else if ($currentDate > $endDate) {
                                            $validVoucher = false;
                                            $datestatus = "Hết Hạn";
                                        }

                                        ?>
                                        <div class="voucher-item voucher-item-<?php echo $voucher['id']; ?><?php if(!$validVoucher): echo ' disabled'; endif;?>" <?php if($validVoucher): ?>onclick="selectVoucher(<?php echo $voucher['id']; ?>)"<?php endif; ?>>
                                            <div class="voucher-img">
                                                <img src="<?php echo BASE_URL_MEDIA_IMAGE.'/'.$voucher['image']; ?>" />
                                            </div>
                                            <div class="voucher-info">
                                                <b><?php echo $voucher['title']; ?></b><br/>
                                                <span>Số lượng: </span><span><?php echo $inventory; ?></span><br/>
                                                <span>Điểm: </span><span><?php echo $voucher['score']; ?></span><br/>
                                                <span>HSD: </span><span><?php echo $datestatus; ?></span>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                            <div class="col-sm-10 offset-2"><input id="voucher-id" type="hidden" value="" name="voucherId" /></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-8 text-center m-t-40">
                                <button type="submit" class="btn btn-primary">Nhận Quà</button>
                            </div>
                        </div>
                    </form>
                    <script>
                        if ( window.history.replaceState ) {
                            window.history.replaceState( null, null, window.location.href );
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
<?php else: ?>
    <?php include_once('403.phtml'); ?>
<?php endif; ?>