<input type="hidden" id="user-id" value="<?php echo $user['id']; ?>">
<input type="hidden" id="student-class" value="<?php echo $classInfos['id']; ?>">
<input type="hidden" id="class-price" value="<?php echo $classInfos['price']; ?>">
<input type="hidden" id="class-name" value="<?php echo $classInfos['title']; ?>">
<input type="hidden" id="muster-date" value="<?php echo $date; ?>">
<div class="container-fluid page__container">
    <div class="page__heading d-flex align-items-center mb-0">
        <div class="flex">
            <h2 class="m-0"><?php echo $classInfos['title']; ?></h1>
        </div>
        <!-- <a v-if="!muster" href="javascript:void(0);" class="btn btn-success ml-3" @click="musterToogle">Điểm Danh</a>
        <a v-else href="javascript:void(0);" class="btn btn-warning ml-3" @click="musterToogle">Xong</a> -->
    </div>
</div>
<div class="container-fluid page__container">
    <div class="card card-form">
        <div class="row no-gutters">
            <div class="col-lg-12 card-form__body border-left">

                <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values="[&quot;js-lists-values-employee-name&quot;]">

                    <div class="search-form search-form--light m-3">
                        <input type="text" v-model="searchQuery" class="form-control search" placeholder="Search">
                        <button class="btn" type="button"><i class="material-icons">search</i></button>
                    </div>

                    <table class="table mb-0 thead-border-top-0">
                        <thead>
                            <tr>

                                <th>Tên Học Sinh</th>
                                <th>Giới Tính</th>
                                <th>Điểm Danh</th>
                                
                            </tr>
                        </thead>
                        <tbody class="list" id="staff02">
                            <tr v-for="student in resultQuery">
                                <td>
                                    <span class="js-lists-values-employee-name">{{ student.name }}</span>
                                </td>
                                <td>
                                    <span v-if="student.gender == 2" class="badge badge-warning">NỮ</span>
                                    <span v-if="student.gender == 1" class="badge badge-info">NAM</span>
                                </td>
                                <td v-if="!student.muster">
                                	<img width="28" @click="muster(student.id, 2)" src="<?php echo BASE_URL_SKIN_ADMIN; ?>/images/icons/check.png" />
                                	<img width="28" style="padding: 1.5px 3px 1.5px 0" @click="muster(student.id, 1)" src="<?php echo BASE_URL_SKIN_ADMIN; ?>/images/icons/off.png" />
                                </td>
                                <td v-else class="text-center">
                                	<img @click="muster(student.id, 1, student.muster_id)" v-if="student.muster == 2" width="28" src="<?php echo BASE_URL_SKIN_ADMIN; ?>/images/icons/checked.png" />
                                	<img @click="muster(student.id, 2, student.muster_id)" v-if="student.muster == 1" style="padding: 1.5px 3px 1.5px 0" width="28" src="<?php echo BASE_URL_SKIN_ADMIN; ?>/images/icons/off_red.png" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>