<?php
    $defaultOrderDate = date ('d/m/Y');

    /* Prefill if edit type */
    if ($orderInfos) {
        $customerId = $orderInfos['customerId'];
        $customerName = $orderInfos['customerName'];

        $productId = $orderInfos['productId'];
        $productName = $orderInfos['productName'];
        $productQuantity = ($orderInfos['inventory']) ? $orderInfos['inventory'] : 1;
        $productPrice = $orderInfos['price'];
        $productSumPrice = $productPrice * $productQuantity;

        $employeeId = $orderInfos['employeeId'];
        $employeeName = $orderInfos['employeeName'];

        $startDate = date('d/m/Y', strtotime($orderInfos['start_date']));
        $endDate = date('d/m/Y', strtotime($orderInfos['end_date']));
    }


    $permission = true;
    $user = $this->user();

    if (!$this->UserRole()->UserRolePermission($user, 'history_order_role')) {
        $permission = false;
    }
?>
<?php if ($permission) : ?>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Đơn Hàng</h4>

                <?php if($createSaleStatus): ?>
                    <div class="alert alert-success" role="alert">
                        <strong>Successfully!</strong> Lưu đơn hàng thành công.
                    </div>
                <?php endif; ?>

                <?php if($updateSaleStatus): ?>
                    <div class="alert alert-success" role="alert">
                        <strong>Successfully!</strong> Cập Nhật đơn hàng thành công.
                    </div>
                <?php endif; ?>
                <form name="create-sale-form" method="post">
                    <div class="form-group row m-t-40">
                        <label for="input-search1" class="col-sm-2 col-form-label text-right">Khách Hàng</label>
                        <div class="col-sm-6">
                            <input type="text" value="<?php if($customerId) echo $customerName; ?>" autocomplete="off" class="form-control" id="input-search1" name="customerName" placeholder="Search khách hàng">
                            <input id="value-search1" type="hidden" value="<?php if($customerId) echo $customerId; ?>" name="customerId" />
                            <ul class="customer-suggestion-list list-group"></ul>
                        </div>
                        <div class="cold-sm-2">
                            <button type="button" data-toggle="modal" data-target=".new-customer-modal" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i>&nbsp;Thêm</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="order_number" class="col-sm-2 col-form-label text-right">Số Hóa Đơn</label>
                        <div class="col-sm-2">
                            <input id="order_number" class="form-control" type="text" value="" autocomplete="off" name="order_number">

                        </div>
                        <label for="from_date" class="col-sm-2 col-form-label text-right">Ngày Xuất Hóa Đơn</label>
                        <div class="col-sm-2">
                            <div class="input-group date" data-provide="">
                                <input id="from_date" class="form-control datepicker" type="text" value="<?php if($startDate) { echo $startDate; } else { echo $defaultOrderDate; } ?>" autocomplete="off" name="buy_date">
                                <div class="input-group-addon">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right" for="">Ngành Hàng</label>
                        <div class="col-sm-6">
                            <select name="productBrand" class=" form-control">
                                <?php foreach ($productBrands as $productBrand): ?>
                                    <option value="<?php echo $productBrand['id']; ?>"><?php echo $productBrand['name']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right" for="">Tổng Giá Trị Đơn Hàng</label>
                        <div class="col-sm-2">
                            <input name="sum_price" class="form-control" type="number" value="" />
                        </div>
                        <label class="col-sm-1 col-form-label text-left" for="">VND</label>
                    </div>
                    <!--<div class="form-group row">
                        <label for="input-search1" class="col-sm-2 col-form-label text-right">Số Lượng</label>
                        <div class="col-sm-6 row">
                            <div class="col-sm-4">
                                <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                                    <input id="pro-amount" type="text" value="<?php /*echo ($productQuantity) ? $productQuantity : 1; */?>" name="pro-amount" data-bts-button-down-class="btn btn-secondary btn-outline" data-bts-button-up-class="btn btn-secondary btn-outline" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-8 row">
                                <label class="col-sm-6 col-form-label text-right">Tổng Tiền </label>
                                <label class="col-sm-6 col-form-label"><b id="sum-price" class="sum-price"><?php /*echo ($productSumPrice) ? number_format($productSumPrice, 0, '.', '.') : 0; */?></b> VND</label>
                            </div>
                        </div>
                    </div>-->
                    <div class="form-group row">
                        <label for="input-search3" class="col-sm-2 col-form-label text-right">Nhân Viên Bán Hàng</label>
                        <div class="col-sm-6">
                            <input type="text" value="<?php if($employeeId) echo $employeeName; ?>" autocomplete="off" class="form-control" id="input-search3" name="employee" placeholder="ID nhân viên, tên, số điện thoại">
                            <input id="value-search3" type="hidden" value="<?php if($employeeId) echo $employeeId; ?>" name="employeeId" />
                            <ul class="employee-suggestion-list list-group"></ul>
                        </div>
                    </div>

                    <!--<div class="form-group row">
                        <label for="input-search3" class="col-sm-2 col-form-label text-right">Ngày Bảo Hành</label>
                        <div class="col-sm-6">
                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" value="<?php /*if($endDate) { echo $endDate; } ; */?>" autocomplete="off" class="form-control" name="warranty_date">
                                <div class="input-group-addon">

                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="form-group row mt-3">
                        <div class="col-sm-8 text-center m-t-40">
                            <button type="submit" class="btn btn-primary"><?php echo $orderInfos ? 'Cập Nhật' : 'Tạo Đơn'; ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- sample modal content -->
<div class="modal fade new-customer-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="longmodal">Large modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h4>Overflowing text to show scroll behavior</h4>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<script src="<?php echo BASE_URL_SKIN_ADMIN_JS; ?>/jquery.bootstrap-touchspin.js"></script>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    $(document).ready(function(){
        $("input[name='pro-amount']").TouchSpin({
            min: 1
        }).change(function(){
            // calculate on change
            calculateSumPrice();
        });
    })

    var PRO_PRICE = parseInt(<?php echo ($productPrice) ? $productPrice : 0 ?>);
</script>
<?php else: ?>
    <?php include_once('403.phtml'); ?>
<?php endif; ?>