<input type="hidden" id="user-id" value="<?php echo $user['id']; ?>">
<input type="hidden" id="student-id" value="<?php echo $student['id']; ?>">
<div class="container-fluid page__container">
    <div class="page__heading d-flex align-items-center mb-0">
        <div class="flex">
            <h2 class="m-0"><?php echo $student['name']; ?></h2>
            <span><?php echo $student['phone']; ?></span>
        </div>
        <!-- <a v-if="!muster" href="javascript:void(0);" class="btn btn-success ml-3" @click="musterToogle">Điểm Danh</a>
        <a v-else href="javascript:void(0);" class="btn btn-warning ml-3" @click="musterToogle">Xong</a> -->
    </div>
</div>
<div class="container-fluid page__container">
	<div class="row" data-toggle="dragula" data-dragula-containers="[&quot;#cards-left&quot;, &quot;#cards-right&quot;]">
        <div class="col-md">
            <div class="card-form__body card-body-form-group flex">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="select01"></label>
                            <select id="charge-month" @change="studentMuster" data-toggle="select" class="custom-select">
                                <?php 
                                $month = (int) date('m');

                                for($i = 1; $i <= 12; $i++) {
                                    $selected = ($month == $i) ? ' selected=""' : '';
                                    echo '<option value="'.$i.'"'.$selected.'>Tháng '.$i.'</option>';
                                } ?>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="select01"></label>
                            <select id="charge-year" @change="studentMuster" data-toggle="select" class="custom-select">
                                <?php 
                                $year = date('Y');
                                $preyear = $year - 1;
                                $nextyear = $year + 1;
                                ?>
                                <option value="<?php echo $preyear; ?>"><?php echo $preyear; ?></option>
                                <option selected="" value="<?php echo $year; ?>"><?php echo $year; ?></option>
                                <option value="<?php echo $nextyear; ?>"><?php echo $nextyear; ?></option>
                            </select>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-form">
        <div class="row no-gutters">
            <div class="col-lg-12 card-form__body border-left">

                <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values="[&quot;js-lists-values-employee-name&quot;]">

                    <table class="table mb-0 thead-border-top-0">
                        <thead>
                            <tr>

                                <th>Ngày Học</th>
                                <th>Điểm Danh</th>
                                
                            </tr>
                        </thead>
                        <tbody class="list" id="staff02">
                            <tr v-for="muster in musters">
                                <td>
                                    {{muster.muster_date}}
                                </td>
                                <td>
                                	<img v-if="muster.muster == 1" width="28" src="<?php echo BASE_URL_SKIN_ADMIN; ?>/images/icons/checked.png" />
                                	<img v-if="muster.muster == 2" style="padding: 1.5px 3px 1.5px 0" width="28" src="<?php echo BASE_URL_SKIN_ADMIN; ?>/images/icons/off_red.png" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>