<?php $user = $this->user(); ?>
<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Analytics Dashboard</title>

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots" content="noindex">

        <?php echo $this->partial('partial/admin/css'); ?>
    </head>

    <body class="layout-default">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader" style="height: 100%;
            width: 100%;
            top: 0px;
            position: fixed;
            z-index: 99999;
            background: #1A3142;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;">Please wait...</div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <!-- Header Layout -->
            <div id="popups">
                <?php echo $this->partial('partial/admin/popup'); ?>
            </div>

            <div class="mdk-header-layout js-mdk-header-layout">
                <?php echo $this->partial('partial/admin/zheader'); ?>
                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content">
                    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
                        <div class="mdk-drawer-layout__content page">
                            <?php echo $this->partial('partial/admin/breadcrumb'); ?>
                            <!-- ============================================================== -->
                            <!-- Page wrapper  -->
                            <!-- ============================================================== -->
                            <div id="application">
                                <?php echo $this->content; ?>
                            </div>
                        </div>
                        <!-- // END drawer-layout__content -->
                        <?php echo $this->partial('partial/admin/zsidebar'); ?>
                    </div>
                    <!-- // END drawer-layout -->

                </div>
                <!-- // END header-layout__content -->
            </div>

        <!-- App Settings FAB -->
        <div id="app-settings" style="display: none;">
            <app-settings layout-active="default" :layout-location="{}"></app-settings>
        </div>
        

        <?php // echo $this->partial('partial/zfooter'); ?>
        <?php echo $this->partial('partial/admin/js'); ?>
    </body>
</html>