<html lang="en">
    <head>
        <meta charset="utf-8">
        <base href="<?php echo BASE_URL; ?>/"/>
        <link href="<?php echo BASE_URL_SKIN_IMAGE; ?>/favicon.ico" rel="shortcut icon">   
        <title>BizzArk</title>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0, user-scalable=no') ?>
        <?php echo $this->partial('partial/opengraph'); ?>  
        <script>
            var baseurl = "<?php echo BASE_URL; ?>";
        </script>
        <?php echo $this->partial('partial/css'); ?>
    </head>

    <body class="page-has-left-panels page-has-right-panels" role="document">
        
        <?php echo $this->partial('partial/zheader'); ?>
        <?php echo $this->content; ?>
        <?php echo $this->partial('partial/zfooter'); ?>
        
        
        <?php echo $this->inlineScript(); ?>  
        <?php echo $this->partial('partial/js'); ?>
        <?php echo $this->partial('partial/ga'); ?>
    </body>
</html>
