<div class="row">
    <div class="col-md-8">
        <h1 class="page-header">Change your password</h1>
        <?php
        $form = $this->form;
        $form->prepare();
        ?>
        <?php echo $this->formMessenger()->showMessage($form); ?>
        <div class="changepass">
            <?php echo $this->form()->openTag($form); ?>
            <ul class="form changepass">

                <li>
                    <label>New Password</label>
                    <?php echo $this->formInputCustom($form->get('password')); ?>
                </li>
                <li>
                    <label>Confirm New Password</label>
                    <?php echo $this->formInputCustom($form->get('cfpassword')); ?>
                </li>
                <li class="action">
                    <?php echo $this->formRow($form->get('submit')); ?>
                </li>
            </ul>
            <?php echo $this->form()->closeTag(); ?>
        </div>

    </div>
    <div class="col-md-4">
        <?php include_once __DIR__ . '/user_menu.phtml'; ?>
    </div>
</div>



