
<div class="row">
    <div class="col-md-8">
       <h1 class="page-header">My Account</h1>
       <div class="changepass-success">Change successful.</div>
    </div>
    <div class="col-md-4">
        <?php include_once __DIR__.'/user_menu.phtml'; ?>
    </div>
</div>

