<div class="row">
    <div class="col-md-8">
       <h1 class="page-header">Edit Account</h1>
        <?php
        $form = $this->form;
        $form->prepare();
       
        ?>
        <?php echo $this->formMessenger()->showMessage($form);?>
        <div class="join">
            <?php echo $this->form()->openTag($form); ?>
            <ul class="form register">
                <li>
                    <label>Name</label>
                    <?php echo $this->formInput($form->get('name')); ?>
                </li>
                <li>
                    <label>Email</label>
                    <?php echo $this->formInput($form->get('email')); ?>
                </li>
                <li>
                    <label>Address</label>
                    <?php echo $this->formInput($form->get('address')); ?>
                </li>
                <li>
                    <label>Phone</label>
                    <?php echo $this->formInput($form->get('phone')); ?>
                </li>
                <li>
                    <label>About</label>
                    <?php echo $this->formTextArea($form->get('bio')); ?>
                </li>
                <li class="action">
                    <?php echo $this->formRow($form->get('submit')); ?>

                </li>
            </ul>
             <?php echo $this->formHidden($form->get('id')); ?>
            <?php echo $this->form()->closeTag(); ?>


        </div>
    </div>
    <div class="col-md-4">
        <?php include_once __DIR__.'/user_menu.phtml'; ?>
    </div>
</div>

