<div class="row">
    <div class="col-md-8">
        <h1 class="page-header">Forgot Password</h1>
        <p> We have just sent to you an email to instruction how to get new password. Please check your email.</p>
    </div>
</div>