<div class="splash-container">
    <div class="card ">
        <div class="card-header text-center"><a href="../index.html"><img class="logo-img" src="<?php echo BASE_URL_SKIN_CSS; ?>/assets/images/logo.png" alt="logo"></a><span class="splash-description">Please enter your user information.</span></div>
        <div class="card-body">
            <form id="loginForm">
                <div class="form-group">
                    <input class="form-control form-control-lg" name="email" id="username" type="text" placeholder="Email" autocomplete="off">
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" name="password" id="password" type="password" placeholder="Password">
                </div>
                <a href="javascript:void(0)" onclick="App.User.login();" class="btn btn-primary btn-lg btn-block">Sign in</a>
            </form>
        </div>
        <div class="card-footer bg-white p-0  ">
            <div class="card-footer-item card-footer-item-bordered">
                <a href="<?php ?>" class="footer-link">Create An Account</a></div>
            <div class="card-footer-item card-footer-item-bordered">
                <a href="<?php ?>" class="footer-link">Forgot Password</a>
            </div>
        </div>
    </div>
</div>

