<form class="splash-container" id="formRegister">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-1">Registrations Form</h3>
            <p>Please enter your user information.</p>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="username" required="" placeholder="Username" autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="email" name="email" required="" placeholder="E-mail" autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" id="pass1" type="password" name="password" required="" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="button" href="javascript:void(0)" onclick="App.User.register();" class="btn btn-block btn-primary" type="submit">Register My Account</button>
            </div>


        </div>
        <div class="card-footer bg-white">
            <p>Already member? <a href="<?php echo $this->url('user-login'); ?>" class="text-secondary">Login Here.</a></p>
        </div>
    </div>
</form>