<div class="right-sidebar">
<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">My Account</li>
    <li><a href="<?php echo $this->url('user', array('action' => 'edit')) ?>">Edit Profile</a></li>
    <li><a href="<?php echo $this->url('user', array('action' => 'changepicture')) ?>">Change Your Picture</a> </li>
    <li><a href="<?php echo $this->url('user', array('action' => 'changepassword')) ?>">Change Your Password</a> </li>
</ul>
</div>
