.theme-default #main-navbar .navbar-brand div, .theme-default .demo-logo{background: transparent;}
#main-navbar .navbar-brand div, #main-navbar .navbar-brand div img{width: 150px;height: 42px;  }
.theme-default #main-menu-bg{background-color: #0c381e;}