html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.loginWrap {
    margin: 0 auto;
    max-width: 400px;
}
.loginWrap .login-box .input-group {
    width: 100%;
}
.login-box{
    padding: 10px 30px 20px 30px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-captcha img { float:left;}
.login-captcha a {  float: left;padding-top: 12px; padding-left: 15px; font-style: italic;}