<div class="form-group">
    <label class="col-sm-2 control-label" for="">Name <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('name')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Email <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('email')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Email <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('phone')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Password  <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInputCustom($form->get('password')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Confirm Password  <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInputCustom($form->get('cfpassword')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Thành Viên <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formSelect($form->get('member')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Quản trị<span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formSelect($form->get('role')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Status<span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formSelect($form->get('status')); ?>
    </div>
</div>

<!-- <div class="form-group">
    <label class="col-sm-2 control-label" for="">Phone</label>
    <div class="col-sm-10">
        <?php //echo $this->formInput($form->get('phone')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Identify</label>
    <div class="col-sm-10">
        <?php //echo $this->formInput($form->get('identify')); ?>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="">Address</label>
    <div class="col-sm-10">
        <?php //echo $this->formInput($form->get('address')); ?>
    </div>
</div> -->
<?php //echo $this->formHidden($form->get('csrf')); ?>