<div class="form-group">
    <label class="col-sm-2 control-label" for="">Name</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('name')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Company</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('company')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Address</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('address')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Phone</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('phone')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Email</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('email')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Message<span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formTextarea($form->get('message')); ?>
    </div>
</div>
<?php //echo $this->formHidden($form->get('csrf')); ?>