<div class="actions pull-right">
    
    <button class="btn btn-success" onclick="App.submitForm('publish')"><i class="fa fa-check"></i>&nbsp;<?php echo 'Read' ?></button> &nbsp;&nbsp;
    <button class="btn btn-info" onclick="App.submitForm('unpublish')"><i class="fa fa-times-circle"></i>&nbsp;<?php echo 'Unread' ?></button> &nbsp;&nbsp;
    <button style="display:none;" class="btn btn-danger" onclick="App.submitForm('deleteitem')"><i class="fa fa-trash-o"></i>&nbsp;<?php echo 'Delete' ?></button>
    <button class="btn btn-primary" onclick="App.gotoURL(baseurl + '/admin/contact/export')" ><i class="fa fa-plus fa-fw"></i>&nbsp;Export</button> &nbsp;&nbsp;&nbsp;&nbsp;
</div>
<div class="clearfix"></div>
<p>&nbsp;</p>
