
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<?php echo $this->url('admin') ?>"><?php echo $this->translate('CMS') ?></a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li  class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-fw"></i>&nbsp;<?php echo $this->translate('Configuration') ?> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo $this->url('settingadmin'); ?>">Site Information</a></li>
                    <li><a href="<?php echo $this->url('emailsettingadmin'); ?>">Email Template</a></li>
                    <li><a href="<?php echo $this->url('redirectsettingadmin'); ?>">URL Redirect</a></li>
                    <li><a href="<?php echo $this->url('languageadmin'); ?>">Language</a></li>

                </ul>
            </li>

            <li  class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil fa-fw"></i>&nbsp;<?php echo $this->translate('Structure') ?> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo $this->url('categoryadmin'); ?>">Category</a></li>
                    <li><a href="<?php echo $this->url('tagadmin'); ?>">Tag</a></li>
                    <li><a href="<?php echo $this->url('contenttypeadmin'); ?>">Content Type</a></li>
                    <li><a href="<?php echo $this->url('menuadmin'); ?>">Menu</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book fa-fw"></i>&nbsp;Component <b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li><a href="<?php echo $this->url('postadmin'); ?>">Manage Content</a></li>
                    <li><a href="<?php echo $this->url('postadmin', array('action' => 'type')); ?>">Create Content</a></li>
                    <li class="divider"></li>
                    <li><a href="<?php echo $this->url('albumadmin'); ?>">Manage Album</a></li>
                    <li><a href="<?php echo $this->url('banneradmin'); ?>">Manage Banner</a></li>
                    <li><a href="<?php echo $this->url('linkadmin'); ?>">Manage Link</a></li>
                    <li class="divider"></li>
                    <li><a href="<?php echo $this->url('commentadmin'); ?>" >Manage Comment</a></li>
                    <li><a href="<?php echo $this->url('contactadmin'); ?>">Manage Contact</a></li>
                    <li><a href="<?php echo $this->url('mediaadmin'); ?>">Manage Media</a></li>
                    <li><a href="<?php echo $this->url('subscriptionadmin'); ?>">Manage Subscription</a></li>
                    <li class="divider"></li>
                    <li><a href="<?php echo $this->url('luckyadmin'); ?>">Manage Lucky</a></li>
                    <li><a href="<?php echo $this->url('prizeadmin'); ?>">Manage Prize</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>&nbsp;People <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="<?php echo $this->url('useradmin'); ?>">Manage People</a></li>
                    <li><a href="<?php echo $this->url('groupadmin'); ?>">Manage Group</a></li>
                    <li><a href="<?php echo $this->url('permissionadmin'); ?>">Permission</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <?php if (@$user && @$user['id']): ?>                  
                <li><a href="<?php echo $this->url('useradmin', array('action' => 'account')) ?>"><?php echo $this->translate('My Account') ?></a></li>
                <li><a href="<?php echo $this->url('useradmin', array('action' => 'logout')) ?>"><i class="fa fa-unlock fa-fw"></i>&nbsp;<?php echo $this->translate('Logout') ?></a></li>
                <?php else: ?>
                <?php endif; ?>
        </ul>
    </div><!--/.nav-collapse -->
</div>
