.form-group {
    margin-bottom: 10px;
}

.validate .form-control {
    border-color: #e9ecef;
}

.list-group {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.list-group .list-group-item:hover{
    cursor: pointer;
    background-color: #fb9678;
    color: #FFFFFF;
}

.topbar .top-navbar .navbar-header {
    background-color: #FFFFFF;
}

.has-error .form-control {
    border-color: #e46a76;
}

.has-error .help-block{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e46a76;
}

label.error {
    color: crimson;
    font-weight: 400;
    font-size: 12px;
    padding-left: 10px;
}

thead a {
    color: #212529;
}

.dropdown-menu {
    z-index: 1060 !important;
}

.voucher-item {
    float: left;
    border: 1px solid #e9ecef;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.voucher-item.disabled {
    opacity: 0.4;
}

.voucher-item.selected {
    border-color: #fb9678;
}

.voucher-item:hover {
    cursor: pointer;
}

.voucher-img {
    float: left;
}

.voucher-img img {
    max-height: 80px;
}

.voucher-info {
    float: left;
    margin: 0 10px;
}

.btn-secondary {
    border-color: #dee2e6;
}

.datepicker .switch {
    width: 145px;
    cursor: pointer;
}

.customer-infos {display: none;}

