<?php
    $this->layout()->setVariable('heading', 'Week');
    include(__DIR__ . '/partial/indextoolbar.phtml');
?>
<?php echo $this->flashMessenger(); ?>
<div class="clear"></div>
<div id="view-content">
    <form method="post" action="">
        <?php include_once(__DIR__ . '/partial/filter.phtml'); ?>
        <div class="clear"></div>
        <div class="table-primary" style="margin-top: 15px;">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="tableColumnCheck"><input type="checkbox" value="1" id="checkall" class="checkall"/></th>
                        <th><?php echo $this->layoutHelper()->header('id', $state); ?></th>
                        <th><?php echo $this->layoutHelper()->header('title', $state); ?></th>
                        <th><?php echo $this->layoutHelper()->header('from_date', $state); ?></th>
                        <th><?php echo $this->layoutHelper()->header('to_date', $state); ?></th>
                        <th><?php echo $this->layoutHelper()->header('ordering', $state); ?></th>
                        <th><?php echo $this->layoutHelper()->header('status', $state); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($items as $item) : ?>
                        <tr>
                            <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $item['id']; ?>"/></td>
                            <td><a href="<?php echo $this->url('contestweek-admin', array('action' => 'edit', 'id' => $item['id']));?>"><?php echo $item['id']; ?></a></td>
                            <td><a href="<?php echo $this->url('contestweek-admin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $this->escapeHtml($item['title']); ?></a></td>              
                            <td><?php echo $this->layoutHelper()->dateString($item['from_date'],'Y-m-d') ?></td>
                            <td><?php echo $this->layoutHelper()->dateString($item['to_date'],'Y-m-d') ?></td>
                            <td><?php echo $item['ordering']; ?></td>
                            <td><?php echo $this->layoutHelper()->publishString($item['status']); ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            <?php
            echo $paging->getPagingLink();
            echo $paging->getPagingInfo();
            ?>
        </div>
        <input type="hidden" name="callaction" id="callaction" value=""/>
        <input type="hidden" name="choose[]" value=""/>
        <input type="hidden" name="filter_order" id="filter_order" value="<?php echo $filter_order; ?>"/>
        <input type="hidden" name="filter_order_Dir" id="filter_order_Dir" value="<?php echo $filter_order_Dir; ?>"/>
    </form>
</div>