<?php
    $myLocale = $this->layout()->myLocale;
    $factory = $this->factory();
?>
<div id="mod-contact">
    <?php
        $img = $bannerPage['image'] ? BASE_URL_MEDIA.'/files/images/'.$bannerPage['image'] : '';
        if($bannerPage && $img){
    ?>
        <div id="banner" style="background:url(<?php echo $img ; ?>) center bottom no-repeat;"></div>
    <?php } ?>

    <?php
        $addressContact = $factory->getPostByOptions('address_nam_long',1,$myLocale,array('identity'=>'address_page_contact'));
        if($addressContact){
            $addressText = str_replace('src="images', 'src="skin/front/mytheme/images', $addressContact['body']);
        ?>
        <div id="info">
            <div class="container">
               <?php echo $addressText; ?>
            </div>
        </div>
    <?php }
     ?>
    
    <div id="block-form">
        <div class="container">
            <div id="style-title">
                <span>
                   <?php echo $this->translate('Lien he voi chung toi');?>
                </span>
                <img src="<?php echo BASE_URL_SKIN_IMAGE; ?>/bg-title.png" alt="">
                <div class="clearfix"></div>
            </div>
            <div class="form">
                <form id="frmNLContact">
                    <div class="left">
                        <div class="form-group">
                            <label for="idHoTen"><?php echo $this->translate('Ho va ten'); ?></label>
                            <div class="bg-input">
                                <input type="text" name="name" id="name" value="" class="form-control" >
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="idCongTy"><?php echo $this->translate('Cong ty'); ?></label>
                            <div class="bg-input">
                                <input type="text" name="company" id="company" value="" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="idDiaChi"><?php echo $this->translate('Dia chi'); ?></label>
                            <div class="bg-input">
                                <input type="text" name="address" id="address" value="" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="idDT"><?php echo $this->translate('Dien thoai'); ?></label>
                            <div class="bg-input">
                                <input type="text" name="phone" id="phone" value="" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label for="idEmail">Email</label>
                            <div class="bg-input">
                                <input type="text" name="email" id="email" value="" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="textarea">
                            <textarea name="message" id="message" placeholder="<?php echo $this->translate('Noi dung'); ?>"></textarea>
                        </div>
                        
                        <div id="capcha">
                            <div class="content">
                                <div class="g-recaptcha" data-sitekey="<?php echo RECAPTCHA_SITE_KEY; ?>"></div>
                            </div>
                        </div>

                         <div style="text-align:left;">
                                <p id="show-error-msg" style="display:none;">...</p>
                            </div>
                        <div class="btn-chung"> 
                            <a href="javascript:;" onclick="javascript:App.Contact.submit();" id="btnSubmit"><?php echo $this->translate('Gui'); ?>
                            </a>

                            <div style="text-align:center; height: 0px;">
                                <img id="ajax-loading" style="display:none;" src="<?php echo BASE_URL_SKIN_IMAGE.'/d-ajax-loader.gif'; ?>" />
                            </div>
                        </div>
                       
                        <div class="clearfix"></div>
                    </div>
                 </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>