<h1 class="page-header">List Album</h1>
<div class="list-album">
    <?php if ($this->items): ?>
        <ul class="media-list">
            <?php
            foreach ($this->items as $item):
                $url = $this->url('contest-item-detail', array('id' => $item['id']));
                ?>
                <li class="media">
                    <a class="pull-left" href="<?php echo $url; ?>">
                        <img alt=""  class="media-object" width="200" src="<?php echo BASE_URL . '/media/contest/' . $item['id'] . '/' . $item['preview']; ?>"/>
                    </a>
                    <div class="media-body">
                        <h2 class="media-heading"><a href="<?php echo $url; ?>"><?php echo $this->escapeHtml($item['title']); ?></a></h2>
                        <p>Author: <?php echo $this->escapeHtml($item['name']); ?></p>
                        <p>Created on: <?php echo $this->layoutHelper()->dateString($item['created']); ?></p>
                        <p>Votes: <?php echo intval($item['votes']); ?></p>
                        <p>Description: <?php echo $this->escapeHtml($item['description']); ?></p>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>

    <?php else: ?>
        <div>No album</div>
    <?php endif; ?>
</div>