<h1 class="page-header"><?php echo $title; ?></h1>
<div class="contest-form-wrapper">
    <?php
   
    $form = $this->form;

    $form->prepare();
    echo $this->formMessenger()->showMessage($form);
    echo $this->form()->openTag($form);
    ?>
    <ul class="form contest-form">
        <!-- some contest, do not need login to post an contest -->
        <li class="hidden">
            <label for="name"><span class="asterisk">*</span>Name:</label>
            <div class="field">
                <?php echo $this->formInput($form->get('user_name')); ?>
            </div>
        </li>
        <li class="hidden">
            <label for="email"><span class="asterisk">*</span>Email:</label>
            <div class="field">
                <?php echo $this->formInput($form->get('user_email')); ?>
            </div>

        </li>
        <li class="hidden">
            <label for="phone"><span class="asterisk">*</span>Phone:</label>
            <div class="field">
                <?php echo $this->formInput($form->get('user_phone')); ?>
            </div>
        </li>

        <li>
            <label for="title"><span class="asterisk">*</span>Title:</label>
            <div class="field">
                <?php echo $this->formInput($form->get('title')); ?>
            </div>
        </li>

        <li>
            <label for="description"><span class="asterisk">*</span>Description:</label>
            <div class="field">
                <?php echo $this->formTextarea($form->get('description')); ?>
            </div>
        </li>
        <li>
            <label for="fileupload"><span class="asterisk">*</span>Image</label>
            <div class="field"> 

                <input type="file" name="fileupload" id="fileupload" class="fileupload"/>
                <?php echo $this->formInput($form->get('files')); ?>
                <?php echo $this->formInput($form->get('preview')); ?>
                <div id="files_show_for_user"></div>
            </div>
        </li>
        <li  class="input_button">
            <div class="field">
                <input type="button" id="contestSubmit" class="btn btn-primary" value="Send"/>
                <input type="reset" id="resetBtn" class="btn btn-default" value="Clear"/>
            </div>
        </li>
    </ul>
    <?php echo $this->formInput($form->get('type')); ?>
    <?php echo $this->form()->closeTag(); ?>

</div>
