<?php $this->layout()->setVariable('heading','Edit Setting'); ?>
<?php
include_once(__DIR__ . '/partial/edittoolbar.phtml');
?>
<div class="clear">&nbsp;</div>
<?php echo $this->flashMessenger(); ?>
<div id="view-content">
    <div class="col-sm-12">
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
     echo $this->formMessenger()->showMessage($form);
    ?>
     <div class="panel-body">
          <div class="form-group">
                <label class="col-sm-2 control-label" for="">Name <span class="asterisk">*</span></label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('name')); ?>
                </div>
            </div>
         <div class="form-group">
                <label class="col-sm-2 control-label" for="">Value <span class="asterisk">*</span></label>
                <div class="col-sm-10">
                    <?php echo $this->formTextarea($form->get('value')); ?>
                </div>
            </div> 
        <div class="form-group">
                <label class="col-sm-2 control-label" for="">Description</label>
                <div class="col-sm-10">
                    <?php echo $this->formTextarea($form->get('desc')); ?>
                </div>
            </div>  
         <div class="form-group">
                <label class="col-sm-2 control-label" for="">Group <span class="asterisk">*</span></label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('group')); ?>
                </div>
            </div>  
       <div class="form-group">
                <label class="col-sm-2 control-label" for="">Module</label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('module')); ?>
                </div>
            </div> 
         
         
    </div>
    <input type="hidden" name="callaction" id="callaction" value=""/>
     <?php echo $this->formHidden($form->get('id')); ?>
    <?php echo $this->form()->closeTag(); ?>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var $identity = $('#name');
        if($identity.length > 0){
            if($identity.val()!==''){
                $identity.attr('readonly','true');
            }
        }  
    });
</script>