<?php $this->layout()->setVariable('heading', 'Site Information'); ?>
<div class="actions pull-right">
    <button class="btn btn-success" onclick="App.submitForm('apply')" ><i class="fa fa-apply"></i>&nbsp;Save</button> &nbsp;&nbsp;

</div>
<div class="clearfix"></div>
<p>&nbsp;</p>
<div class="clear">&nbsp;</div>
<?php echo $this->flashMessenger(); ?>
<div id="view-content">
    <div class="col-sm-12">
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formMessenger()->showMessage($form);
        ?>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Site Name <span class="asterisk">*</span></label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('sitename')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Site Status <span class="asterisk">*</span></label>
                <div class="col-sm-10">
                    <?php echo $this->formSelect($form->get('sitestatus')); ?>
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Google Analytic</label>
                <div class="col-sm-10">
                    <?php echo $this->formTextarea($form->get('ga')); ?>
                </div>
            </div>  
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Meta keyword</label>
                <div class="col-sm-10">
                    <?php echo $this->formTextarea($form->get('metakeyword')); ?>
                </div>
            </div>  
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Meta description</label>
                <div class="col-sm-10">
                    <?php echo $this->formTextarea($form->get('metadescription')); ?>
                </div>
            </div>  

        </div>
        <input type="hidden" name="callaction" id="callaction" value=""/>
        <?php echo $this->formHidden($form->get('group')); ?>
        <?php echo $this->formHidden($form->get('module')); ?>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
