<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-1 col-lg-9 order-lg-1 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Personal Information</h6>
				</div>
				<div class="ui-block-content">

					
					<!-- Personal Information Form  -->
					
					<form method="post" id="profileForm">
						<div class="row">
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">First Name</label>
									<input class="form-control" name="first_name" placeholder="" type="text" value="">
								</div>
					
								<div class="form-group label-floating">
									<label class="control-label">Your Email</label>
									<input disabled="disabled" class="form-control" placeholder="" type="email" value="jspiegel@yourmail.com">
								</div>
								<div class="form-group label-floating">
									<label class="control-label">Upload Avatar</label>
									<input id="upload" type="file" name="file-upload">
								</div>
							</div>
					
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">Last Name</label>
									<input class="form-control" name="last_name" placeholder="" type="text" value="Spiegel">
								</div>
					
					
								<div class="form-group label-floating is-empty">
									<label class="control-label">Your Phone Number</label>
									<input class="form-control" name="phone" placeholder="" type="text">
								</div>
							</div>
							<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
								<button class="btn btn-primary btn-lg full-width">Save all Changes</button>
							</div>
					
						</div>
					</form>
					
					<!-- ... end Personal Information Form  -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Your Account Personal Information -->