<?php

if ($type) {
    $onclickCancel = 'onclick="App.gotoURL(baseurl + \'/admin/post?type=' . $type . '\')"';
} else {
    $onclickCancel = 'onclick="App.gotoURL(baseurl + \'/admin/post\')"';
}
?>

<div class="actions text-right">
    <button class="btn btn-primary" onclick="App.submitForm('apply')" ><i class="fa fa-apply"></i>&nbsp;<?php echo $this->translate('Apply'); ?></button> &nbsp;&nbsp;
    <button class="btn btn-success" onclick="App.submitForm('save')"><i class="fa fa-savelist"></i>&nbsp;<?php echo $this->translate('Save and list'); ?></button> &nbsp;&nbsp;
    <?php if (!$this->id): ?>
        <button style="display:none;" class="btn btn-info" onclick="App.gotoURL(baseurl + '/admin/post/deleteitem/<?php echo $this->id; ?>')"><i class="fa fa-deleteitem"></i>&nbsp;<?php echo $this->translate('Delete'); ?></button> &nbsp;&nbsp;
    <?php endif; ?>
    <button class="btn btn-danger" <?php echo $onclickCancel; ?>><i class="fa fa-cancel"></i>&nbsp;<?php echo $this->translate('Cancel'); ?></button> &nbsp;&nbsp;
</div>
<div class="clearfix"></div>