<?php
$factory = $this->factory();
?>

<div id="filter_form" class="filter form-inline">
    <label><?php echo ('Keyword: '); ?> </label>
    &nbsp;<input type="text" class=" form-control " name="filter_search" id="filter_search" value="<?php print $state->get("filter.search") ?>"/>


    <!--<label ><?php //echo ('Category'); ?></label>
    <select class="form-control  filter_change" name="filter_category" id="filter_category" class="filter_change">
        <option value="">-- all -- </option>
        <?php //echo App\AppView::makeOption($state->get('filter.category'), $factory->getCatTreeOptions()); ?>
    </select>
    -->

    <!--<label ><?php /*echo ('Status'); */?></label>
    <select class="form-control  filter_change" name="filter_status" id="filter_status" class="filter_change">
        <?php /*echo App\AppView::statusOptions($state->get('filter.status')); */?>
    </select>-->

    <?php
/*    $languages = $factory->getLanguage(true, array('status'=>1));
    if($languages){
    */?><!--
        <label ><?php /*echo 'Language'; */?></label>
        <select class="form-control  filter_change" name="filter_language" id="filter_language"  >
            <option value="">-- all -- </option>
            <?php /*echo App\AppView::makeOption($state->get('filter.language'), $languages); */?>
        </select>
    --><?php /*} */?>

    &nbsp;<input type="button" value="<?php echo ('Filter'); ?>" id="filter" class="btn btn-primary"/>
    &nbsp;<input type="button" value="<?php echo ('Reset'); ?>" id="reset" name="data[reset]" class="btn btn-default" autocomplete="off"/>
</div>
