<?php $this->layout()->setVariable('heading', 'Edit Contest'); ?>
<?php include(__DIR__ . '/partial/edittoolbar.phtml'); ?>
<?php echo $this->flashMessenger(); ?>
<div class="clear">&nbsp;</div>
<div id="view-content">
    <div class="col-sm-12">
        <?php
        $form = $this->form;

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formMessenger()->showMessage($form);
        ?>

        <div class="panel-body">
            <?php
               if(file_exists(__DIR__ . "/partial/form_full.phtml")) {
                    include_once(__DIR__ . "/partial/form_full.phtml");
                }
            ?>
        </div>
        <?php echo $this->formHidden($form->get('id')); ?>
        <input type="hidden" name="callaction" id="callaction" value=""/>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
<div class="clear">&nbsp;</div>
<?php include(__DIR__ . '/partial/edittoolbar.phtml'); ?>