<div class="container-fluid page__container">
    <div class="page__heading d-flex align-items-center mb-0">
        <div class="flex">
            <h2 class="m-0">History</h1>
        </div>
    </div>
</div>
<div class="container-fluid page__container">
    <div class="row" data-toggle="dragula" data-dragula-containers="[&quot;#cards-left&quot;, &quot;#cards-right&quot;]">
        <div class="col-md">
            <div class="card-form__body card-body-form-group flex">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="select01"></label>
                            <select id="charge-month" @change="getChargedHistory" data-toggle="select" class="custom-select">
                                <?php 
                                $month = (int) date('m');

                                for($i = 1; $i <= 12; $i++) {
                                    $selected = ($month == $i) ? ' selected=""' : '';
                                    echo '<option value="'.$i.'"'.$selected.'>Tháng '.$i.'</option>';
                                } ?>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="select01"></label>
                            <select id="charge-year" @change="getChargedHistory" data-toggle="select" class="custom-select">
                                <?php 
                                $year = date('Y');
                                $preyear = $year - 1;
                                $nextyear = $year + 1;
                                ?>
                                <option value="<?php echo $preyear; ?>"><?php echo $preyear; ?></option>
                                <option selected="" value="<?php echo $year; ?>"><?php echo $year; ?></option>
                                <option value="<?php echo $nextyear; ?>"><?php echo $nextyear; ?></option>
                            </select>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
    	<div class="card card-body text-center">
            <div class="d-flex flex-row align-items-center">
                <div class="card-header__title m-0"><i class="material-icons  icon-muted icon-30pt">perm_identity</i> Học sinh</div>
                <div class="text-amount ml-auto"><span id="charged-count"></span>/<span id="student-count"></span></div>
            </div>
        </div>
        <div class="card card-body text-center">
            <div class="d-flex flex-row align-items-center">
                <div class="card-header__title m-0"><i class="material-icons  icon-muted icon-30pt">attach_money</i> Tổng thu</div>
                <div class="text-amount ml-auto"><span id="charged-sum"></span></div>
            </div>
        </div>
    </div>

    <div class="card card-form">
        <div class="row no-gutters">
            <div class="col-lg-12 card-form__body border-left">

                <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values="[&quot;js-lists-values-employee-name&quot;]">

                    <div class="search-form search-form--light m-3">
                        <input type="text" v-model="searchQuery" class="form-control search" placeholder="Search">
                        <input type="hidden" value="title" id="queryColumn" />
                        <button class="btn" type="button"><i class="material-icons">search</i></button>
                    </div>

                    <table class="table mb-0 thead-border-top-0">
                        <thead>
                            <tr>

                                <th>Tên Học Sinh</th>
                                <th>Đã đóng</th>
                                <th>Thời gian</th>

                                <th style="width: 37px;">Xóa</th>
                                
                            </tr>
                        </thead>
                        <tbody class="list" id="staff02">
                            <tr v-for="student in resultQuery">
                                <td>
                                    <span class="js-lists-values-employee-name">{{ student.title }}</span>
                                </td>
                                <td>
                                    <span class="badge badge-success">{{student.charge}}K</span>
                                </td>
                                <td><small class="text-muted">{{ student.created }}</small></td>
                                <td>
                                    <span class="badge badge-danger" @click="removeFee(student.id)"> Xóa </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

