
<div class="actions pull-right">
    <button class="btn btn-primary" onclick="App.gotoURL(baseurl + '/admin/prize/add')" ><i class="fa fa-plus fa-fw"></i>&nbsp;Add</button> &nbsp;&nbsp;
    <button class="btn btn-danger" onclick="App.submitForm('deleteitem')"><i class="fa fa-trash-o"></i>&nbsp;<?php echo 'Delete' ?></button> &nbsp;&nbsp;
</div>
<div class="clearfix"></div>
<p>&nbsp;</p>