
<?php $this->layout()->setVariable('heading', 'Add Redirect'); ?>
<?php
include_once(__DIR__ . '/partial/edittoolbar.phtml');
?>
<div class="clear">&nbsp;</div>
<?php echo $this->flashMessenger(); ?>
<div id="view-content">
    <div class="col-sm-12">
        <?php
        $form = $this->form;
        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formMessenger()->showMessage($form);
        ?>
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="">From <span class="asterisk">*</span></label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('source')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">To <span class="asterisk">*</span></label>
                <div class="col-sm-10">
                    <?php echo $this->formInput($form->get('dst')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Description</label>
                <div class="col-sm-10">
                    <?php echo $this->formTextarea($form->get('description')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Status</label>
                <div class="col-sm-10">
                   <?php echo $this->formSelect($form->get('status')); ?>
                </div>
            </div>
           
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Redirect</label>
                <div class="col-sm-10">
                  <?php echo $this->formSelect($form->get('header')); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="">Language</label>
                <div class="col-sm-10">
                  <?php echo $this->formSelect($form->get('language')); ?>
                </div>
            </div>
            
            
        </div>
        <input type="hidden" name="callaction" id="callaction" value=""/>
        <?php echo $this->formHidden($form->get('id')); ?>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
