<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Chi Nhánh</h4>
                <h6 class="card-subtitle">Thêm Chi Nhánh</h6>

                <div class="form-group row m-t-40">
                    <label class="col-sm-2 control-label text-right" for="">Tên <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('name')); ?>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Địa Chỉ</label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('address')); ?>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Công Ty <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formSelect($form->get('parent_id')); ?>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Status<span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formSelect($form->get('status')); ?>
                    </div>
                </div>
                <?php echo $this->formHidden($form->get('type')); ?>
                <!--<input type="hidden" name="type" value="<?php /*echo $_GET['type']; */?>" />-->
            </div>
        </div>
    </div>
</div>
