<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Company</h4>
                <h6 class="card-subtitle">Danh Sách Công Ty</h6>

                <div class="table-responsive m-t-40">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" value="1" id="checkall" class="checkall"/></th>
                            <th><?php echo $this->layoutHelper()->header('id', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('name', $state, 'Tên công ty'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('address', $state, 'Địa chỉ'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('email', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('phone', $state, 'điện thoại'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('created', $state, 'ngày tạo'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('status', $state, 'trạng thái'); ?></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($items as $item) : ?>
                            <tr>
                                <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $item['id']; ?>"/></td>
                                <td><a href="<?php echo $this->url('customeradmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $item['id']; ?></a></td>
                                <td><a href="<?php echo $this->url('customeradmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $this->escapeHtml($item['name']); ?></a></td>
                                <td><?php echo $item['address']; ?></td>
                                <td><?php echo $item['email']; ?></td>
                                <td><?php echo $item['phone']; ?></td>
                                <td><?php echo $this->layoutHelper()->dateString($item['created']); ?></td>
                                <td><?php echo $this->layoutHelper()->publishString($item['status']); ?></td>
                                <?php if($item['is_code']==0): ?>
                                    <!--<td><button type="button" onclick="App.Site.sendCode('<?php /*echo $item['id']; */?>')">SEND CODE</button></td>-->
                                <?php else: ?>
                                    <!--<td>Đã có code</td>-->
                                <?php endif; ?>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>