<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Company</h4>
                <h6 class="card-subtitle">Thêm Công Ty</h6>

                <div class="form-group row m-t-40">
                    <label class="col-sm-2 control-label text-right" for="">Tên <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('name')); ?>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Địa Chỉ</label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('address')); ?>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Email Công Ty <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('email')); ?>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Điện thoại <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('phone')); ?>
                    </div>
                </div>

                <?php if($showBranchInput): ?>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right" for="">Chi Nhánh Công Ty</label>
                        <div class="col-sm-8">
                            <input name="company_branch" type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right" for="">Địa Chỉ Chi Nhánh</label>
                        <div class="col-sm-8">
                            <input name="company_branchaddress" type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right" for="">Phòng Ban</label>
                        <div class="col-sm-8">
                            <input name="company_department" type="text" class="form-control" value="">
                        </div>
                    </div>
                <?php endif; ?>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Status<span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formSelect($form->get('status')); ?>
                    </div>
                </div>
                <?php echo $this->formHidden($form->get('type')); ?>
                <!--<input type="hidden" name="type" value="<?php /*echo $_GET['type']; */?>" />-->
            </div>
        </div>
    </div>
</div>
