<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Customer</h4>
                <h6 class="card-subtitle">Thêm Khách Hàng</h6>

                <div class="form-group row m-t-40">
                    <label class="col-sm-2 control-label text-right" for="">Tên người mua <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('name')); ?>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Ngày sinh </label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('dob')); ?>
                    </div>
                </div>
                <div class="form-group row company-searchable">
                    <label class="col-sm-2 control-label text-right" for="">Công ty <span class="asterisk">*</span></label>
                    <div class="col-sm-6">
                        <?php echo $this->formInput($form->get('company')); ?>
                        <?php // echo $this->formHidden($form->get('company_id')); ?>
                        <input name="company_id" id="company-id" type="hidden" class="required form-control" value="<?php echo $company_id ? $company_id : ''; ?>">
                        <ul class="company-suggestion-list list-group"></ul>
                    </div>
                    <div class="cold-sm-2">
                        <a target="_blank" href="<?php echo BASE_URL.'/admin/customer/add?type=company'; ?>"><button type="button" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i>&nbsp;Add</button></a>
                    </div>
                    <div class="col-sm-2">
                        <div class="custom-control custom-checkbox mr-sm-2 mt-2">
                            <input type="checkbox" class="custom-control-input" id="is_personal_customer" value="" <?php echo ($form->get('company_id')->getValue() || $_page == 'ADD') ? '' : ' checked' ?>>
                            <label class="custom-control-label" for="is_personal_customer">Khách lẻ</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Chi Nhánh</label>
                    <div class="col-sm-3">
                        <select name="branch_id" id="branch-select" class="form-control">
                            <?php
                                foreach ($branches as $branch) {
                                    $selected = ($branch['id'] == $branch_id) ? ' selected' : '';
                                    echo '<option value="'.$branch['id'].'" '.$selected.'>'.$branch['name'].'</option>';
                                }
                            ?>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label text-right" for="">Phòng Ban</label>
                    <div class="col-sm-3">
                        <select name="department_id" id="department-select" class="form-control">
                            <?php
                            foreach ($departments as $department) {
                                $selected = ($department['id'] == $department_id) ? ' selected' : '';
                                echo '<option value="'.$department['id'].'" '.$selected.'>'.$department['name'].'</option>';
                            }
                            ?>
                        </select>
                    </div>
                </div>

                <div class="form-group row" id="personal_customer">
                    <label class="col-sm-2 control-label text-right" for="">Địa chỉ khách lẻ <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('address')); ?>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Số điện thoại <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('phone')); ?>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Email <span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formInput($form->get('email')); ?>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Ghi Chú</label>
                    <div class="col-sm-8">
                        <?php echo $this->formTextarea($form->get('note')); ?>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label text-right" for="">Status<span class="asterisk">*</span></label>
                    <div class="col-sm-8">
                        <?php echo $this->formSelect($form->get('status')); ?>
                    </div>
                </div>
                <?php //echo $this->formHidden($form->get('csrf')); ?>
                <?php echo $this->formHidden($form->get('type')); ?>
                <!--<input type="hidden" name="type" value="<?php /*echo $_GET['type']; */?>" />-->
            </div>
        </div>
    </div>
</div>
