<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Customer</h4>
                <h6 class="card-subtitle">Danh Sách Khách Hàng</h6>
                <div class="table-responsive m-t-40">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><input type="checkbox" value="1" id="checkall" class="checkall"/></th>
                            <th><?php echo $this->layoutHelper()->header('id', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('name', $state, 'Tên'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('company', $state, 'Công Ty / Địa Chỉ'); ?></th>
                            <th><a href="javascript:void(0);">Chi Nhánh</a> </th>
                            <th><?php echo $this->layoutHelper()->header('phone', $state, 'Điện Thoại'); ?></th>
                            <th><a href="javascript:void(0);">Điểm Hiện Tại</a> </th>
                            <th><?php echo $this->layoutHelper()->header('exchange_score', $state, 'Điểm Đổi'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('member_class', $state, 'Hạng Thành Viên'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('created', $state, 'Ngày Tạo'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('status', $state, 'Trạng Thái'); ?></th>
                            <th><a href="javascript:void(0);">Đổi Quà</a> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($items as $item) : ?>
                            <tr>
                                <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $item['id']; ?>"/></td>
                                <td><a href="<?php echo $this->url('customeradmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $item['id']; ?></a></td>
                                <td><a href="<?php echo $this->url('customeradmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $this->escapeHtml($item['name']); ?></a></td>
                                <td><?php echo ($item['company_id']) ? $item['companyName'] : $item['address']; ?></td>
                                <td><?php echo ($item['company_id']) ? $item['branchName'] : '-'; ?></td>
                                <td><?php echo $item['phone']; ?></td>
                                <td><div class="label label-table label-info"><?php echo $item['score'] - $item['exchange_score']; ?></div></td>
                                <td><div class="label label-table label-danger"><?php echo $item['exchange_score']; ?></div></td>
                                <td><?php echo $item['rankTitle']; ?></td>
                                <td><?php echo $this->layoutHelper()->dateString($item['created']); ?></td>
                                <td><?php echo $this->layoutHelper()->publishString($item['status']); ?></td>
                                <td><a target="_blank" href="<?php echo $this->url('exchange', array('id' => $item['id'])); ?>"><div class="label label-table label-primary"><i class="ti-gift"></i></div></a></td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>