<div id="filter_form" class="filter form-inline m-b-20" >
    <label><?php echo ('Tìm Kiếm: '); ?></label> &nbsp;&nbsp;
    <input type="text" class="form-control" name="filter_search" id="filter_search" placeholder="" value="<?php print $state->get("filter.search") ?>"/>&nbsp;

    <label ><?php echo ('Từ Ngày'); ?></label> &nbsp;&nbsp;
    <input type="input" class=" form-control " name="filter_from_date" id="filter_from_submit_date" value="<?php print $state->get("filter.from_date") ?>">
    &nbsp;

    <label ><?php echo ('Đến ngày'); ?></label> &nbsp;&nbsp;
    <input type="input" class=" form-control " name="filter_to_date" id="filter_to_submit_date" value="<?php print $state->get("filter.to_date") ?>" >
    &nbsp;
    <br><br>

    <input type="button" value="<?php echo ('Filter'); ?>" id="filter" class="btn btn-primary"/> &nbsp;&nbsp;
    <input type="button" value="<?php echo ('Reset'); ?>" id="reset" name="data[reset]" class="btn btn-default" autocomplete="off"/>
</div>
    