<p> sdsdf
Chào <?php echo $this->name; ?>,
</p>
<p>Chúc mừng bạn, bạn đã đăng ký thành công</p>
<p>
    Để hoàn tất quá trình đăng ký, Bạn vui lòng click <a href="<?php echo BASE_URL.'/user/active?code='.$this->activation_code; ?>">vào đây</a> để kích hoạt tài khoản của bạn. <br/>
    (link tới <a href="<?php echo BASE_URL.'/user/active?code='.$this->activation_code; ?>"><?php echo BASE_URL.'/user/active?code='.$this->activation_code; ?></a>)
     
</p>