<p>
    Chào <?php echo $this->name; ?>,
</p>
<p>Chúc mừng bạn, bạn đã đăng ký thành công</p>
<p>
    Thông tin tài khoản của bạn:
    ----------------------------------------------------
    Email: <?php echo $this->email; ?><br/>
    Password: <?php echo $this->password; ?><br/>
</p>
<p>
    Để đăng nhập, vui lòng <a href="<?php echo BASE_URL . '/user/login' ?>">click vào đây</a>
</p>