<div class="container">
	<?php if($userLogin && $userLogin['id']) :?>
			<div class="row">
				<div class="col col-xl-9 order-xl-1 col-lg-9 order-lg-1 col-md-12 order-md-1 col-sm-12 col-12">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Thông Tin Tài Khoản</h6>
						</div>
						<div class="ui-block-content">

							
							<!-- Personal Information Form  -->
							
							<form enctype="multipart/form-data" method="post" id="profileForm">
								<div class="row">
							
									<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="form-group label-floating">
											<label class="control-label">First Name</label>
											<input class="form-control" name="first_name" placeholder="" type="text" value="<?php echo $userLogin['first_name']; ?>">
										</div>
							
										<div class="form-group label-floating">
											<label class="control-label">Your Email</label>
											<input disabled="disabled" class="form-control" placeholder="" type="email" value="<?php echo $userLogin['email']; ?>">
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Khối</label>
											<input disabled="disabled" class="form-control" placeholder="" type="text" value="<?php echo $userLogin['class']; ?>">
										</div>
										
										<div class="form-group label-floating">
											<label class="control-label">Upload Avatar <span class="text-danger">(File JPG, PNG < 1MB)</span></label>
											<input id="upload" accept=".jpg,.png" type="file" name="upload_avatar">
										</div>
									</div>
							
									<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="form-group label-floating">
											<label class="control-label">Last Name</label>
											<input class="form-control" name="last_name" placeholder="" type="text" value="<?php echo $userLogin['last_name']; ?>">
										</div>
							
							
										<div class="form-group label-floating">
											<label class="control-label">Your Phone Number</label>
											<input class="form-control" name="phone" placeholder="" value="<?php echo $userLogin['phone']; ?>" type="text">
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Tên Trường</label>
											<input class="form-control" name="social_token" placeholder="" type="text" value="<?php echo $userLogin['social_token']; ?>">
										</div>

										<?php if ($userLogin['avatar']): ?>
											<div class="author-thumb">
												<label class="control-label">Your Avatar</label>
												<img width="60" alt="author" src="<?php echo BASE_URL_MEDIA_IMAGE; ?>/<?php echo $userLogin['avatar']; ?>" class="avatar">
											</div>
										<?php endif; ?>
									</div>
									<div class="col col-lg-6 col-md-6 col-sm-12 col-12">
										<button class="btn btn-primary btn-lg full-width">Save all Changes</button>
									</div>
							
								</div>
							</form>
							
							<!-- ... end Personal Information Form  -->
						</div>
					</div>
				</div>
			</div>
    <?php else: ?>
        <div class="row">
            <div class="col col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                <img src="<?php echo BASE_URL_SOCIAL ?>/svg-icons/login.svg" alt="error_500">
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="crumina-module crumina-heading">
                    <h1 class="page-500-sup-title">403</h1>
                    <h2 class="h1 heading-title">Đăng nhập vào lớp</h2>
                    <p class="heading-text">Bạn cần đăng nhập vào lớp để xem được nội dung này!
                    </p>
                </div>
                <a href="javascript:void(0);" onclick="App.Popup.openLogin();" class="btn btn-primary btn-lg">Đăng nhập</a>
            </div>
        </div>
    <?php endif; ?>
</div>

<!-- ... end Your Account Personal Information -->