<?php
$form = $this->form;
$form->prepare();
?>
<h1 class="page-header">Contact us</h1>
<div>
    <?php echo $this->formMessenger()->showMessage($form); ?>
</div>
<div class="contact">
    <?php
    echo $this->form()->openTag($form);
    ?>
    <ul class="form contact">
        <li>
            <label for="name"><span class="asterisk">*</span>Name:</label>
            <?php echo $this->formInput($form->get('name')); ?>
        </li>
        <li>
            <label for="email"><span class="asterisk">*</span>Email:</label>
            <?php echo $this->formInput($form->get('email')); ?>
        </li>
        <li>
            <label for="phone"><span class="asterisk">*</span>Phone:</label>
            <?php echo $this->formInput($form->get('phone')); ?>
        </li>
        <li>
            <label for="message"><span class="asterisk">*</span>Message:</label>
            <?php echo $this->formTextarea($form->get('message')); ?>
        </li>
        <li class="action">
            <input type="button" class="btn btn-primary" id="contact-submit" value="Send"/>
            <input type="reset" class="btn btn-default" id="reset" value="Clear"/>
        </li>
    </ul>
    <?php echo $this->form()->closeTag(); ?>
</div>