<link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Fredoka+One&display=swap" rel="stylesheet">
<!--Trong này sẽ đổi lại khi ráp html -->
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_SOCIAL; ?>/Bootstrap/dist/css/bootstrap-reboot.css">
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_SOCIAL; ?>/Bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_SOCIAL; ?>/Bootstrap/dist/css/bootstrap-grid.css">

<!-- Main Styles CSS -->
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_SOCIAL; ?>/css/main.css">
<link rel="stylesheet" type="text/css" href="<?php echo BASE_URL_SOCIAL; ?>/css/fonts.min.css">
<!--End Trong này sẽ đổi lại khi ráp html -->

<link rel="stylesheet" href="<?php echo BASE_URL_SKIN_DCUSTOM; ?>/styles/dstyle.css?v=5"/>