<!--Trong này sẽ đổi lại khi ráp html -->
<!-- JS Scripts -->
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/jQuery/jquery-3.4.1.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/jquery.appear.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/jquery.mousewheel.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/perfect-scrollbar.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/jquery.matchHeight.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/svgxuse.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/imagesloaded.pkgd.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/Headroom.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/velocity.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/ScrollMagic.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/jquery.waypoints.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/jquery.countTo.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/popper.min.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/material.min.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/bootstrap-select.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/smooth-scroll.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/selectize.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/swiper.jquery.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/moment.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/daterangepicker.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/fullcalendar.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/isotope.pkgd.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/ajax-pagination.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/Chart.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/chartjs-plugin-deferred.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/circle-progress.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/loader.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/run-chart.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/jquery.magnific-popup.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/jquery.gifplayer.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/mediaelement-and-player.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/mediaelement-playlist-plugin.min.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/sticky-sidebar.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs/ion.rangeSlider.js"></script>

<script src="<?php echo BASE_URL_SOCIAL; ?>/js/main.js"></script>
<script src="<?php echo BASE_URL_SOCIAL; ?>/js/libs-init/libs-init.js"></script>
<script defer src="<?php echo BASE_URL_SOCIAL; ?>/fonts/fontawesome-all.js"></script>

<script src="<?php echo BASE_URL_SOCIAL; ?>/Bootstrap/dist/js/bootstrap.bundle.js"></script>
<!--End Trong này sẽ đổi lại khi ráp html -->

<script src="<?php echo BASE_URL_SKIN_JS ?>/jquery.validate.js"></script>
<script src="<?php echo BASE_URL_SKIN_DCUSTOM ?>/scripts/dcommon.js?v=5"></script>
