<?php
$siteMeta = $this->layout()->siteMeta;
//print_r($siteMeta); die;
$siteName = $siteMeta['title'];
$srcImage = $site_infos['site_image']['title'];

if ($this->layout()->page == 'home') {
    $title = $siteMeta['title'];
    $description = $home_infos['home_desc']['title'];
} else {
    $title = $siteMeta['title'].' - '.$site_infos['site_name']['title'];
    $description = $site_infos['site_desc']['title'];
}
// $description = $siteMeta['description'];
$urlShare = BASE_URL;
?>
<link rel="image_src" type="image/png" href="<?php echo $srcImage; ?>" />
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="3 days" />
<meta name="rating" content="general" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />  

<!-- Social: Facebook / Open Graph -->
<meta property="og:title" content="<?php echo $title; ?>" />
<meta property="og:type" content="website" />
<meta property="og:image" content="<?php echo $srcImage; ?>" />
<meta property="og:url" content="<?php echo $urlShare; ?>" />
<meta property="og:site_name" content="<?php echo $siteName; ?>" />
<meta property="og:description" content="<?php echo $description; ?>" />   

<!-- Social: Twitter -->
<meta name="twitter:title" content="<?php echo $title; ?>">
<meta name="twitter:description" content="<?php echo $description; ?>">
<meta name="twitter:image:src" content="<?php echo $srcImage; ?>">

<!-- Social: Google+ / Schema.org  -->
<meta itemprop="name" content="<?php echo $title; ?>">
<meta itemprop="description" content="<?php echo $description; ?>">
<meta itemprop="image" content="<?php echo $srcImage; ?>">
