<?php if($user && $user['id']) : ?>
<?php else: ?>
<div class="modal fade" id="registration-login-form-popup" tabindex="-1" role="dialog" aria-labelledby="registration-login-form-popup" aria-hidden="true">
	<div class="modal-dialog window-popup registration-login-form-popup" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="modal-body">
				<div class="registration-login-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item active">
							<a id="login-tab" class="nav-link active" data-toggle="tab" href="#logintab" role="tab">
								<svg class="olymp-login-icon">
									<use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-login-icon"></use>
								</svg>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="reg-icon" data-toggle="tab" href="#regtab" role="tab">
								<svg class="olymp-register-icon">
									<use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-register-icon"></use>
								</svg>
							</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane" id="regtab" role="tabpanel" data-mh="log-tab">
							<div class="title h6">Đăng ký vào lớp</div>
							<form id="registerForm" class="content">
								<div class="row">
									<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
										<div class="form-group label-floating">
											<label class="control-label">Họ</label>
											<input name="first_name" class="form-control" placeholder="" type="text">
										</div>
									</div>
									<div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
										<div class="form-group label-floating">
											<label class="control-label">Tên</label>
											<input name="last_name" class="form-control" placeholder="" type="text">
										</div>
									</div>
									<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<div class="form-group label-floating">
											<label class="control-label">Số điện thoại</label>
											<input name="phone" class="form-control" placeholder="" type="tel">
										</div>
										<div class="form-group label-floating">
											<label class="control-label">Email</label>
											<input name="email" class="form-control" placeholder="" type="email">
										</div>
										<div class="form-group label-floating">
											<label class="control-label">Mật khẩu</label>
											<input name="password" class="form-control" placeholder="" type="password">
										</div>

										<div class="form-group label-floating is-select">
											<label class="control-label">Khối mấy?</label>
											<select name="class" class="selectpicker form-control">
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>

										<div class="form-group date-time-picker label-floating">
											<label class="control-label">Ngày sinh</label>
											<input name="datetimepicker" value="10/10/2002" />
											<span class="input-group-addon">
											<svg class="olymp-calendar-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
										</span>
										</div>

										<div class="form-group label-floating is-select">
											<label class="control-label">Giới tính</label>
											<select name="gender" class="selectpicker form-control">
												<option value="Male">Nam</option>
												<option value="Female">Nữ</option>
											</select>
										</div>

										<div class="remember">
											<div class="checkbox">
												<label>
													<input checked="checked" name="optionsCheckboxes" type="checkbox">
													Em muốn đăng ký vào lớp thầy Thanh :)
												</label>
											</div>
										</div>

										<a href="#" onclick="App.Site.register();" class="btn btn-purple btn-lg full-width">Hoàn Tất Đăng Ký</a>

										<div class="text-center full-width">
											<p id="reg-success" style="display: none;" class="text-success">Đăng ký tài khoản thành công!</p>
											<p id="reg-error" style="display: none;" class="text-danger">Error</p>
										</div>
									</div>
								</div>
							</form>
						</div>

						<div class="tab-pane active" id="logintab" role="tabpanel" data-mh="log-tab">
							<div class="title h6">Đăng nhập vào lớp</div>
							<form id="loginForm" class="content">
								<div class="row">
									<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
										<div class="form-group label-floating">
											<label class="control-label">Email</label>
											<input class="form-control" required name="email" placeholder="" type="email">
										</div>
										<div class="form-group label-floating">
											<label class="control-label">Mật khẩu</label>
											<input class="form-control" required name="password" placeholder="" type="password">
										</div>

										<a href="#" onclick="App.Site.login();" class="btn btn-lg btn-primary full-width">Đăng Nhập</a>
										<a onclick="$('#reg-icon').click();" href="javascript:void(0);">Đăng Ký</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>

<div class="modal fade" id="notification-popup" tabindex="-1" role="dialog" aria-labelledby="edit-widget-pool" aria-hidden="true">
	<div class="modal-dialog window-popup edit-widget edit-widget-pool" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="<?php echo BASE_URL_SOCIAL; ?>/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Thông báo</h6>
			</div>

			<div class="modal-body">
			<p id="notify-content"></p>

			<div class="row">
				<div class="col col-lg-6 col-sm-12 col-12">
					<a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-secondary btn-md full-width">Xem lại bài</a>
				</div>

				<div class="col col-lg-6 col-sm-12 col-12">
					<a href="javascript:void(0);" id="notify-ok" notification="" onclick="App.Popup.accept(this);" class="btn btn-primary btn-md full-width">Đồng ý</a>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>