<div class="form-group">
    <label class="col-sm-2 control-label" for="">Title <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('title')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Slug <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('slug')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Language Code <span class="asterisk">*</span></label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('lang_code')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Ordering</label>
    <div class="col-sm-10">
        <?php echo $this->formInput($form->get('ordering')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Description</label>
    <div class="col-sm-10">
        <?php echo $this->formTextarea($form->get('description')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Default</label>
    <div class="col-sm-10">
        <?php echo $this->formSelect($form->get('is_default')); ?>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="">Status</label>
    <div class="col-sm-10">
        <?php echo $this->formSelect($form->get('status')); ?>
    </div>
</div>
<?php //echo $this->formHidden($form->get('csrf')); ?>