
<div class="actions pull-right">
    <button class="btn btn-primary" onclick="App.gotoURL(baseurl + '/admin/setting/redirect/add')" ><i class="fa fa-plus fa-fw"></i>&nbsp;Add</button> &nbsp;&nbsp;
    <button class="btn btn-success" onclick="App.submitForm('publish')"><i class="fa fa-check"></i>&nbsp;<?php echo 'Publish' ?></button> &nbsp;&nbsp;
    <button class="btn btn-info" onclick="App.submitForm('unpublish')"><i class="fa fa-times-circle"></i>&nbsp;<?php echo 'Unpublish' ?></button> &nbsp;&nbsp;
    <button class="btn btn-danger" onclick="App.submitForm('deleteitem')"><i class="fa fa-trash-o"></i>&nbsp;<?php echo 'Delete' ?></button> &nbsp;&nbsp;
</div>
<div class="clearfix"></div>
<p>&nbsp;</p>