<?php $this->layout()->setVariable('heading', 'Manage User'); ?>
<?php
include_once(__DIR__ . '/partial/indextoolbar.phtml');
?>
<?php echo $this->flashMessenger(); ?>
<div class="clear"></div>
<div id="view-content">
    <div class="col-sm-12">
        <form method="post" action="" role="form">
            <?php include_once(__DIR__ . '/partial/filter.phtml'); ?>
            <div class="clearfix">&nbsp;</div>
            <div class="table-primary">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th><input type="checkbox" value="1" id="checkall" class="checkall"/></th>
                            <th><?php echo $this->layoutHelper()->header('id', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('name', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('email', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('phone', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('member', $state, 'Thành viên'); ?></th>
                            <th><?php echo $this->layoutHelper()->header('created', $state); ?></th>
                            <th><?php echo $this->layoutHelper()->header('status', $state); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($items as $item) : ?>
                            <tr>
                                <td><input type="checkbox" class="checkitem" name="data[Choose][]"  value="<?php echo $item['id']; ?>"/></td>
                                <td><a href="<?php echo $this->url('useradmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $item['id']; ?></a></td>
                                <td><a href="<?php echo $this->url('useradmin', array('action' => 'edit', 'id' => $item['id'])); ?>"><?php echo $this->escapeHtml($item['name']); ?></a></td>                      
                                <td><?php echo $item['email']; ?></td>
                                <td><?php echo $item['phone']; ?></td>
                                <td><?php echo $item['member'] ? '<lable class="text-info">offline</label>' : "online"; ?></td>
                                <td><?php echo $this->layoutHelper()->dateString($item['created']); ?></td>
                                <td><?php echo $this->layoutHelper()->publishString($item['status']); ?></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            <div class="pagination-container">
                <?php
                echo $paging->getPagingLink();
                echo $paging->getPagingInfo();
                ?>
            </div>
            <input type="hidden" name="callaction" id="callaction" value=""/>
            <input type="hidden" name="choose[]" value=""/>
            <input type="hidden" name="filter_order" id="filter_order" value="<?php echo $filter_order; ?>"/>
            <input type="hidden" name="filter_order_Dir" id="filter_order_Dir" value="<?php echo $filter_order_Dir; ?>"/>
        </form>
    </div>
</div>