<div id="filter_form" class="filter form-inline m-b-20" >
    <label><?php echo ('Tìm Kiếm: '); ?></label> &nbsp;&nbsp;
    <input type="text" class="form-control" name="filter_search" id="filter_search" placeholder="" value="<?php print $state->get("filter.search") ?>"/>&nbsp;

    <input type="button" value="<?php echo ('Filter'); ?>" id="filter" class="btn btn-primary"/> &nbsp;&nbsp;
    <input type="button" value="<?php echo ('Reset'); ?>" id="reset" name="data[reset]" class="btn btn-default" autocomplete="off"/>
</div>
    